<!-- <app-expert-login-header></app-expert-login-header> -->
<app-header></app-header>
<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-expert-sidebar></app-expert-sidebar>
      <div class="col-md-9 col-sm-8 col-xs-12">

        <div class="col-md-12 adding-articles" >
          <div class="col-md-6 article-buttons">

            <button [routerLink]="['/createarticle']" title="Add Article" class="btn">Add Article </button>
          </div>
            
           
      

          <div class="col-md-6 selecting-tag">

           
              <select class="form-control"  (change)="getcategoryarticle($event)">
                <option value="">Select tag</option>
                <option value="Diabesity"> Diabesity</option>
                <option value="Gut Health"> Gut Health</option>
                <option value="Healthy Foods"> Healthy Foods</option>
                <option value="Staying Young"> Staying Young</option>
                <option value="Therapeutic"> Therapeutic</option>
                <option value="Lifestyle">Lifestyle</option>
                <option value="Pregnancy and Babycare"> Pregnancy and BabyCare</option>
                <option value="Geriatric Care">Geriatric Care</option>
                <option value="Holistic healing">Holistic healing</option>
                <option value="nutrition">nutrition</option>
                <option value="opinions">opinions</option>
                <option value="feeds">feeds</option>
              </select>
           

            </div>

          </div>

      <div class="col-md-12">
        <div class="blog-section">
      
          <ngx-masonry  [options]="{ transitionDuration: '0.8s' }" [useImagesLoaded]="true">
                    <ngxMasonryItem class="masonry-item" *ngFor="let article of articleData | paginate: { itemsPerPage: 6,         currentPage: p }">
                        <div class="item" >
                            <div class="blog-detail"  style="cursor:pointer">
                              <div class="blog-li" *ngIf="article?.projectionimage" (click)="navigatesinglearticle(article._id)"><img src="{{projectionimageurl}}{{article?.projectionimage}}" alt="" class="img-responsive"></div>
                              <div class="blog-li" *ngIf="!article?.projectionimage && article?.articletype =='article'" (click)="navigatesinglearticle(article._id)"><img src="./assets/images/noimage.jpg" alt="" class="img-responsive"></div>
                              <div class="blog-li" *ngIf="article?.articletype == 'video'">
                                <iframe height="270px" width="100%" class="embed-responsive-item" [src]='sanitizer.bypassSecurityTrustResourceUrl(article.youtubelink)' frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                                <div class="blog-details-info">
                        
                                  <h3 (click)="navigatesinglearticle(article._id)">{{article?.title}}</h3>
        
        
        
                                  <div *ngIf="!article?.isEnabled && !article?.mailsentbyadmin" class="alert alert-warning text-center ">Awaiting response from Admin</div>
                                  <button *ngIf="!article?.isEnabled && article?.mailsentbyadmin" (click)="approvearticle(article._id)" class="btn btn-block btn-publish">Publish</button>
                                  <!-- <button *ngIf="article?.isEnabled && !article?.mailsentbyadmin" (click)="approvearticle(article._id)" class="btn btn-primary btn-block">Publish</button> -->
        
                                  <!-- <div><a style="cursor:pointer;" (click)="singlearticle(article._id)" class="pull-left">Read Article</a> <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i><div class="clearfix"></div></div> -->
                                </div>
                              </div>
                            </div>
                            <div *ngIf="!articlecount">Sorry No Article Added Yet.</div>
        
                     </ngxMasonryItem>
                 </ngx-masonry>


              










              <!-- <div class="blog-left-wrapper">
                <div class="grid effect-2" id="grid">
                  <div class="item" *ngFor="let article of articleData | paginate: { itemsPerPage: 6,         currentPage: p }">
                    <div class="blog-detail"  style="cursor:pointer">
                      <div class="blog-li" *ngIf="article?.projectionimage" (click)="navigatesinglearticle(article._id)"><img src="{{projectionimageurl}}{{article?.projectionimage}}" alt="" class="img-responsive" style="height:270px;"></div>
                      <div class="blog-li" *ngIf="!article?.projectionimage && article?.articletype =='article'" (click)="navigatesinglearticle(article._id)"><img src="./assets/images/noimage.jpg" alt="" class="img-responsive"></div>
                      <div class="blog-li" *ngIf="article?.articletype == 'video'">
                        <iframe height="270px" width="100%" class="embed-responsive-item" [src]='sanitizer.bypassSecurityTrustResourceUrl(article.youtubelink)' frameborder="0"
                        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>
                        <div class="blog-details-info">
                
                          <h3 style="cursor:pointer;" (click)="navigatesinglearticle(article._id)">{{article?.title}}</h3>



                          <div *ngIf="!article?.isEnabled && !article?.mailsentbyadmin" class="alert alert-warning text-center ">Awaiting response from Admin</div>
                          <button *ngIf="!article?.isEnabled && article?.mailsentbyadmin" (click)="approvearticle(article._id)" class="btn btn-block btn-publish">Publish</button>
                        </div>
                      </div>
                    </div>
                    <div *ngIf="!articlecount">Sorry No Article Added Yet.</div>

                  </div>
                </div>
              </div> -->
            <!-- </div>
          </div>-->
        </div> 
        <br>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
        <br><br>
        <div class="xprt-panel-right" *ngIf="!articleData">
          <div class="xprt-right-column">
            <p> No Records</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

<div class="modal fade" id="vedioarticleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login" role="document">
    <div class="popup">
      <a class="close" style="cursor:pointer" id="close_video_modal" data-dismiss="modal" >&times;</a>
      <h1>Add video article</h1>
      <p-growl [(value)]="msg"></p-growl>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <form class="form-horizontal" (submit)="videoarticlesave()">
          <!-- <div class="form-group">
            <label>Content Category</label>
            <select [(ngModel)]="contentcategory" name="contentcategory" class="form-control">
              <option value="">--- Please select Content Category ---</option>
              <option value="Diabesity"> Diabesity</option>
              <option value="Gut Health"> Gut Health</option>
              <option value="Healthy Foods"> Healthy Foods</option>
              <option value="Staying Young"> Staying Young</option>
              <option value="Therapeutic"> Therapeutic</option>
              <option value="Lifestyle">Lifestyle</option>
              <option value="Pregnancy and Young"> Pregnancy and BabyCare</option>
              <option value="Geriatric Care">Geriatric Care</option>
              <option value="Holistic healing">Holistic healing</option>
            </select> -->
            <!-- <span class="text-danger" *ngIf="regForm.get('title').touched && regForm.get('title').invalid">
            <span *ngIf="regForm.get('title').hasError('required')">Error: Field Required</span>
          </span> -->
        <!-- </div> -->
        <div class="form-group">
          <label>Title</label>
          <input type="text" [(ngModel)]="title" class="form-control" name="title" placeholder="Article Title">
          <!-- <span class="text-danger" *ngIf="regForm.get('title').touched && regForm.get('title').invalid">
          <span *ngIf="regForm.get('title').hasError('required')">Error: Field Required</span>
        </span> -->
      </div>
      <div class="form-group">
        <label>Summary <font color="red">*</font>:</label>
        <textarea type="text" [(ngModel)]="videosummary" placeholder="Article Summary" name="summary" class="form-control"></textarea>
      </div>
      <!-- <div class="form-group">
      <input type="text" class="form-control" (blur)="checkemailpresence()" formControlName="email" name="email" placeholder="Email">
      <span class="text-danger" *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
      <span *ngIf="regForm.get('email').hasError('required')">Error: Field Required</span>
      <span *ngIf="regForm.get('email').hasError('email')">Erorr: Invalid Email</span>
    </span>
  </div> -->
  <div class="form-group">
    <label>Select Tags  </label><br>
    <p-autoComplete [(ngModel)]="selectedItems" name="video_tags"   [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
    [minLength]="1" (click)="changemade=true" placeholder="Search tags" field="tag" [multiple]="true">
    </p-autoComplete>
  </div>
  <div class="form-group">
    <label>Youtube Link (Embeded Link required)</label>
    <input type="text" class="form-control" [(ngModel)]="youtubelink" name="youtubelink" placeholder="Enter youtube link (Embeded)">
    <!-- <span class="text-danger" *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
    <span *ngIf="regForm.get('password').hasError('required')">Error: Field Required</span>
    <span *ngIf="regForm.get('password').hasError('minlength')">Error: Length should be greated than 7</span>
  </span> -->
</div>
<div class="form-group">
  <!-- <i *ngIf="regisloading" class="fa fa-spinner fa-spin"></i> -->
  <button class="btn btn-secondary" type="submit">Submit  </button>
</div>
</form>
</div>
<div class="col-sm-3">
</div>
</div>
</div>
</div>
