
<!-- <app-expert-login-header></app-expert-login-header> -->
<app-header></app-header>
<p-growl [(value)]="msg"></p-growl>
<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-expert-sidebar></app-expert-sidebar>
      <div class="col-md-9 col-sm-8 col-xs-12 create-article">
        <form [formGroup]="articleForm" novalidate (ngSubmit)="savearticle()">
          <!-- <div class="form-group">
            <label>Content Catregory</label>
            <select formControlName="contentcategory" class="form-control">
              <ng-container *ngFor="let category of categories">
              <option value="{{category.expertise}}" >{{category.expertise}}</option>
            </ng-container>
            </select>
          </div> -->
          <div class="form-group">
            <label>Title <font color="red">*</font>:</label>
            <input type="text" placeholder="Article title" formControlName="title" class="form-control">
          </div>
          <div class="form-group">
            <label>Summary <font color="red">*</font>:</label>
            <textarea type="text" placeholder="Article Summary" formControlName="summary" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label>Content<font color="red">*</font>:</label>
            <p-editor formControlName="article"  [style]="{'height':'320px'}">
              <p-header>
                <span class="ql-formats">
                  <select class="ql-size">
                    <option value="small"></option>
                    <option selected></option>
                    <option value="large"></option>
                    <option value="huge"></option>
                  </select>
                </span>
                <span class="ql-formats">
                  <button class="ql-bold" aria-label="Bold"></button>
                  <button class="ql-italic" aria-label="Italic"></button>
                  <button class="ql-underline" aria-label="Underline"></button>
                  <button class="ql-strike" aria-label="strike"></button>
                </span>
                <span class="ql-formats">
                  <button class="ql-list" value="ordered"></button>
                  <button class="ql-list" value="bullet"></button>
                  <!-- <span class="ql-align ql-picker ql-icon-picker" value="bullet"></span> -->
                  <select class="ql-align"><option selected=""></option><option value="center"></option><option value="right"></option><option value="justify"></option></select>
                </span>
                <span class="ql-formats">

                  <button class="ql-link"></button>
                  <button class="ql-image"></button>
                  <button class="ql-video"></button>
                </span>

                <span class="ql-formats">
                  <button class="ql-blockquote"></button>
                  <!-- <button class="ql-code-block"></button> -->
                  <button class="ql-clean"></button>
                </span>
              </p-header>
            </p-editor>
            <!-- <p-editor formControlName="article"  [style]="{'height':'320px'}" placeholder="Please enter your article here .....">
          </p-editor> -->
        </div>

        <!-- <div class="panel panel-danger">
          <div class="panel-heading">Guideline for Adding Article Content</div>
          <div class="panel-body">dummy Content</div>
        </div> -->

        <!-- <div class="form-group">
          <label>Article Date : </label>
        <input type="date" placeholder="please select date" class="form-control" formControlName ="article_date" name="createdat">
        </div> -->


        
        <!-- <div class="form-group">
            <label>Add Tags :</label>
            <p-chips [(ngModel)]="whoareyou" (click)="changemade=true" name="whoareyou" placeholder="Type and Press Enter)"></p-chips>
        
          </div> -->
         
        <!-- <div class="form-group">
          <label>Add Tags :</label>
          <ng-multiselect-dropdown
  [placeholder]="'Add your tags which related to your article'"
  [data]="dropdownList"
  [(ngModel)]="selectedItems"
  [settings]="dropdownSettings"
  (onDeSelect)="onItemDeSelect($event)"
  (onSelect)="onItemSelect($event)"
  (onSelectAll)="onSelectAll($event)"
  [ngModelOptions]="{standalone: true}"
>
</ng-multiselect-dropdown>
        </div> -->
        <div class="form-group">
          <label>Select Tags  </label><br>
          <p-autoComplete [(ngModel)]="selectedItems" formControlName="article_tags"  name="article_tags" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
          [minLength]="1" (click)="changemade=true" placeholder="Search tags" field="tag" [multiple]="true">
          </p-autoComplete>
        </div>
        <!-- <div class="form-group">
          <label>Select Expertise (Complete 10%) </label><br>
          <p-autoComplete [(ngModel)]="countries" name="conutr" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
          [minLength]="1" (click)="changemade=true" placeholder="Search expertise" field="expertise" [multiple]="true">
          </p-autoComplete>
        </div> -->
        <!-- <div class="form-group">
        <label>Youtube Link <i class="fa fa-youtube"></i>  : </label>
        <input type="text" placeholder="Article title" formControlName="youtubelink" class="form-control">
      </div> -->

      <div class="col-md-12">
          <div class="col-md-6">
              <div class="form-group">
                <label>Article Header Image <font color="red">*</font> :<br/> <b style="color:grey">Note: Upload for better view of article</b> </label>
                <input type="file" formControlName="headerimage" name="" class="banner-input" (change)="handleFileSelect($event)">
                <img src="" class="img img-fluid" *ngIf="!article_header_64textString">
                <img *ngIf="article_header_64textString" src="{{article_header_64textString}}" style="height:150px;" class="img img-fluid"/>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Article Preview Image <font color="red">*</font> : <br/> <b style="color:grey">Note: upload for better view of article</b></label>
                <input type="file" formControlName="projectionimage" name="" class="banner-input" (change)="handleprojectionFileSelect($event)">
                <img src="" class="img img-fluid" *ngIf="!article_projection_64textString">
                <img *ngIf="article_projection_64textString" src="{{article_projection_64textString}}" style="height:150px;" class="img img-fluid"/>
              </div>
            </div>
      </div>
      
      <div class="col-md-12">
          <div class="form-group">
              <div class="captcha-box">
                  <div class="form-check">
                      <input type="checkbox" (click)="checkterms()" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1"> <a data-toggle="modal" data-target="#termsconditions">Terms and Condition</a></label>
                  </div>
              </div>
            </div>
      </div>
      

      <div class="form-group" style="margin-top:15px;">
        <div class="col-md-6">
            <a href="" class="preview-btn" data-toggle="modal" data-target="#previewModal">Preview</a>
        </div>
        <div class="col-md-6 submit-post">
          <!-- <ul>
            <li><a href="" *ngIf="!saveloadingflag" class="article-post-btn" [disabled]="articleForm.invalid"><i class="fa fa-comment"></i>Post</a></li>
            <li><a href="" (click)="back()" class="article-cancel-btn"><i class="fa fa-times"></i> Cancel</a></li>
          </ul> -->
          
          
          <button *ngIf="!saveloadingflag" type="submit" id="submitbutton" class="btn btn-post"  [disabled]="articleForm.invalid">
			   <i class="fa fa-comment"></i>
			    Post</button>
		  <button *ngIf="!saveloadingflag" style="display:none" type="submit" id="draftbutton" class="btn btn-primary"  [disabled]="articleForm.invalid">
			 <i class="fa fa-comment"></i> 
			 Post Your Last Edit Article</button>

          <span *ngIf="saveloadingflag"> <i class="fa fa-spinner fa-spin"></i> Please Wait ...</span>
		  <button  type="button" class="btn btn-cancel" style="margin-left:10px;" (click)="back()">
			<i class="fa fa-times"></i>
			 Cancel</button>
        </div>
        
      </div>

      


    </form>
    <!-- <button class="btn btn-primary" id="draftbutton" (click)="saveAsDraft();"> <i class="fa fa-comment"></i> Draft</button> -->

  </div>
</div>
</div>
</div>

<div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login" role="document">
    <div class="popup_article_preview">
      <a class="close" id="close_login" style="cursor:pointer" data-dismiss="modal" >&times;</a>

        
            <div class="full-page-preview">
                     
              <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h1>{{articleForm.value.title}}</h1>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main-post-image">
                    <img  src="{{article_header_64textString}}">
                    <!-- <div>
                      <iframe  width="720" height="345" src="{{articleData.youtubelink}}"></iframe>
                    </div> -->
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="blog-inner-section">
                    <div class="summary_single_article">
                        <h3>{{articleForm.value.summary}}</h3>
                      </div>
                      <p >{{articleForm.value.article}}</p>
                      <ng-container *ngFor="let tag of tags">
                      <p >{{tag}}</p>
                    </ng-container>

                </div>
            </div>

              </div>
          </div> 
                
     
  </div>
</div>
</div>


<div class="modal fade" id="termsconditions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg modal-login" role="document">
		  	<div class="popup-termsconditions">
				<a class="close" style="cursor:pointer" id="close_register" data-dismiss="modal" >&times;</a>
				<p style="text-align: left;">
					<br>
					TABLE OF CONTENTS<br>
						YELLOWSQUASH TERMS AND CONDITIONS ........................................................................................3<br>
						1. NATURE AND APPLICABILITY OF TERMS........................................................................................3<br>
						2. CONDITIONS OF USE.................................................................................................................................4<br>
						3. TERMS OF USE APPLICABLE TOALL USERS OTHER THAN EXPERTS ..................................4<br>
						3.1END-USER ACCOUNT AND DATA PRIVACY .......................................................................................4<br>
						3.2 RELEVANCE ALGORITHM .................................................................................................................5<br>
						3.3 LISTING CONTENT AND DISSEMINATING INFORMATION ...............................................................5<br>
						3.4 BOOK APPOINTMENT and video consultation.................................................................................6<br>
						3.5 NO Expert-PATIENT RELATIONSHIP; NOT FOR EMERGENCY USE....................................................7<br>
						3.6YELLOWSQUASH BLOG- hereafter referred as healthpedia .............................................................7<br>
						3.7 CONTENT OWNERSHIP AND COPYRIGHT CONDITIONS OF ACCESS ................................................9<br>
						3.8 REVIEWS AND FEEDBACK ................................................................................................................9<br>
						4. TERMS OF USE - EXPERTS.......................................................................................................................10<br>
						4.1 LISTING POLICY ..............................................................................................................................10<br>
						4.2 PROFILE OWNERSHIP AND EDITING RIGHTS .................................................................................10<br>
						4.3REVIEWS AND FEEDBACK DISPLAY RIGHTS OF YELLOWSQUASH ...................................................11<br>
						4.4 RELEVANCE ALGORITHM ...............................................................................................................11<br>
						4.5 INDEPENDENT SERVICES................................................................................................................11<br>
						4.6 YELLOWSQUASH REACH RIGHTS ...................................................................................................11<br>
						5. RIGHTS AND OBLIGATIONS RELATING TOCONTENT.................................................................12<br>
						6.TERMINATION..............................................................................................................................................13<br>
						7. LIMITATION OF LIABILITY .....................................................................................................................13<br>
						8. RETENTION AND REMOVAL ..................................................................................................................14<br>
						9. APPLICABLE LAW AND DISPUTE SETTLEMENT ...........................................................................14<br>
						10. CONTACT INFORMATION GRIEVANCE OFFICER........................................................................14<br>
						11.SEVERABILITY...........................................................................................................................................14<br>
						12. WAIVER........................................................................................................................................................14<br>
						<br><br>
						YELLOWSQUASH TERMS AND CONDITIONS<br><br>
						YellowSquash Private Limited (“YellowSquash”) is the author and publisher of the internet resource
						www.YellowSquash.in and the mobile application ‘YellowSquash’ (together, “Website”). YellowSquash
						owns and operates the services provided through the Website.<br><br>
						1. NATURE AND APPLICABILITY OF TERMS<br>
						Please carefully go through these terms and conditions (“Terms”) and the privacy policy available at
						https://www.YellowSquash .in/company/privacy (“Privacy Policy”) before you decide to access the
						Website or avail the services made available on the Website by YellowSquash. These Terms and the
						Privacy Policy together constitute a legal agreement (“Agreement”) between you and YellowSquash
						in connection with your visit to the Website and your use of the Services (as defined below).
						The Agreement applies to you whether you are -<br>
						i. A medical expert or health care provider (whether an individual professional or an organization) or
						similar institution wishing to be listed, or already listed, on the Website, including designated,
						authorized associates of such experts or institutions (“Expert(s)”, “you” or “User”); or<br>
						
						ii. A patient, his/her representatives or affiliates, searching for Experts through the Website (“End-
						User”, “you” or “User”); or<br>
						
						iii. Otherwise a user of the Website (“you” or “User”).<br>
						This Agreement applies to those services made available by YellowSquash on the Website, which are
						offered free of charge to the Users (“Services”), including the following:<br>
						iv. For Experts: Listing of Experts and their profiles and contact details, to be made available to the other
						Users and visitors to the Website;<br>
						v. For other Users: Facility to (i) create and maintain ‘Health Accounts’, (ii) search for Experts by name,
						specialty, and geographical area, or any other criteria that may be developed and made available by
						YellowSquash, and (iii) to make appointments with Experts.<br>
						The Services may change from time to time, at the sole discretion of YellowSquash, and the Agreement
						will apply to your visit to and your use of the Website to avail the Service, as well as to all information
						provided by you on the Website at any given point in time.<br>
						This Agreement defines the terms and conditions under which you can use the Website and describes
						the manner in which we shall treat your account while you are registered as a member with us. If you
						have any questions about any part of the Agreement, feel free to contact us at
						support@YellowSquash.in.<br>
						This Agreement supersedes all previous oral and written terms and conditions (if any) communicated
						to you relating to your use of the Website to avail the Services. By availing any Service, you signify your
						acceptance of the terms of this Agreement.<br>
						We reserve the right to modify or terminate any portion of the Agreement for any reason and at any
						time, and such modifications shall be informed to you in writing You should read the Agreement at
						regular intervals. Your use of the Website following any such modification constitutes your agreement
						to follow and be bound by the Agreement so modified.<br>
						You acknowledge that you will be bound by this Agreement for availing any of the Services offered by
						us. If you do not agree with any part of the Agreement, please do not use the Website or avail any
						Services.<br>
						Your access to use of the Website and the Services will be solely at the discretion of YellowSquash.<br><br>
						
						The Agreement is published in compliance of, and is governed by the provisions of Indian law,
						including but not limited to:<br>
						vi. the Indian Contract Act, 1872,<br>
						vii. the (Indian) Information Technology Act, 2000, and<br>
						viii. the rules, regulations, guidelines and clarifications framed there under, including the (Indian)
						Information Technology (Reasonable Security Practices and Procedures and Sensitive Personal
						Information) Rules, 2011 (the “SPI Rules”), and the (Indian) Information Technology (Intermediaries
						Guidelines) Rules, 2011 (the “IG Rules”).<br><br>
						2. CONDITIONS OF USE<br>
						You must be 18 years of age or older to register, use the Services, or visit or use the Website in any
						manner. By registering, visiting and using the Website or accepting this Agreement, you represent and
						warrant to YellowSquash that you are 18 years of age or older, and that you have the right, authority
						and capacity to use the Website and the Services available through the Website, and agree to and abide
						by this Agreement.<br><br>
						3. TERMS OF USE APPLICABLE TO ALL USERS OTHER THAN EXPERTS<br>
						The terms in this Clause 3 are applicable only to Users other than Experts.<br><br>
						3.1END-USER ACCOUNT AND DATA PRIVACY<br>
						▪ 3.1.1 The terms “personal information” and “sensitive personal data or information” are defined
						under the SPI Rules, and are reproduced in the Privacy Policy.<br>
						▪ 3.1.2 YellowSquash may by its Services, collect information relating to the devices through which
						you access the Website, and anonymous data of your usage. The collected information will be used
						only for improving the quality of YellowSquash ’s services and to build new services.<br>
						▪ 3.1.3 The Website allows YellowSquash to have access to registered Users’ personal email or phone
						number, for communication purpose so as to provide you a better way of booking appointments and
						for obtaining feedback in relation to the Experts and their practice.<br>
						▪ 3.1.4 The Privacy Policy sets out, inter-alia:<br>
						i. The type of information collected from Users, including sensitive personal data or information;
						ii. The purpose means and modes of usage of such information;<br>
						iii. How and to whom YellowSquash will disclose such information; and,<br>
						iv. Other information mandated by the SPI Rules.<br>
						▪ 3.1.5 The User is expected to read and understand the Privacy Policy, so as to ensure that he or she
						has the knowledge of, inter-alia:<br><br>
						i. the fact that certain information is being collected;<br>
						ii. the purpose for which the information is being collected;<br>
						iii. the intended recipients of the information;<br>
						iv. the nature of collection and retention of the information; and<br>
						v. the name and address of the agency that is collecting the information and the agency that will retain
						the information; and<br>
						vi. the various rights available to such Users in respect of such information.<br><br>
						
						▪ 3.1.6 YellowSquash shall not be responsible in any manner for the authenticity of the personal
						information or sensitive personal data or information supplied by the User to YellowSquash or to
						any other person acting on behalf of YellowSquash.<br>
						▪ 3.1.7 The User is responsible for maintaining the confidentiality of the User’s account access
						information and password, if the User is registered on the Website. The User shall be responsible for
						all usage of the User’s account and password, whether or not authorized by the User. The User shall
						immediately notify YellowSquash of any actual or suspected unauthorized use of the User’s account
						or password. Although YellowSquash will not be liable for your losses caused by any unauthorized
						use of your account, you may be liable for the losses of YellowSquash or such other parties as the
						case may be, due to any unauthorized use of your account.<br>
						▪ 3.1.8 If a User provides any information that is untrue, inaccurate, not current or incomplete (or
						becomes untrue, inaccurate, not current or incomplete), or YellowSquash has reasonable grounds to
						suspect that such information is untrue, inaccurate, not current or incomplete, YellowSquash has the
						right to discontinue the Services to the User at its sole discretion.<br>
						▪ 3.1.9 YellowSquash may use such information collected from the Users from time to time for the
						purposes of debugging customer support related issues.<br><br>
						3.2 RELEVANCE ALGORITHM<br>
						YellowSquash ’s relevance algorithm for the Experts is a fully automated system that lists the Experts,
						their profile and information regarding their Practice on its Website. These listings of Experts do not
						represent any fixed objective ranking or endorsement by YellowSquash. YellowSquash will not be
						liable for any change in the relevance of the Experts on search results, which may take place from
						time to time. The listing of Experts will be based on automated computation of the various factors
						including inputs made by the Users including their comments and feedback. Such factors may change
						from time to time, in order to improve the listing algorithm. YellowSquash in no event will be held
						responsible for the accuracy and the relevancy of the listing order of the Experts on the Website.<br><br>
						3.3 LISTING CONTENT AND DISSEMINATING INFORMATION<br>
						▪ 3.3.1 YellowSquash collects, directly or indirectly, and displays on the Website, relevant information
						regarding the profile and practice of the Experts listed on the Website, such as their specialization,
						qualification, fees, location, visiting hours, and similar details. YellowSquash takes reasonable efforts
						to ensure that such information is updated at frequent intervals. Although YellowSquash screens and
						vets the information and photos submitted by the Experts, it cannot be held liable for any
						inaccuracies or incompleteness represented from it, despite such reasonable efforts.<br>
						▪ 3.3.2 The Services provided by YellowSquash or any of its licensors or service providers are provided
						on an "as is" and “as available’ basis, and without any warranties or conditions (express or implied,
						including the implied warranties of merchantability, accuracy, fitness for a particular purpose, title
						and non-infringement, arising by statute or otherwise in law or from a course of dealing or usage or
						trade). YellowSquash does not provide or make any representation, warranty or guarantee, express
						or implied about the Website or the Services. YellowSquash does not guarantee the accuracy or
						completeness of any content or information provided by Users on the Website. To the fullest extent
						permitted by law, YellowSquash disclaims all liability arising out of the User’s use or reliance upon
						the Website, the Services, representations and warranties made by other Users, the content or
						information provided by the Users on the Website, or any opinion or suggestion given or expressed
						by YellowSquash or any User in relation to any User or services provided by such User.<br>
						
						▪ 3.3.3 The Website may be linked to the website of third parties, affiliates and business partners.
						YellowSquash has no control over, and not liable or responsible for content, accuracy, validity,
						reliability, quality of such websites or made available by/through our Website. Inclusion of any link
						on the Website does not imply that YellowSquash endorses the linked site. User may use the links
						and these services at User’s own risk.<br>
						▪ 3.3.4 YellowSquash assumes no responsibility, and shall not be liable for, any damages to, or viruses
						that may infect User’s equipment on account of User’s access to, use of, or browsing the Website or
						the downloading of any material, data, text, images, video content, or audio content from the Website.
						If a User is dissatisfied with the Website, User’s sole remedy is to discontinue using the Website.<br>
						▪ 3.3.5 If YellowSquash determines that you have provided fraudulent, inaccurate, or incomplete
						information, including through feedback, YellowSquash reserves the right to immediately suspend
						your access to the Website or any of your accounts with YellowSquash and makes such declaration
						on the website alongside your name/your clinic’s name as determined by YellowSquash for the
						protection of its business and in the interests of Users. You shall be liable to indemnify YellowSquash
						for any losses incurred as a result of your misrepresentations or fraudulent feedback that has
						adversely affected YellowSquash or its Users.<br><br>
						
						3.4 BOOK APPOINTMENT AND VIDEO CONSULTATION<br>
						YellowSquash enables Users to connect with Experts through three methods: a) Book facility that
						allows Users book an appointment through the Website; b) Value added video conferencing which
						connect Users directly through the Website; c) Ask a query directly to the Expert in either a private
						or a public mode<br>
						▪ 3.4.1 YellowSquash will ensure Users are provided confirmed appointment on the Book facility.
						However, YellowSquash has no liability if such an appointment is later cancelled by the Expert, or
						the same Expert is not available for appointment.<br>
						▪ 3.4.2 The results of any search Users perform on the Website for Experts should not be construed as
						an endorsement by YellowSquash of any such Expert. If the User decides to engage with a Expert to
						seek medical services, the User shall be doing so at his/her own risk.<br>
						▪ 3.4.3 Without prejudice to the generality of the above, YellowSquash is not involved in providing any
						healthcare or medical advice or diagnosis and hence is not responsible for any interactions between
						User and the Expert. User understands and agrees that YellowSquash will not be liable for:<br><br>
						i. User interactions and associated issues User has with the Expert;<br>
						ii. the ability or intent of the Expert(s) or the lack of it, in fulfilling their obligations towards Users;<br>
						iii. any wrong medication or quality of treatment being given by the Expert(s), or any medical
						negligence on part of the Expert(s);<br>
						iv. inappropriate treatment, or similar difficulties or any type of inconvenience suffered by the User
						due to a failure on the part of the Expert to provide agreed Services;<br>
						v. any misconduct or inappropriate behavior by the Expert or the Expert’s staff;<br>
						vi. cancellation or no show by the Expert or rescheduling of booked appointment or any variation in
						the fees charged.<br>
						▪ 3.4.5 Users can provide feedback about their experiences with the Expert, however, the User shall
						ensure that, the same is provided in accordance with applicable law. User however understands that,
						
						YellowSquash shall not be obliged to act in such manner as may be required to give effect to the
						content of Users feedback, such as suggestions for delisting of a Expert from the Website.<br>
						▪ 3.4.6 Cancellation and Refund Policy<br>
						i. In the event that, the Expert with whom User has booked a paid appointment via the Website, has
						not been able to meet the User, User will need to write to us at support@YellowSquash.in within
						five (5) days from the occurrence of such event; in which case, the entire consultation amount as
						mentioned on the Website will be refunded to the User within the next five (5) to six (6) business
						days in the original mode of payment done by the User while booking. In case where the User, does
						not show up for the appointment booked with a Expert, without cancelling the appointment
						beforehand, the amount will not be refunded, and treated as under Clause 3.4.6. However, where
						cancellation charges have been levied (as charged by the Expert/Practice), you would not be
						entitled to complete refund even if you have cancelled beforehand.<br>
						ii. Users will not be entitled for any refunds in cases where, the Expert is unable to meet the User at
						the exact time of the scheduled appointment time and the User is required to wait, irrespective of
						the fact whether the User is required to wait or choose to not obtain the medical services from the
						said Expert.<br><br>
						3.5 NO EXPERT-PATIENT RELATIONSHIP; NOT FOR EMERGENCY USE<br><br>
						▪ 3.5.1 Please note that some of the content, text, data, graphics, images, information, suggestions,
						guidance, and other material (collectively, “Information”) that may be available on the Website
						(including information provided in direct response to your questions or postings) may be provided
						by individuals in the medical profession. The provision of such Information does not create a licensed
						medical professional/patient relationship, between YellowSquash and you and does not constitute
						an opinion, medical advice, or diagnosis or treatment of any particular condition, but is only provided
						to assist you with locating appropriate medical care from a qualified expert.<br>
						▪ 3.5.2 It is hereby expressly clarified that, the Information that you obtain or receive from
						YellowSquash, and its employees, contractors, partners, sponsors, advertisers, licensors or
						otherwise on the Website is for informational purposes only. We make no guarantees,
						representations or warranties, whether expressed or implied, with respect to professional
						qualifications, quality of work, expertise or other information provided on the Website. In no event
						shall we be liable to you or anyone else for any decision made or action taken by you in reliance on
						such information.<br>
						▪ 3.5.3 The Services are not intended to be a substitute for getting in touch with emergency healthcare.
						If you are an End-User facing a medical emergency (either on your or on another person’s behalf),
						please contact an ambulance service or hospital directly.<br><br>
						
						3.6YELLOWSQUASH BLOG- HEREAFTER REFERRED AS HEALTHPEDIA<br>
						▪ 3.6.1 Healthpedia is an online content platform available on the website, wherein Experts who have
						created a YellowSquash profile and Users who have created a health account can login and post
						health and wellness related content<br>
						▪ 3.6.2 A User can use Healthpedia by logging in from their health account, creating original content
						comprising text, audio, video, images, data or any combination of the same (“Content”), and
						uploading said Content to YellowSquash ’s servers. YellowSquash shall post such Content to
						Healthpedia at its own option and subject to these Terms and Conditions. The Content uploaded via
						
						YellowSquash Blog does not constitute medical advice and may not be construed as such by any
						person.<br>
						▪ 3.6.3 The User acknowledges that they are the original authors and creators of any Content uploaded
						by them via Healthpedia and that no Content uploaded by them would constitute infringement of the
						intellectual property rights of any other person. YellowSquash reserves the right to remove any
						Content which it may determine at its own discretion as violating the intellectual property rights of
						any other person. The User agrees to absolve YellowSquash from and indemnify YellowSquash
						against all claims that may arise because of any third party intellectual property right claim that may
						arise from the user’s uploading of any Content on Healthpedia. The User also agrees to absolve
						YellowSquash from and indemnify YellowSquash against all claims that may arise because of any
						third party intellectual property claim if the User downloads, copies or otherwise.<br>
						▪ 3.6.4 The user hereby assigns to YellowSquash, in perpetuity and worldwide, all intellectual
						property rights in any Content created by the User and uploaded by the User via Healthpedia.<br>
						▪ 3.6.5 YellowSquash shall have the right to edit or remove the Content and any comments in such
						manner as it may deem Healthpedia at any time.<br>
						▪ 3.6.6 The User agrees not to upload Content which is defamatory, obscene or objectionable in nature
						and YellowSquash reserves the right to remove any Content which it may determine at its own
						discretion to violate these Terms and Conditions or be violative of any law or statute in force at the
						time. The User agrees to absolve YellowSquash from and indemnify YellowSquash against all claims
						that may arise as a result of any legal claim arising from the nature of the Content posted by the User
						on Healthpedia.<br>
						▪ 3.6.7 A User may also use Healthpedia in order to view original content created by Experts and to
						create and upload comments on such Content, where allowed.<br>
						▪ 3.6.8 User acknowledges that the Content on Healthpedia reflects the views and opinions of the
						authors of such Content and do not necessarily reflect the views of YellowSquash.<br>
						▪ 3.6.9 User agrees that the content they access on Healthpedia does not in any way constitute medical
						advice and that the responsibility for any act or omission by the User arising from the User’s
						interpretation of the Content, is solely attributable to the user. The User agrees to absolve
						YellowSquash from and indemnify YellowSquash against all claims that may arise as a result of the
						User’s actions resulting from the User’s viewing of Content on Healthpedia.<br>
						▪ 3.6.10 The User acknowledges that all intellectual property rights in the Content on Healthpedia
						vests with YellowSquash. The User agrees not to infringe upon YellowSquash ’s intellectual property
						by copying or plagiarizing content on Healthpedia. YellowSquash reserves its right to initiate all
						necessary legal remedies available to them in case of such an infringement by the User. All comments
						created and uploaded by the User on YellowSquash Blog will be the sole intellectual property of
						YellowSquash. The User agrees not to post any comments on Healthpedia that violate the intellectual
						property of any other person. YellowSquash reserves the right to remove any comments which it
						may determine at its own discretion as violating the intellectual property rights of any other person.
						The User agrees to absolve YellowSquash from and indemnify YellowSquash against all claims that
						may arise as a result of any third party intellectual property right claim that may arise from the User’s
						uploading of any comment on Healthpedia.<br>
						▪ 3.6.11 User agrees not to post any comments which are defamatory, obscene, objectionable or in
						nature and YellowSquash reserves the right to remove any comments which it may determine at its
						own discretion to violate these Terms and Conditions or be violative of any law or statute in force at
						
						the time. The User agrees to absolve YellowSquash from and indemnify YellowSquash against all
						claims that may arise as a result of any legal claim arising from the nature of the comments posted
						by the User on Healthpedia.<br><br>
						
						3.7 CONTENT OWNERSHIP AND COPYRIGHT CONDITIONS OF ACCESS<br>
						▪ 3.7.1 The contents listed on the Website are (i) User generated content, or (ii) belong to
						
						YellowSquash. The information that is collected by YellowSquash directly or indirectly from the End-
						Users and the Experts shall belong to YellowSquash. Copying of the copyrighted content published
						
						by YellowSquash on the Website for any commercial purpose or for the purpose of earning profit
						will be a violation of copyright and YellowSquash reserves its rights under applicable law
						accordingly.<br>
						▪ 3.7.2 YellowSquash authorizes the User to view and access the content available on or from the
						Website solely for ordering, receiving, delivering and communicating only as per this Agreement.
						The contents of the Website, information, text, graphics, images, logos, button icons, software code,
						design, and the collection, arrangement and assembly of content on the Website
						(collectively, "YellowSquash Content"), are the property of YellowSquash and are protected under
						copyright, trademark and other laws. User shall not modify the YellowSquash Content or reproduce,
						display, publicly perform, distribute, or otherwise use the YellowSquash Content in any way for any
						public or commercial purpose or for personal gain.<br>
						▪ 3.7.3 User shall not access the Services for purposes of monitoring their availability, performance or
						functionality, or for any other benchmarking or competitive purposes.<br><br>
						3.8 REVIEWS AND FEEDBACK<br>
						By using this Website, you agree that any information shared by you with YellowSquash or with any
						Expert will be subject to our Privacy Policy.
						You are solely responsible for the content that you choose to submit for publication on the Website,
						including any feedback, ratings, or reviews (“Critical Content”) relating to Experts or other healthcare
						professionals. The role of YellowSquash in publishing Critical Content is restricted to that of an
						‘intermediary’ under the Information Technology Act, 2000. YellowSquash disclaims all responsibility
						with respect to the content of Critical Content, and its role with respect to such content is restricted to
						its obligations as an ‘intermediary’ under the said Act. YellowSquash shall not be liable to pay any
						consideration to any User for re-publishing any content across any of its platforms.
						Your publication of reviews and feedback on the Website is governed by Clause 5 of these Terms.
						Without prejudice to the detailed terms stated in Clause 5, you hereby agree not to post or publish any
						content on the Website that (a) infringes any third-party intellectual property or publicity or privacy
						rights, or (b) violates any applicable law or regulation, including but not limited to the IG Rules and
						SPI Rules. YellowSquash, at its sole discretion, may choose not to publish your reviews and feedback,
						if so required by applicable law, and in accordance with Clause 5 of these Terms. You agree that
						YellowSquash may contact you through telephone, email, SMS, or any other electronic means of
						communication for the purpose of:<br>
						o Obtaining feedback in relation to Website or YellowSquash ’s services; and/or<br>
						o Obtaining feedback in relation to any Experts listed on the Website; and/or<br>
						o Resolving any complaints, information, or queries by Experts regarding your Critical
						Content;<br>
						
						o and you agree to provide your fullest co-operation further to such communication by
						YellowSquash.<br><br>
						4. TERMS OF USE - EXPERTS<br>
						The terms in this Clause 4 are applicable only to Experts.<br>
						4.1 LISTING POLICY<br>
						▪ 4.1.1 YellowSquash, directly and indirectly, collects information regarding the Experts’ profiles,
						contact details, and practice. YellowSquash reserves the right to take down any Expert’s profile as
						well as the right to display the profile of the Experts, with or without notice to the concerned Expert.
						This information is collected for the purpose of facilitating interaction with the End-Users and other
						Users. If any information displayed on the Website in connection with you and your profile is found
						to be incorrect, you are required to inform YellowSquash immediately to enable YellowSquash to
						make the necessary amendments.<br>
						▪ 4.1.2 YellowSquash shall not be liable and responsible for the ranking of the Experts on external
						websites and search engines<br>
						▪ 4.1.3 YellowSquash shall not be responsible or liable in any manner to the Users for any losses,
						damage, injuries or expenses incurred by the Users as a result of any disclosures or publications
						made by YellowSquash, where the User has expressly or implicitly consented to the making of
						disclosures or publications by YellowSquash. If the User had revoked such consent under the terms
						of the Privacy Policy, then YellowSquash shall not be responsible or liable in any manner to the User
						for any losses, damage, injuries or expenses incurred by the User because of any disclosures made
						by YellowSquash prior to its actual receipt of such revocation.<br>
						▪ 4.1.4 YellowSquash reserves the right to moderate the suggestions made by the Experts through
						feedback and the right to remove any abusive or inappropriate or promotional content added on the
						
						Website. However, YellowSquash shall not be liable if any inactive, inaccurate, fraudulent, or non-
						existent profiles of Experts are added to the Website.<br>
						
						▪ 4.1.5 Experts explicitly agree that YellowSquash reserves the right to publish the Content provided
						by Experts to a third party including content platforms.<br>
						▪ 4.1.6 You as a Expert hereby represent and warrant that you will use the Services in accordance with
						applicable law. Any contravention of applicable law because of your use of these Services is your sole
						responsibility, and YellowSquash accepts no liability for the same.<br><br>
						4.2 PROFILE OWNERSHIP AND EDITING RIGHTS<br>
						YellowSquash ensures easy access to the Experts by providing a tool to update your profile
						information. YellowSquash reserves the right of ownership of all the Expert’s profile and
						photographs and to moderate the changes or updates requested by Experts. However, YellowSquash
						takes the independent decision whether to publish or reject the requests submitted for the
						respective changes or updates. You hereby represent and warrant that you are fully entitled under
						law to upload all content uploaded by you as part of your profile or otherwise while using
						YellowSquash ’s services, and that no such content breaches any third-party rights, including
						intellectual property rights. Upon becoming aware of a breach of the foregoing representation,
						YellowSquash may modify or delete parts of your profile information at its sole discretion with or
						without notice to you.<br><br>
						
						4.3REVIEWS AND FEEDBACK DISPLAY RIGHTS OF YELLOWSQUASH<br>
						▪ 4.3.1 All Critical Content is content created by the Users of www.YellowSquash.in (“Website”) and
						the clients of YellowSquash customers and Experts, including the End-Users. As a platform,
						YellowSquash does not take responsibility for Critical Content and its role with respect to Critical
						Content is restricted to that of an ‘intermediary’ under the Information Technology Act, 2000. The
						role of YellowSquash and other legal rights and obligations relating to the Critical Content are further
						detailed in Clauses 3.8 and 5 of these Terms.<br>
						▪ 4.3.2 YellowSquash reserves the right to collect feedback and Critical Content for all the Experts,
						Clinics and Experts listed on the Website.<br>
						▪ 4.3.3 YellowSquash shall have no obligation to pre-screen, review, flag, filter, modify, refuse or
						remove any or all Critical Content from any Service, except as required by applicable law.<br>
						▪ 4.3.4 You understand that by using the Services you may be exposed to Critical Content or other
						content that you may find offensive or objectionable. YellowSquash shall not be liable for any effect
						on Expert’s business due to Critical Content of a negative nature. In these respects, you may use the
						Service at your own risk. YellowSquash however, as an ‘intermediary, takes steps as required to
						comply with applicable law as regards the publication of Critical Content. The legal rights and
						obligations with respect to Critical Content and any other information sought to be published by
						Users are further detailed in Clauses 3.7 and 5 of these Terms.<br>
						▪ 4.3.5 YellowSquash will take down information under standards consistent with applicable law and
						shall in no circumstances be liable or responsible for Critical Content, which has been created by the
						Users. The principles set out in relation to third party content in the terms of Service for the Website
						shall be applicable mutatis mutandis in relation to Critical Content posted on the Website.<br>
						▪ 4.3.6 If YellowSquash determines that you have provided inaccurate information or enabled
						fraudulent feedback, YellowSquash reserves the right to immediately suspend any of your accounts
						with YellowSquash and makes such declaration on the website alongside your name/your clinics
						name as determined by YellowSquash for the protection of its business and in the interests of Users.<br><br>
						4.4 RELEVANCE ALGORITHM<br>
						YellowSquash has designed the relevance algorithm in the best interest of the End-User and may
						adjust the relevance algorithm from time to time to improve the quality of the results given to the
						patients. It is a pure merit driven, proprietary algorithm which cannot be altered for specific Experts.
						YellowSquash shall not be liable for any effect on the Expert’s business interests due to the change
						in the Relevance Algorithm.<br><br>
						4.5 INDEPENDENT SERVICES<br>
						Your use of each Service confers upon you only the rights and obligations relating to such Service,
						and not to any other service that may be provided by YellowSquash.<br><br>
						4.6 YELLOWSQUASH REACH RIGHTS<br>
						YellowSquash reserves the rights to display sponsored ads on the Website. These ads would be
						marked as “Sponsored ads”. Without prejudice to the status of other content, YellowSquash will not
						be liable for the accuracy of information or the claims made in the Sponsored ads. YellowSquash does
						not encourage the Users to visit the Sponsored ads page or to avail any services from them.
						YellowSquash will not be liable for the services of the providers of the Sponsored ads.
						
						You represent and warrant that you will use these Services in accordance with applicable law. Any
						contravention of applicable law as a result of your use of these Services is your sole responsibility,
						and YellowSquash accepts no liability for the same.<br><br>
						5. RIGHTS AND OBLIGATIONS RELATING TO CONTENT<br>
						o 5.1 As mandated by Regulation 3(2) of the IG Rules, YellowSquash hereby informs Users that they are
						not permitted to host, display, upload, modify, publish, transmit, update or share any information that:<br>
						i. belongs to another person and to which the User does not have any right to;<br>
						ii. is grossly harmful, harassing, blasphemous, defamatory, obscene, pornographic, pedophilic, libelous,
						invasive of another's privacy, hateful, or racially, ethnically objectionable, disparaging, relating or
						encouraging money laundering or gambling, or otherwise unlawful in any manner whatever;<br>
						iii. harm minors in any way;<br>
						iv. infringes any patent, trademark, copyright or other proprietary rights;<br>
						v. violates any law for the time being in force;<br>
						vi. deceives or misleads the addressee about the origin of such messages or communicates any
						information which is grossly offensive or menacing in nature;<br>
						vii. impersonate another person;<br>
						viii. contains software viruses or any other computer code, files or programs designed to interrupt,
						destroy or limit the functionality of any computer resource;<br>
						ix. threatens the unity, integrity, defense, security or sovereignty of India, friendly relations with foreign
						states, or public order or causes incitement to the commission of any cognizable offence or prevents
						investigation of any offence or is insulting any other nation.<br>
						o 5.2 Users are also prohibited from:<br>
						i. violating or attempting to violate the integrity or security of the Website or any YellowSquash
						Content;<br>
						ii. transmitting any information (including job posts, messages and hyperlinks) on or through the
						Website that is disruptive or competitive to the provision of Services by YellowSquash;<br>
						iii. intentionally submitting on the Website any incomplete, false or inaccurate information;<br>
						iv. making any unsolicited communications to other Users;<br>
						v. using any engine, software, tool, agent or other device or mechanism (such as spiders, robots, avatars
						or intelligent agents) to navigate or search the Website;<br>
						vi. attempting to decipher, decompile, disassemble or reverse engineer any part of the Website;<br>
						vii. copying or duplicating in any manner any of the YellowSquash Content or other information available
						from the Website;<br>
						viii. framing or hot linking or deep linking any YellowSquash Content.<br>
						ix. circumventing or disabling any digital rights management, usage rules, or other security features of
						the Software.<br>
						o 5.3 YellowSquash , upon obtaining knowledge by itself or been brought to actual knowledge by an
						affected person in writing or through email signed with electronic signature about any such
						information as mentioned above, shall be entitled to disable such information that is in contravention
						
						of Clauses 5.1 and 5.2. YellowSquash shall also be entitled to preserve such information and associated
						records for at least 90 (ninety) days for production to governmental authorities for investigation
						purposes.<br>
						o 5.4 In case of non-compliance with any applicable laws, rules or regulations, or the Agreement
						(including the Privacy Policy) by a User, YellowSquash has the right to immediately terminate the
						access or usage rights of the User to the Website and Services and to remove non-compliant
						information from the Website.<br>
						o 5.5 YellowSquash may disclose or transfer User-generated information to its affiliates or
						governmental authorities in such manner as permitted or required by applicable law, and you hereby
						consent to such transfer. The SPI Rules only permit YellowSquash to transfer sensitive personal data
						or information including any information, to any other body corporate or a person in India, or located
						in any other country, that ensures the same level of data protection that is adhered to by YellowSquash
						as provided for under the SPI Rules, only if such transfer is necessary for the performance of the lawful
						contract between YellowSquash or any person on its behalf and the User or where the User has
						consented to data transfer.<br>
						o YellowSquash respects the intellectual property rights of others and we do not hold any responsibility
						for any violations of any intellectual property rights<br><br>
						6.TERMINATION<br>
						o 6.1 YellowSquash reserves the right to suspend or terminate a User’s access to the Website and the
						Services with or without notice and to exercise any other remedy available under law, in cases where,<br>
						i. Such User breaches any terms and conditions of the Agreement;<br>
						ii. A third-party reports violation of any of its right as a result of your use of the Services;<br>
						iii. YellowSquash is unable to verify or authenticate any information provide to YellowSquash by a User;<br>
						iv. YellowSquash has reasonable grounds for suspecting any illegal, fraudulent or abusive activity on part
						of such User; or<br>
						v. YellowSquash believes in its sole discretion that User’s actions may cause legal liability for such User,
						other Users or for YellowSquash or are contrary to the interests of the Website.<br>
						o 6.2 Once temporarily suspended, indefinitely suspended or terminated, the User may not continue to
						use the Website under the same account, a different account or re-register under a new account. On
						termination of an account due to the reasons mentioned herein, such User shall no longer have access
						to data, messages, files and other material kept on the Website by such User. The User shall ensure
						that he/she/it has continuous backup of any medical services the User has rendered in order to comply
						with the User’s record keeping process and practices.<br><br>
						7. LIMITATION OF LIABIL ITY<br>
						In no event, including but not limited to negligence, shall YellowSquash , or any of its directors, officers,
						employees, agents or content or service providers (collectively, the “Protected Entities”) be liable for
						any direct, indirect, special, incidental, consequential, exemplary or punitive damages arising from, or
						directly or indirectly related to, the use of, or the inability to use, the Website or the content, materials
						and functions related thereto, the Services, User’s provision of information via the Website, lost business
						or lost End-Users, even if such Protected Entity has been advised of the possibility of such damages. In
						no event shall the Protected Entities be liable for:<br>
						
						i. provision of or failure to provide all or any service by Experts to End- Users contacted or managed
						through the Website;<br>
						ii. any content posted, transmitted, exchanged or received by or on behalf of any User or other person on
						or through the Website;<br>
						iii. any unauthorized access to or alteration of your transmissions or data; or<br>
						iv. any other matter relating to the Website or the Service.<br>
						In no event shall the total aggregate liability of the Protected Entities to a User for all damages, losses,
						and causes of action (whether in contract or tort, including, but not limited to, negligence or otherwise)
						arising from this Agreement or a User’s use of the Website or the Services exceed, in the aggregate Rs.
						1000/- (Rupees One Thousand Only).<br><br>
						8. RETENTION AND REMOVAL<br>
						YellowSquash may retain such information collected from Users from its Website or Services for as
						long as necessary, depending on the type of information; purpose, means and modes of usage of such
						information; and according to the SPI Rules. Computer web server logs may be preserved as long as
						administratively necessary.<br><br>
						9. APPLICABLE LAW AND DISPUTE SETTLEMENT<br>
						o 9.1 You agree that this Agreement and any contractual obligation between YellowSquash and User will
						be governed by the laws of India.<br>
						o 9.2 Any dispute, claim or controversy arising out of or relating to this Agreement, including the
						determination of the scope or applicability of this Agreement to arbitrate, or your use of the Website
						or the Services or information to which it gives access, shall be determined by arbitration in India,
						before a sole arbitrator appointed by YellowSquash. Arbitration shall be conducted in accordance with
						the Arbitration and Conciliation Act, 1996. The seat of such arbitration shall be Bangalore. All
						proceedings of such arbitration, including, without limitation, any awards, shall be in the English
						language. The award shall be final and binding on the parties to the dispute.<br>
						o 9.3 Subject to the above Clause 9.2, the courts at Bengaluru shall have exclusive jurisdiction over any
						disputes arising out of or in relation to this Agreement, your use of the Website or the Services or the
						information to which it gives access.<br><br>
						10. CONTACT INFORMATION GRIEVANCE OFFICER<br>
						o 10.1 If a User has any questions concerning YellowSquash, the Website, this Agreement, the Services,
						or anything related to any of the foregoing, YellowSquash customer support can be reached at the
						following email address: support@YellowSquash.in or via the contact information available from the
						following YellowSquash website.<br><br>
						11. SEVERABILITY<br>
						If any provision of the Agreement is held by a court of competent jurisdiction or arbitral tribunal to be
						unenforceable under applicable law, then such provision shall be excluded from this Agreement and
						the remainder of the Agreement shall be interpreted as if such provision were so excluded and shall
						be enforceable in accordance with its terms; provided however that, in such event, the Agreement shall
						be interpreted so as to give effect, to the greatest extent consistent with and permitted by applicable
						law, to the meaning and intention of the excluded provision as determined by such court of competent
						jurisdiction or arbitral tribunal.<br><br>
						12. WAIVER<br>
						
						No provision of this Agreement shall be deemed to be waived and no breach excused, unless such
						waiver or consent shall be in writing and signed by YellowSquash. Any consent by YellowSquash to, or
						a waiver by YellowSquash of any breach by you, whether expressed or implied, shall not constitute
						consent to, waiver of, or excuse for any other different or subsequent breach.<br>



				</p>

					<div class="form-group">
							<div class="captcha-box">
						<div class="form-check1">
							<input type="checkbox" (click)="checkterms()" class="form-check1-input" id="exampleCheck2" >
							<label class="form-check-label" for="exampleCheck2">Agree With Our Above Terms and Condition</label>
						</div>
						</div>
					</div>
			</div>
			
		</div>							
</div>
	  



<app-footer></app-footer>
