.create-article{
    font-family: Lato;
}
a.draft-btn, a.article-post-btn{
    padding: 10px 10px;
      background-color: #ececec;
      border-radius: 5px;
      margin-right: 10px;
      text-decoration:none;
  }
  a.preview-btn, a.article-cancel-btn{
    padding: 10px 10px;
      background-color: #f9d121;
      border-radius: 5px;
      text-decoration:none;
  }
  a.draft-btn:hover, a.preview-btn:hover{
      color: #262626;
  }

  .popup_article_preview{
    font-family:Lato;
  position: relative;
  margin: 70px auto;

  background: #fff;
  border-radius: 4px;
  width: 100%;
  height:auto;
  padding: 50px !important;
  box-sizing: border-box !important;
  /* overflow:hidden; */
}
.full-page-preview{
    margin:0;
}
.captcha-box{
    margin-bottom: 30px;
}
.captcha-box .form-check{
	width: 225px;
    background-color: #f9d121;
	padding: 9px;
	padding-top: 13px;
	border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.captcha-box .form-check label{
	padding-left: 0;
}
.captcha-box .form-check input[type="checkbox"]{
	vertical-align: top;
}
.popup-termsconditions {
	position: relative;
	margin: 70px auto;
	overflow-y: auto;
	background: #f3f3f3;
	text-align: center;
	border-radius: 4px;
	width: 900px;
	height:550px;
	padding: 50px !important;
	box-sizing: border-box !important;
	}

	.popup-termsconditions .form-check label{
		padding-left: 0;
	}
	.popup-termsconditions .form-check input[type="checkbox"]{
		vertical-align: top;
	}
    .captcha-box .form-check1{
        width: 400px;
        background-color: #f9d121;
        padding: 9px;
        padding-top: 13px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    }
    .captcha-box .form-check1 label{
        padding-left: 0;
    }
    .captcha-box .form-check1 input[type="checkbox"]{
        vertical-align: top;
    }
    
    .btn-post{
        padding: 10px 15px;
     
        color: #000;
    }
    .submit-post{
        text-align:right;
    }

 