<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-3">
                        <div class="profile-img">
                            <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt=""/> -->
                            <img src="{{headerimageurl}}{{expertData.profileImage}}" alt=""/>

                            <div class="profile-head">
                                    <h4>
                                        {{expertData.name}}
                                    </h4>
                                    <!-- <h6>
                                        Web Developer and Designer
                                    </h6>
                                    <h6>
                                        Some Degree
                                    </h6> -->
                                    <div class="expert-rating">
                                        <ul>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="fas fa-star"></i></li>
                                            <li><i class="far fa-star"></i></li>
                                            <li><i class="far fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-primary" id="enable_expert" (click)="enable_profile()">Enable Profile</button>

                              </div>
                              
                        </div>
                    </div>
                    <div class="col-md-9">
                           
                        <div class="profile-description">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Email</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{expertData.email}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Phone</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{expertData.phone_number}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{expertData.address}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Profile Summary</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{expertData.profile_summary}}</p>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <label>Address</label>
                                </div>
                                <div class="col-md-6">
                                    <p>ABC Street, Chandigarh</p>
                                </div>
                            </div> -->

                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <label>Expertise</label>
                                </div>
                                <div class="col-md-6">
                                    <p *ngFor="let expertise of expertData.expertise" >expertise</p>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Professional Title</label>
                                </div>
                                <div class="col-md-6">
                                    <p *ngFor="let who of expertData.whoareyou" >{{who}}</p>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Registration number</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{expertData.serial_number}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Video Intro</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{expertData.youtubelink}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Short Bio</label>
                                </div>
                                <div class="col-md-6">
                                    <p>{{expertData.profile_description}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Uploaded Documents</label>
                                </div>
                                <div class="col-md-6">
                                    <div class="col-md-6" *ngFor="let degree of expertData.degree"><figure class="documents_figure" ><span class="documents"><img src="{{projectionimageurl}}{{degree.degree_image_path}}"></span></figure></div>
                                    
                                </div>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </form>           
        </div>
        
       
      
     
    
   
  
 

