.emp-profile{
    padding: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    border-radius: 0.5rem;
    background: #fff;
    font-family: Lato;
}
.profile-img{
    text-align: center;
}
.profile-img img{
    width: 100%;
    height: 100%;
}
.profile-head{
    margin-top:20px;
}
/*
.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 70%;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
}
.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
*/
/*
.profile-description{
    margin-top: 40px;
}
*/

/*
.profile-description .col-md-6{
    padding: 10px;
}
*/
.profile-description label{
    font-size: 15px;
/*    border-bottom: 2px solid #f2f2f2;*/
    padding:10px;
}
.profile-description p{
    font-size: 15px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 10px;
}
.expert-rating ul{
    display: inline-block;
}
.expert-rating ul li{
    display: inline-block;
}
.profile-head h5{
    color: #333;
}
.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}
.proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
}
.proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
}
.profile-work{
    padding: 14%;
    margin-top: -15%;
}
.profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 10%;
}
.profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
}
.profile-work ul{
    list-style: none;
}
.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}
.documents_figure
{
    width: 100%;
    height: 130px;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
}