<app-header></app-header>
<p-growl [(value)]="msg"></p-growl>
<section class="wrapper">
	<div class="container">
		<div>
<!--
			<div id="bg">
				<img src="./assets/images/bg.jpg" alt="">
			</div>
-->
			<div class="block-1-panel row">
				<div class="col-sm-12 col-md-7 col-lg-7">
					<div class="side-left-panel">
						<div class="heading-h2">
							Register as an Expert in just 5 Minutes! For Free!!
						</div>
						<div id="first-dashboard-col">
							<div class="row">
								<div class="col-sm-12">
									<div class="block1-top-bar col-sm-4">
										<div class="block1-number">
											<div class="number-li"><span>1</span></div>
											<span class="number-heading"> Build</span>
										</div>
										<span class="number-p">Your own unique online avatar with all the features and functionalities </span>
									</div>
									<div class="block1-top-bar col-sm-4" id="point2">
										<div class="block1-number">
											<div class="number-li"><span>2</span></div>
											<span class="number-heading"> Spread </span>
										</div>
										<span class="number-p">Your knowledge and experience globally through content co-creation</span>

									</div>
									<div class="block1-top-bar col-sm-4" id="point3">
										<div class="block1-number">
											<div class="number-li"><span>3</span></div>
											<span class="number-heading"> Deliver </span>
											<div class="clearfix"></div>
										</div>
										<span class="number-p">Manage your calendar and consult online 24 X 7 without any hassle</span>
									</div>
								</div>
							</div>
						</div>
						<div id="second-dashboard-col">
							<div class="row">
								<div class="col-sm-12">
									<h3>All you need to do is : </h3>
									<div class="row">
										<div class="col-sm-12">
											<div class="row">
												<div class="col-md-6 col-sm-6 col-xs-12 s">
													<div class="detail-li">
														<!--												    <i class="fab fa-wpforms"></i>-->

														<img src="./assets/images/check-form.png" alt="" class="ic-bank" width="25">

														<span class="detail_heading">Upload relevant certificates</span>
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12 s">
													<div class="detail-li">

														<img src="./assets/images/consent.png" alt="" class="ic-bank" width="25">

														<span class="detail_heading">Fill a simple registration form</span>
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12 s">
													<div class="detail-li">

														<img src="./assets/images/health.png" alt="" class="ic-bank" width="25">

														<span class="detail_heading">Unique perspective to share on health and wellness</span>
													</div>
												</div>
												<div class="col-md-6 col-sm-6 col-xs-12 s">
													<div class="detail-li">

														<img src="./assets/images/users.png" alt="" class="ic-bank" width="25">

														<span class="detail_heading">Setup your profile</span>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-sm-12 col-md-5 col-lg-5">
					<div class="right-form-container">

						<h5>Create your Seller Account</h5>
						<form class="form-horizontal" [formGroup] = "regForm" novalidate (ngSubmit)	="register()">
							<div class="form-group name">
								<label class="control-label" for="user_name">Name

									<span class="text-danger" *ngIf="regForm.get('name').touched && regForm.get('name').invalid">
										<span *ngIf="regForm.get('name').hasError('required')">Error: Field Required</span>
									</span>
								</label>
								<input formControlName="name" type="text" name="user_name" class="form-control" id="user_name" placeholder="Enter Owner's full name" required/>
							</div>

							<div class="form-group">
								<label class="control-label" for="user_name">Email ID
									<span class="text-danger" *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
										<span *ngIf="regForm.get('email').hasError('required')">Error: Field Required</span>
										<span *ngIf="regForm.get('email').hasError('email')">Erorr: Invalid Email</span>
									</span>
								</label>
								<input formControlName="email" type="email" name="email" class="form-control" id="email" placeholder="Enter email" required/>
							</div>
							<div class="form-group">
								<label class="control-label" for="user_name">Password
									<span class="text-danger" *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
										<span *ngIf="regForm.get('password').hasError('required')">Error: Field Required</span>
										<span *ngIf="regForm.get('password').hasError('minlength')">Error: Length should be greated than 7</span>
									</span>
								</label>
								<input formControlName="password" type="password" name="password" class="form-control" id="password" placeholder="Minimum 4 characters" required/>

							</div>
							<button type="submit" name="submitForm" class="btn submit-btn" >Register</button>
						</form>

						<div class="extra">
							<p>Or</p>
							<ul>
								<li><i class="fab fa-google"></i></li>
								<li><i class="fab fa-facebook-f"></i></li>
								<li><i class="fab fa-linkedin-in"></i></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- <<<<<<< HEAD -->

<section class="video-part">
<div class="container">
<div class="row">

    <div class="video-block col-md-12">
    <div class="video-container">
    <iframe src="https://www.youtube.com/embed/2z3nFGGXDLM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
    </div>
   <div class="link-to-video"><a href="#" class="view-stories">View more stories</a></div> 
</div>
</div>
</div>
</section> 



<!-- footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-12 col-xs-12">
				<div class="footer-panel footer-about">
					<h3>About us</h3>
					<p>YellowSquash is a health and wellness platform. Our aim is to make people aware how to achieve optimum health through the right diet and a healthy lifestyle. Explore our content to enrich your knowledge. You can also take an appointment with our empanelled global health experts to seek advice suited to your needs.</p>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="footer-panel">
					<h3>Social connect</h3>
					<div class="link-footer">
						<ul class="footer-link-list">
							<li><a href="#">Facebook</a></li>
							<li><a href="#">Twitter</a></li>
							<li><a href="#">Instagram</a></li>
							<li><a href="#">Google +</a></li>
						</ul>
						<ul class="footer-link-list">
							<li><a href="#">Linkedin</a></li>
							<li><a href="#">Pinterest</a></li>
							<li><a href="#">Youtube</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="footer-panel">
					<h3>Category</h3>
					<ul class="footer-link-list footer-link-category">
						<!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Lifestyle</a></li>
						<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nutrition</a></li>
						<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li>
					 -->
			<li class="point" (click)="articlecat('Diabesity')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Diabesity</a></li>
            <li class="point" (click)="articlecat('Gut Health')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Gut Health</a></li>
            <li class="point" (click)="articlecat('Healthy Foods')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Healthy Foods</a></li>
            <li class="point" (click)="articlecat('Staying Young')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Staying Young</a></li>
            <li class="point" (click)="articlecat('Therapeutic')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Therapeutic</a></li>
            <li class="point" (click)="articlecat('Lifestyle')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Lifestyle</a></li>
            <li class="point" (click)="articlecat('nutrition')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Nutrition</a></li>
            <li class="point" (click)="articlecat('opinions')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Openions</a></li>
            <li class="point" (click)="articlecat('Pregnancy and Young')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Pregnancy and  BabyCare</a></li>
            <li class="point" (click)="articlecat('Geriatric Care')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Geriatric Care</a></li>
            <li class="point" (click)="articlecat('Holistic healing')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Holistic healing</a></li>

					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-3 col-xs-12">
				<div class="footer-panel footer-social">
					<h3>connect</h3>
					<ul>
						<li class="phone"><a href="tel:+919717333655">+91 9717333655</a></li>
						<li class="mail"><a href="mailto:info@yellowsquash.in">info@yellowsquash.in</a></li>
						<li class="address"><a href="javascript:void(0)">Noida, India</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</footer>
