@import url(https://fonts.googleapis.com/css?family=Gotham:400,400italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham-Light.woff2') format('woff2'),
        url('../../assets/fonts/Gotham-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham-Bold.woff2') format('woff2'),
        url('../../assets/fonts/Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('../../assets/fonts/Gotham-Book.woff2') format('woff2'),
        url('../../assets/fonts/Gotham-Book.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

.font-1 {
    font-family: 'Gotham';
}

html body {
	font-family: 'Playfair Display', serif;
overflow-x: hidden;
color: #483f2f;
line-height: 28px;

}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
font-weight:700;
}
li{
	list-style:none;
}
ul{
	padding:0;
	margin:0;
}


/*ELEMENTS*/
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}

select:focus {
	border: 1px solid #be9656;
	color: #5a5346;
}

select option {
	border-bottom:1px solid green;
}

/*-----------*/

.banner-inner, .jumbot-col, .blog-inner-section ul li:before, .blog-inner-section ol li a:before, .submit-upload, .back, .Next, .partner-be-h, .navigation a, .widget-appointment li a, .banner-expert, .banner-user-dashboard, .home-step-section, .explore-btn a{
	background:#f8cf23;
}
.widget-appointment li a{
	display:block;
}
.green-info{
	color:#07c32a;
}
.back, .Next{
	padding:10px 35px;
	margin-right:10px;
	font-weight:bold;
}
.add-degree-a{
	margin-left: 30px;
}
.next-top{
	margin-top:25px;
}
.menu-col{
	float:right !important;
    width:80% !important;
    margin-top: 35px !important;
}
header{
	padding: 0 0 35px 0 !important;
   background-color:#000000;
   margin: 0 !important;
}
.list-inline li a{
    display: block;
    color: #FFFFFF !important;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 32px;
}
.link-to-video{
    margin-top: 20px;
}
.dropdown-menu{
    position:absolute;
    left:23% !important;
    background: #f9d121;
}
.dropdown-menu li a{
    text-decoration:none;
    margin-left:10px;
    padding-bottom: 10px;
    COLOR: #000000 !important;
}
header .location{
	margin-left: 30px;
	float: left;
}
header select:focus{
	outline:0 !important;
	border:0;
}
header .login{
	text-transform:uppercase;
	float: right;
}
.partner-be-h{

}
header .login li a, header .login li{
	color:#999999;
	font-family: 'Gotham';
	font-weight:bold;
}
header select{
	background:url(../../assets/images/ic2.png) no-repeat ;
	border:0;
	padding: 0 0 0 20px;
	color:#999999;
	text-transform:uppercase;
	font-weight:700;
	font-family: 'Gotham';
	font-weight:bold;
}
.navbar-brand{
	 width: 15%;
   display: inline-block;
   vertical-align: middle;
   margin-right: 30px;
   max-width: 200px;
   padding: 20px 0 0 0;
}
.navbar-brand img{
	width: 100%;
}
.partner-be-h{
	margin-left: 20px;
}
.navigation{
	margin-left: 10px;
}
.partner-be-h a{
	color:#000 !important;
}
.login-list, .navigation{
	display:inline-block;
}
.navigation a{
	padding: 6px 8px;
}
footer h3{
	font-size: 16px;
}
.footer-link-list{
	float:left;
	margin-right: 40px;
}
.footer-link-list li a:hover{
    color: #f9d121;
}
.footer-link-list i{
	color:#676767;
	padding-right:10px;
}
.footer-link-category{
	width: 100%;
    font: 14px/24px "PT Serif", sans-serif;

}
.footer-link-category li{
	border-bottom:1px solid #dddddd;
	display:block;
    font: 14px/24px "PT Serif", sans-serif;
}
.footer-link-category li a:hover{
    color: #f9d121;
}
.footer-link-category li:last-child{
	border-bottom:0px solid #dddddd;
}
.footer-social li{
	background:url(../../assets/images/ic3.jpg) no-repeat;
	padding: 6px 0 13px 60px;
}
.footer-social li a{
     font: 14px/24px "PT Serif", sans-serif;
}
.footer-social li a:hover{
    color: #f9d121;
}
.footer-social .mail{
	background-position: 0;
}
.footer-social .address{
	background-position: 0 -90px;;
}
.footer-about{
	line-height: 19px;
    font: 14px/24px "PT Serif", sans-serif;
}
.submit-search{
	background:#f8cf23 url(../../assets/images/ic4.png) no-repeat;
	background-position: 10px 10px;
	border-radius: 0 4px 4px 0;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
/*-----------------------------------*/
.xpert-para, a, .left-bar-tab li.active a span{
	color: #2d2d2d;
}
.left-bar-tab li.active a span{
	color: #2d2d2d !important;
}
.xpert-para a, .expert-col, .dashboard-col,  .step1-li, .step2-li,.step6-li, .step3-li, .step4-li, .step5-li, .title-step h3{
	color:#000;
}
.expert-view-section, .user-dashboard-section{
	padding:70px 0;
}
.xpert-para a{
	font-weight:800;
}
.progress-li label, .follow-li li a, .widget-tags li a, .widget-appointment li a, .expert-col, .expert-video, .dashboard-col, .badge-red, .step1-li, .step2-li,.step6-li, .step3-li, .step4-li, .step5-li, .category-step, .title-step, .explore-btn{
	font-family: 'Gotham';
	font-weight: 500;
}
.expert-video h5,  .step1-li, .step2-li,.step6-li, .step3-li, .step4-li, .step5-li, .knowledge-food-section{
	text-transform:uppercase;
}
.banner-inner {
    padding: 50px 0;
}
.expert-img, .expert-details, .dashboard-details{
	float: left;
}
/*-----------------------------------*/
/*-expert view*/
.img-media{
	float:left;
}
.media-body {
    padding: 0 0 0 20px;
}
.expert-view-section p{
	line-height:21px;
}
.expert-view-section .media-heading{
	font-weight: 500;
	color: #121212;
}
.xpert-date{
	color: #b6b2b2;
	margin-top: 23px;
	font-family: 'Gotham';
	font-size:12px;
	font-weight:normal;
}
.xprt-panel-right{
	border: 1px solid #e3e3e3;
	margin-bottom: -1px;
}
.xprt-right-column{
	float:left;
	width:80%;
	padding: 10px;
}
.voting-list{
	float: left;

width: 20%;

text-align: center;
}
.voting-list li{
	border-left: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
	padding: 5px 0;
}
.voting-list li h4{
	margin: 4px 0 0 0;
	font-size:15px;
	font-family: 'Gotham';
	color:#737272;
}
.voting-list li p{
	font-family: 'Gotham';
	font-size:12px;
	color: #8d8d8d;
	margin:0;
}
.left-bar-tab {
    border: 1px solid #e3e3e3;
}
.left-bar-tab li a{
	display: block;
	padding: 7px 10px;
	border-bottom: 1px solid #e3e3e3;
	font-family: 'Gotham';
	text-transform: uppercase;
	font-size: 14px;
}
.left-bar-tab li a span{
	float:right;
}
.left-bar-tab li:last-child a{
	border-bottom:0;
}
.left-bar-tab li.active a{
	color:#18b641;
}
.left-bar-tab li.active a span{
	color:#18b641;
}
.widget-appointment li a{
	margin-bottom:10px;
	text-align:center;
	color:#000;
	text-transform:uppercase;
	font-size:14px;
	padding: 4px 0px;
}
.widget-appointment, .widget-tags{
	margin: 20px 0 0;
}
.widget-tags li{
	margin-bottom:10px;
}
.widget-tags li a{
	background: #e6e6e6;
	padding: 8px 18px;
	text-transform: uppercase;
	color: #a2a2a2;
	font-size: 12px;
}
.follow-li li{
	margin: 0 7px 0 0px;
padding: 0;
}
.follow-li li a {
    background: #f8cf23;
    padding: 12px 34px;
    font-size: 12px;
    text-transform: uppercase;
	border-radius:2px;
}
.follow-li li:last-child{
	margin:0 0px 0 0px;
}
.follow-li li.report a{
	background:#474747;
	color:#fff;
}
.follow-li{
	margin-bottom: 30px;
}
.progress-bar-success {
    background-color: #1ecb5b;
}
.progress{
	height:10px;
}
.progress-bar{
	border-radius:10px;
}
.progress-li{
	text-transform:uppercase;
	margin-bottom: 30px;
}
.expert-details h3, .dashboard-details h3{
	margin:0 0 10px 0;
}
.expert-img{
	width:20%;
}
.expert-details, .dashboard-details{
	width:80%;
	padding: 0 0 0 10px;
}
.expert-details p{
	line-height: 16px;
	margin: 0;
}
.banner-expert{
	padding: 26px 0;
}
.expert-col, .expert-description{
	margin-top: 30px;
}
.restaurent-list{
	float:right;
	margin-top: -10px;
}
.restaurent-list .btn, .restaurent-list .dropdown-menu{
	border:0;
	font-family: 'Gotham';
	font-weight:bold;
	color:#999999;
	text-transform:uppercase;
}
.show-on-hover{
	position:relative;
}
.restaurent-list .badge{
	position: absolute;
	left: 0;
	z-index: 3;
	background:#ff0012;
}
.btn-default:hover, .btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
	background-color:transparent;
	border-color: transparent;
	box-shadow:none;
}
.restaurent-list .btn.btn-default.dropdown-toggle img{
	margin-right: 10px;
	width:50px;
	height:50px;
}
.expert-col .expert-img img, .dashboard-col .expert-img img{
	width:70px;
	height:70px;
}
.dashboard-col{
	margin:0;
	padding:40px 0;
}
.dashboard-col p{
	margin:0;
	line-height: 16px;
}
.badge-red{
	background: red;
	width: 20px;
	height: 20px;
	display: block;
	line-height: 20px;
	text-align: center;
	color: #fff;
	border-radius: 30px;
	float: right;
margin-top: 2px;
margin-right: 1px;
}
.user-dashboard-li{
	border:1px solid #e3e3e3;
	padding:10px;
	width: 47%;
	float: left;
	margin: 0 11px 11px 11px;
	font-family: 'Gotham';
	color:#333;
}
.user-dashboard-li img{
	width:100%;
	height:75px;
}
.dashboard-img{
	width:20%;
	float:left;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover{
	border: 0px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.dashboard-li-heading{
	float:left;
	width:55%;
	padding: 0 0 0 13px;
}
.price-inr{
	float: left;
	width: 25%;
	text-align: right;
	font-size: 20px;
	font-weight: bold;
	color: #28b42e;
}
.dashboard-p{
	width:100%;
}
.dashboard-li-heading h3{
	margin:0;
	font-size: 20px;
}
.order-view-orange{
	background: #f8cf23;
	padding: 5px 30px;
	text-transform: uppercase;
	float:left;
}
.order-view-green{
	background: #28b42e;
	padding: 5px 30px;
	text-transform: uppercase;
	color:#fff;
	float:right;
}
.dashboard-p{
	margin-top:20px;
}
.order-view-gray{
	padding: 5px 30px;
	background: #555655;
	text-transform: uppercase;
	color:#fff;
	float:right;
}
.pagination > li > a, .pagination > li > span {
    margin-left: 6px;
    background-color: #f9f8f8;
    border: 0px solid #ddd;
    border-radius: 3px;
	color:#929292;
	font-family: 'Gotham';
}
.pagination > li > a:hover{
	box-shadow: 0px 3px 0px #cbcbcb;
}
.pagination-col{
	margin-top:40px;
	float: left;
}
.nav-tabs > li{
	width:100%;
}
.user-dashboard-section .nav > li > a:hover, .user-dashboard-section .nav > li > a:focus{
	background:transparent;
}
.tab-content {
  padding: 10px;
}
footer{
	padding: 30px 0 30px 0;
	background:#fff;
}
footer h3{
	font-size: 16px;
	font-family: 'Gotham';
	text-transform: uppercase;
	color: #000;
}
footer p, footer a  {
    font-size: 1em;
    color: #000;
}
.footer-link-list{
	float:left;
	margin-right: 40px;
}
.footer-link-list i{
	color:#676767;
	padding-right:10px;
}
.footer-link-category{
	width: 100%;
}
.footer-link-category li{
	border-bottom:1px solid #dddddd;
	display:block;
}
.footer-link-category li:last-child{
	border-bottom:0px solid #dddddd;
}
.footer-social li{
	background:url(../../assets/images/ic3.jpg) no-repeat;
	padding: 6px 0 13px 60px;
}
.footer-social .mail{
	background-position: 0;
}
.footer-social .address{
	background-position: 0 -90px;;
}
.footer-about{
	line-height: 19px;
}
/*homepage*/
.in-form, .submit-form{
	width:100%;
}
.knowledge-food-section{
	background:url(../../assets/images/img6.jpg) no-repeat bottom;
	padding:20px 0 300px 0;
	background-size:cover;
}
.home-step-section{
	padding:70px 0;
}
.step1-li, .step2-li{
	float:left;
	width:50%;
	position:relative;
}
.step1-li p{
	padding: 0;
	margin: 11px 0 0 0px !important;
}
.step1-li:before{
	content: "";
	position: absolute;
	top: 101px;
	right: -160px;
	background: url(../../assets/images/ic31.png) no-repeat;
	width: 519px;
	height: 60px;
}
.step2-li:before{
	content: "";
	position: absolute;
	top: 190px;
	right: -40px;
	background: url(../../assets/images/ic32.png) no-repeat;
	width: 179px;
	height: 300px;
}
.step2-li{
	text-align: right;
	padding: 0 130px;
}
.step3-li, .step4-li, .step5-li{
	float:left;
	width:33.3%;
}
.step6-li{
	float:right;
	text-align: center;
	margin: 150px -20px 0 0;
}
.step5-li{
	margin-top: 100px;
	text-align:center;
}
.step4-li, .step3-li{
	text-align:center;
}
.step3-li{
	margin-top:150px;
}
.step3-li:before{
	content: "";
	position: absolute;
	bottom: -150px;
	background: url(../../assets/images/ic35.png) no-repeat;
	width: 830px;
	height: 140px;
	left: 180px;
}
.step4-li:before{
	content: "";
	position: absolute;
	top: 80px;
	left: -190px;
	background: url(../../assets/images/ic34.png) no-repeat;
	width: 449px;
	height: 110px;
}
.step5-li, .step5-li img, .step4-li, .step4-li img, .step3-li, .step3-li img{
	position:relative;
}
.step5-li:before{
	content: "";
	position: absolute;
	top: 40px;
	left: -120px;
	background: url(../../assets/images/ic33.png) no-repeat;
	width: 179px;
	height: 70px;
}
 .step1-li p, .step2-li p,.step6-li p, .step3-li p, .step4-li p, .step5-li p{
	width: 220px;
	text-align: center;
	margin: 12px auto 0;
 }
.category-step{
	background:#fff;
	text-align: center;
	padding: 15px 0;
	text-transform: uppercase;
	margin-top: 30px;
}
.category-step li{
	margin: 0 60px;
}
.category-step li a{
	display:block;
}
.category-step li img{
	display:block;
	margin: 0 auto;
}
.title-step p{
	font-size:11px;
	line-height: 0;
}
.knowledge-food-section, .knowledge-food-section h3{
	font-family: 'Gotham';
	font-weight:normal;
	color:#000;
}
.knowledge-food-section h3{
	font-size: 30px;
}
.knowledge-food-section p.small-heading{
	color: #adadad;
}
.fill-form{
	margin-top:40px;
}
.knowledge-food-panel select{
	background:url(../../assets/images/ic43.png) right center no-repeat, #fff;
	color:#898989;
}
.knowledge-food-panel .block-h-knowledge-deatils{
	margin-top: 50px;
}
.knowledge-food-panel .block-h-knowledge-deatils span{
	font-size: 24px;
	font-weight: bold;
}
.knowledge-food-panel .block-h-knowledge-deatils li{
	padding-right: 25px;
	padding-left: 25px;
}
.knowledge-food-panel .in-form, .knowledge-food-panel .submit-form {
    width: 100%;
    border: 1px solid #f8cf23;
    padding: 0 15px;
    height: 42px;
}
.fill-form .submit-form{
	background: #f8cf23;
	border: 0;
	padding: 7px 0;
	text-transform: uppercase;
}
.owl-carousel .item {
  position: relative;
  z-index: 100;
  -webkit-backface-visibility: hidden;
}

/* end fix */
.owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.owl-nav i {
  font-size: 52px;
}

.owl-nav .owl-prev {
	left: -60px;
	background: url(../../assets/images/ic37.png) no-repeat;
	height: 70px;
	font-size: 0;
	width: 40px;
}

.owl-nav .owl-next {
	right: -60px;
	background: url(../../assets/images/ic37.png) no-repeat;
	height: 70px;
	font-size: 0;
	width: 40px;
	background-position: -102px 0;
}
.talk-expert-section{
	padding:40px 0;
	background:#ebedf3;
}
.expert-testimonial-image{
	width:50px !important;
	height:50px;
	float:left;
}
.expert-testi-panel{
	background:#fff;
	padding:10px;
}
.expert-testimonial-details{
	float: left;
	width: 80%;
	padding: 0 0 0 20px;
}
.expert-testi-panel h4{
	margin:0 0 10px 0;
}
.expert-testi-panel p{
	line-height:23px;
	font-size: 14px;
}
.explore-btn{
	position: absolute;
	top: 0;
	right: 0;
}
.explore-btn a{
	padding: 7px 50px;
	text-transform: uppercase;
	font-size: 14px;
}
.home-panel, .health-panel{
	position:relative;
}
.homechef-section{
	padding:40px 0;
}
.homechef-section img{
	width:100%;
	height:130px;
}
.homechef-section .carousel-wrap{
	margin-top: 30px;
}
.health-panel{
	margin:50px 0 0;
}
.health-panel img{
	width:auto !important;
}


/*dashboard*/

.wrapper{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1.5) ),url('/assets/images/bg.jpg');
    background-size: cover;
}
#bg {

    top: -50%;
    left: -50%;

    width: 200%;
    height: 200%;
	position: fixed;
	z-index: -1;

}




#bg img{
	width:100%;
    background-size:cover;
    background-position: center;
  background-repeat: no-repeat;
    background-attachment: scroll;

     filter: blur(5px);
  -webkit-filter: blur(5px);
}


#first-dashboard-col, #second-dashboard-col{
	margin-top:25px;
	margin-bottom:15px;
	padding-bottom:47px;
	border-bottom:1px solid #fff;
}
.right-form-container{
	background:#fff;
	padding:30px;
	border-radius:5px;
    font-family: 'Gotham';
}
form{
    padding-left:20px !important;
}
.form-group{
    margin-bottom: 0 !important;
}
.block-1-panel{
	padding: 120px 0;
}
.side-left-panel .heading-h2{
/*    width: 60%;*/
	margin-bottom: 20px;
    line-height: 46px;
    color: #FFFFFF;
    font-size: 42px;
    font-family: 'Gotham';
    text-transform: uppercase;
}
.number-li {
    height: 25px;
    width: 25px;
    border-radius: 15px;
    background-color: #F8CF23;
    float: left;
}
.block1-top-bar {
    padding-left: 0;
}
.number-li span {
    font-size: 15px;
    font-weight: bold;
    line-height: 25px;
    padding: 3px 8px;
    color: #000;
}
.block1-number .number-heading {
    padding-left: 15px;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    font-family: 'Gotham';
}
.block1-top-bar .number-p {
    margin-top: 10px;
    color: #fff;
    font-size: 15px;
    line-height: 19px;
    display: inline-block;
    text-align: left;
    font-family: 'Gotham';
}
.s{
    margin-top:20px;
}
#second-dashboard-col h3 {
    color: #fff;
    font-size: 20px;
    line-height: 27px;
	font-weight: 600;
	margin:0;
    font-family: 'Gotham';
}
#second-dashboard-col .detail_heading {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
/*    display: inline-block;*/
    margin: 20px 0 10px 10px;
    padding-bottom: 8px;
    vertical-align: middle;
    font-family: 'Gotham';
}
.detail-li i.fab{
    color: white;
    font-size:20px;
}
.form-group{

/*    margin-bottom: 20px !important;*/
    margin-right: 10px;
}

/*    display: inline-block !important;*/
/*    margin-right: 10px;*/
    /*margin-top: 10px;
    margin-bottom:20px;
}*/


.form-group p{
    font-size:11px;
}
.right-form-container h5 {

    font-size: 24px;
    margin: 15px -15px 5px 0px;
	color:#000;
	margin:0 0 15px;

    text-align:center;
    font-size: 24px;
/*    margin: 15px -15px 5px 0px;*/
	color:#000;
/*	margin:0 0 15px;*/
    margin-bottom:20px;
}
.extra{
    margin:15px;
}
.extra p{
    text-align:center;

}
.extra ul{
    text-align:center;
}
.extra ul li{
    display:inline-block;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 11px;
    cursor:pointer;

}
.extra ul li .fa-google,.extra ul li .fa-facebook-f,.extra ul li .fa-linkedin-in{
    font-size: 25px !important;
}
.extra ul li:hover,.extra ul li:hover,.extra ul li:hover{
    background-color: #f9d121;
    color: #fff;
     border: 1px solid #f9d121;

}
.right-form-container label{
	color:#000;
}
.terms-condition-p a{
	color:#f8cf23;
}
.terms {
    display: inline-block;
    margin: 20px 20px 0 10px;
}
.submit-btn {

    width:100%;

    background-color: #f8cf23;
    color: #000;
    padding: 9px 30px 6px 30px;
    margin-top: 13px;
    border-radius: 4px;
    font-size: 15px;
    margin-left:-13px;
}
.submit-btn:hover{
	color:#fff;
}
.form-control:focus{
	border-color:#f8cf23;
	box-shadow:0 0 0;
}

.video-part{
   background-color:#f9f9f9;
    position: relative;
    z-index: 999990;
    padding: 3em 0;
}
.video-block {
    text-align: center;
    padding: 0;
/*    margin-top:8px;*/
}
.video-container {
    margin: 0 auto;
    max-width: 600px;
}
.video-container iframe {
    width: 100%;
    height: 300px;
}
a.view-stories {
        background: black;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: gotham !important;
    color: #f9d121;
}


 /*Rsponsive*/
@media (min-width: 1281px) and (max-width: 1300px){
	.step1-li img, .step2-li img{
		width: 130px;
		background: #f8cf23;
	}
	.step1-li::before {
		content: "";
		position: absolute;
		top: 76px;
		right: -261px;
		background: url(../../assets/images/ic31.png) no-repeat;
		width: 589px;
		height: 60px;
		background-size: 540px 29px;
	}
	.step1-li p {
		margin: 11px 0 0 -40px !important;
	}
	.step2-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step2-li{
		padding: 30px 85px;
	}
	.step2-li::before {
		content: "";
		position: absolute;
		top: 116px;
		right: -90px;
		background: url(../../assets/images/ic32.png) no-repeat;
		width: 179px;
		height: 210px;
		background-size: 90px 200px;
	}
	.step1-li p, .step2-li p, .step6-li p, .step3-li p, .step4-li p, .step5-li p {
		line-height: 20px;
	}
	.step4-li img, .step3-li img, .step6-li img{
		width: 100px;
		background: #f8cf23;
	}
	.step5-li{
		margin-top: 60px;
	}
	.step5-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step5-li::before {
		top: 30px;
		left: -80px;
		width: 109px;
		background-size: 110px 28px;
	}
	.step4-li::before {
		top: 45px;
		background-size: 261px 40px;
		width: 229px;
		left: -120px;
	}
	.step3-li {
		margin-top: 80px;
	}
	.step3-li::before{
		background-size: 610px 60px;
		width: 570px;
	}
	.step6-li{
		margin: 85px 40px 0 0;
	}
}
@media (min-width: 1161px) and (max-width: 1280px){
	.step1-li img, .step2-li img{
		width: 130px;
		background: #f8cf23;
	}
	.step1-li::before {
		content: "";
		position: absolute;
		top: 76px;
		right: -261px;
		background: url(../../assets/images/ic31.png) no-repeat;
		width: 589px;
		height: 60px;
		background-size: 540px 29px;
	}
	.step1-li p {
		margin: 11px 0 0 -40px !important;
	}
	.step2-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step2-li{
		padding: 30px 85px;
	}
	.step2-li::before {
		content: "";
		position: absolute;
		top: 116px;
		right: -90px;
		background: url(../../assets/images/ic32.png) no-repeat;
		width: 179px;
		height: 210px;
		background-size: 90px 200px;
	}
	.step1-li p, .step2-li p, .step6-li p, .step3-li p, .step4-li p, .step5-li p {
		line-height: 20px;
	}
	.step4-li img, .step3-li img, .step6-li img{
		width: 100px;
		background: #f8cf23;
	}
	.step5-li{
		margin-top: 60px;
	}
	.step5-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step5-li::before {
		top: 30px;
		left: -80px;
		width: 109px;
		background-size: 110px 28px;
	}
	.step4-li::before {
		top: 45px;
		background-size: 261px 40px;
		width: 229px;
		left: -120px;
	}
	.step3-li {
		margin-top: 80px;
	}
	.step3-li::before{
		background-size: 610px 60px;
		width: 570px;
	}
	.step6-li{
		margin: 85px 40px 0 0;
	}
}
@media (min-width: 1025px) and (max-width: 1160px){
	.expert-img {
		width: 20%;
	}
	.tab-content {
		padding: 0;
	}
	.user-dashboard-li{
		width:46%;
	}
	.expert-col .expert-img img, .dashboard-col .expert-img img {
		width: 100%;
		height: 60px;
	}
	.order-view-orange, .order-view-green, .order-view-gray{
		font-size: 11px;
		padding: 3px 10px;
	}
	.step1-li img, .step2-li img{
		width: 130px;
		background: #f8cf23;
	}
	.step1-li::before {
		content: "";
		position: absolute;
		top: 76px;
		right: -261px;
		background: url(../../assets/images/ic31.png) no-repeat;
		width: 589px;
		height: 60px;
		background-size: 540px 29px;
	}
	.step1-li p {
		margin: 11px 0 0 -40px !important;
	}
	.step2-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step2-li{
		padding: 30px 85px;
	}
	.step2-li::before {
		content: "";
		position: absolute;
		top: 116px;
		right: -90px;
		background: url(../../assets/images/ic32.png) no-repeat;
		width: 179px;
		height: 210px;
		background-size: 90px 200px;
	}
	.step1-li p, .step2-li p, .step6-li p, .step3-li p, .step4-li p, .step5-li p {
		line-height: 20px;
	}
	.step4-li img, .step3-li img, .step6-li img{
		width: 100px;
		background: #f8cf23;
	}
	.step5-li{
		margin-top: 60px;
	}
	.step5-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step5-li::before {
		top: 30px;
		left: -80px;
		width: 109px;
		background-size: 110px 28px;
	}
	.step4-li::before {
		top: 45px;
		background-size: 261px 40px;
		width: 229px;
		left: -120px;
	}
	.step3-li {
		margin-top: 80px;
	}
	.step3-li::before{
		background-size: 610px 60px;
		width: 570px;
	}
	.step6-li{
		margin: 85px 40px 0 0;
	}
}

@media (min-width: 992px) and (max-width: 1024px){
	.expert-img {
		width: 20%;
	}
	.tab-content {
		padding: 0;
	}
	.user-dashboard-li{
		width:100%;
	}
	.expert-col .expert-img img, .dashboard-col .expert-img img {
		width: 100%;
		height: 60px;
	}
	.step1-li img, .step2-li img{
		width: 130px;
		background: #f8cf23;
	}
	.step1-li::before {
		content: "";
		position: absolute;
		top: 76px;
		right: -261px;
		background: url(../../assets/images/ic31.png) no-repeat;
		width: 589px;
		height: 60px;
		background-size: 540px 29px;
	}
	.step1-li p {
		margin: 11px 0 0 -40px !important;
	}
	.step2-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step2-li{
		padding: 30px 85px;
	}
	.step2-li::before {
		content: "";
		position: absolute;
		top: 116px;
		right: -90px;
		background: url(../../assets/images/ic32.png) no-repeat;
		width: 179px;
		height: 210px;
		background-size: 90px 200px;
	}
	.step1-li p, .step2-li p, .step6-li p, .step3-li p, .step4-li p, .step5-li p {
		line-height: 20px;
	}
	.step4-li img, .step3-li img, .step6-li img{
		width: 100px;
		background: #f8cf23;
	}
	.step5-li{
		margin-top: 60px;
	}
	.step5-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step5-li::before {
		top: 30px;
		left: -80px;
		width: 109px;
		background-size: 110px 28px;
	}
	.step4-li::before {
		top: 45px;
		background-size: 261px 40px;
		width: 229px;
		left: -120px;
	}
	.step3-li {
		margin-top: 80px;
	}
	.step3-li::before{
		background-size: 610px 60px;
		width: 570px;
	}
	.step6-li{
		margin: 85px 40px 0 0;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.expert-img {
		width: 20%;
	}
	.tab-content {
		padding: 0;
	}
	.user-dashboard-li{
		width:100%;
	}
	.step1-li img, .step2-li img{
		width: 130px;
		background: #f8cf23;
	}
	.step1-li::before {
		content: "";
		position: absolute;
		top: 76px;
		right: -181px;
		background: url(../../assets/images/ic31.png) no-repeat;
			background-size: auto auto;
		width: 419px;
		height: 60px;
		background-size: 360px 29px;
	}
	.step1-li p {
		margin: 11px 0 0 -40px !important;
	}
	.step2-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step2-li{
		padding: 30px 85px;
	}
	.step2-li::before {
		content: "";
		position: absolute;
		top: 116px;
		right: -90px;
		background: url(../../assets/images/ic32.png) no-repeat;
		width: 179px;
		height: 210px;
		background-size: 90px 200px;
	}
	.step1-li p, .step2-li p, .step6-li p, .step3-li p, .step4-li p, .step5-li p {
		line-height: 20px;
	}
	.step4-li img, .step3-li img, .step6-li img{
		width: 100px;
		background: #f8cf23;
	}
	.step5-li{
		margin-top: 60px;
	}
	.step5-li img{
		width: 160px;
		background: #f8cf23;
	}
	.step5-li::before {
		top: 30px;
		left: -80px;
		width: 109px;
		background-size: 110px 28px;
	}
	.step4-li::before {
		top: 45px;
		background-size: 261px 40px;
		width: 229px;
		left: -120px;
	}
	.step3-li {
		margin-top: 80px;
	}
	.step3-li::before{
		background-size: 340px 50px;
		width: 380px;
	}
	.step6-li{
		margin: 85px 40px 0 0;
	}
}

@media (max-width: 767px) {
	.user-dashboard-li, .price-inr, .voting-list, .xprt-right-column, .step1-li, .step2-li, .step3-li, .step4-li, .step5-li, .step6-li, .side-left-panel .heading-h2{
		width: 100%;
	}
	#bg img {
		height: 100%;
	}
	.right-form-container{
		padding: 20px;
	}
	.block-1-panel {
		padding: 40px 10px;
	}
	.navbar-brand > img, .step1-li img, .step2-li img, .step3-li img, .step4-li img, .step5-li img, .step6-li img{
		width:100px;
		margin: 0 auto;
	}
	.dashboard-li-heading{
		width:80%;
	}
	.order-view-orange, .order-view-gray, .order-view-green{
		width: 100%;
		text-align: center;
	}
	.user-dashboard-li, .dashboard-p, .step3-li, .step5-li, .step6-li{
		margin:0;
	}
	.step2-li{
		padding:0;
	}
	.step1-li::before, .step2-li::before, .step3-li::before, .step4-li::before, .step5-li::before, .step6-li::before{
		content:none;
	}
	.step1-li p, .step2-li p, .step6-li p, .step3-li p, .step4-li p, .step5-li p {
		width: 100%;
		text-align: center;
		margin: 0 !important;
	}
	.order-view-orange, .user-dashboard-li{
		margin-bottom:10px;
	}
	.price-inr{
		text-align:left;
	}
	.step1-li, .step2-li, .step6-li, .step3-li, .step4-li, .step5-li{
		text-align: center;
		margin-bottom:20px;
	}
	.user-dashboard-li img{
		height: 55px;
	}
	.dashboard-li-heading h3, .expert-details h3, .dashboard-details h3{
		font-size:18px;
	}
	.dashboard-li-heading p{
		font-size:13px;
	}
	.expert-col .expert-img img, .dashboard-col .expert-img img {
		width: 100%;
		height: 58px;
	}
	.navbar-brand {
		width: 45%;
		text-align: center;
		margin: 0 auto;
		float: none;
	}
	.menu-col {
		float: none;
		width: 100%;
		margin-top: 80px;
	}
	.restaurent-list .btn.btn-default.dropdown-toggle img{
		width: 25px;
		height: 25px;
	}
	.restaurent-list {
		float: none;
		margin-top: 0;
		text-align: center;
		font-size: 12px;
	}
	header .location {
		margin-left: 0;
		float: none;
		text-align: center;
		font-size: 12px;
	}
	header {
		padding: 0 0 15px 0;
	}
	.tab-content {
		padding: 10px 0 0;
	}
  .nav-tabs.nav-tabs-dropdown,
  .nav-tabs-dropdown {
    border: 1px solid #dddddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  .nav-tabs.nav-tabs-dropdown::after,
  .nav-tabs-dropdown::after {
    content: "☰";
    position: absolute;
    top: 8px;
    right: 15px;
    z-index: 2;
    pointer-events: none;
  }
  .nav-tabs.nav-tabs-dropdown.open a,
  .nav-tabs-dropdown.open a {
    position: relative;
    display: block;
  }
  .nav-tabs.nav-tabs-dropdown.open > li.active > a,
  .nav-tabs-dropdown.open > li.active > a {
    background-color: #eeeeee;
  }
  .nav-tabs.nav-tabs-dropdown li,
  .nav-tabs-dropdown li {
    display: block;
    padding: 0;
    vertical-align: bottom;
  }
  .nav-tabs.nav-tabs-dropdown > li > a,
  .nav-tabs-dropdown > li > a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    border-color: transparent;
  }
  .nav-tabs.nav-tabs-dropdown > li > a:focus,
  .nav-tabs-dropdown > li > a:focus,
  .nav-tabs.nav-tabs-dropdown > li > a:hover,
  .nav-tabs-dropdown > li > a:hover,
  .nav-tabs.nav-tabs-dropdown > li > a:active,
  .nav-tabs-dropdown > li > a:active {
    border-color: transparent;
  }
  .nav-tabs.nav-tabs-dropdown > li.active > a,
  .nav-tabs-dropdown > li.active > a {
    display: block;
    border-color: transparent;
    position: relative;
    z-index: 1;
    background: #fff;
  }
  .nav-tabs.nav-tabs-dropdown > li.active > a:focus,
  .nav-tabs-dropdown > li.active > a:focus,
  .nav-tabs.nav-tabs-dropdown > li.active > a:hover,
  .nav-tabs-dropdown > li.active > a:hover,
  .nav-tabs.nav-tabs-dropdown > li.active > a:active,
  .nav-tabs-dropdown > li.active > a:active {
    border-color: transparent;
  }
}
@media(max-width:768px){

}
