
<app-header></app-header>
<div class="banner-inner">
	<div class="container">
		<h2>{{catparam}}</h2>
		<div class="subheading">
			<p *ngIf="catparam == 'Diabesity'">Discussing: The modern curse - Diabetes & Obesity</p>
			<p *ngIf="catparam == 'Gut Health'">Relation between gut microbiota and overall well being</p>
			<p *ngIf="catparam == 'Healthy Foods'">Microgreens, Superfoods, Fermented foods, Sourdough and more</p>
			<p *ngIf="catparam == 'Staying Young'">Fad diets, hot debates, fitness, muscle building, and more.</p>
			<p *ngIf="catparam == 'Therapeutic'">PCOS, thyroid, renal disorders, gout(uric acid), CVD, hormonal imbalance, asthma, cancer</p>
			<p *ngIf="catparam == 'Lifestyle'">Effects of pollution; mental health like depression, stress; skin care</p>
			<p *ngIf="catparam == 'Pregnancy and Young'">Fertility, Pregnancy issues, young mothers, baby care</p>
			<p *ngIf="catparam == 'Geriatric Care'">Alzheimer's, arthritis,  anti oxidants, old age related issues</p>
			<p *ngIf="catparam == 'Holistic healing'">spirituality, yoga, meditation, deep healing, cleansing, energy related therapies like sujok, reiki, pranik, color, iridology, tarot reading, etc.</p>

		</div>


	</div>
</div>
<div class="breadcrumbs-li">
	<div class="container">
		<ul class="list-inline">
			<li><a href="#">Home</a></li>
			<li>></li>
			<li><a href="#">Blog</a></li>
		</ul>
	</div>
</div>
<div class="blog-section">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-sm-8 col-xs-12">
				<div class="blog-left-wrapper">
					<div class="grid effect-2" id="grid">
						<div class="item" *ngFor="let article of articleData">
							<div class="blog-detail">
								<div class="blog-li" *ngIf="article?.projectionimage"><img src="{{projectionimageurl}}{{article?.projectionimage}}" alt="" class="img-responsive"  style="height:270px;"></div>
								<div class="blog-li" *ngIf="!article?.projectionimage"><img src="./assets/images/noimage.jpg" alt="" class="img-responsive"></div>
								<div class="blog-details-info">
									<ul class="list-inline">
										<li class="dated-blog"><i class="far fa-calendar" aria-hidden="true"></i> July 28, 2018</li>
										<li>0 comment</li>
									</ul>

									<div class="topic-blog">
									    <h3 style="cursor:pointer;" (click)="singlearticle(article._id)">{{article?.title}} ...</h3>
									</div>

									<div><a style="cursor:pointer;" (click)="singlearticle(article._id)" class="pull-left">Read Article</a> <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i><div class="clearfix"></div></div>
								</div>
							</div>
						</div>

					</div>
					<div class="clearfix"></div>
					<a routerLink="/blog">See More .. </a>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-12">
				<div class="blog-right-widget">
					<div class="search">
						<h3>Search</h3>
						<form class="search-form">
							<!-- <input type="text" name="" class="input-li" placeholder="Search"/> -->
							<input type="text" id="mySearch" class="input-li" (keyup)="searchName($event)" value="" placeholder="Search.." title="Type in a category" >

							<button style="padding:6px;" class="submit-search"><i class="fa fa-search"></i></button>
						</form>
					</div>
					<div class="recent-widget">
						<h3>Recent Post</h3>
						<div class="recent-col" *ngFor="let article of userarticleData">
							<div class="recent-li">
									<img *ngIf="article?.projectionimage" src="{{projectionimageurl}}{{article?.projectionimage}}" alt="" class="img-responsive"  style="height:70px;">
									<img *ngIf="!article?.projectionimage" src="./assets/images/noimage.jpg" alt="" class="img-responsive">
							</div>
							<div class="recent-li-text" style="cursor:pointer;">
								<h4 (click)="singlearticle(article._id)">{{article.title}}</h4>
								<p><i class="far fa-clock" aria-hidden="true"></i> {{article.createdAt | date:medium}}</p>
							</div><div class="clearfix"></div>
							<a routerLink="/blog">See More .. </a>
						</div>
					</div>
					<div class="recent-widget">
						<h3>Categories</h3>
						<div class="footer-panel">
							<ul class="footer-link-list footer-link-category">
								<!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Lifestyle</a></li>
								<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nutrition</a></li>
								<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li> -->
								<li class="point" (click)="articlecat('Diabesity')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Diabesity</a></li>
								<li class="point" (click)="articlecat('Gut Health')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Gut Health</a></li>
								<li class="point" (click)="articlecat('Healthy Foods')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Healthy Foods</a></li>
								<li class="point" (click)="articlecat('Staying Young')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Staying Young</a></li>
								<li class="point" (click)="articlecat('Therapeutic')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Therapeutic</a></li>
								<li class="point" (click)="articlecat('Lifestyle')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Lifestyle</a></li>
								<li class="point" (click)="articlecat('nutrition')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Nutrition</a></li>
								<li class="point" (click)="articlecat('opinions')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Openions</a></li>
								<li class="point" (click)="articlecat('Pregnancy and Young')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Pregnancy and  BabyCare</a></li>
								<li class="point" (click)="articlecat('Geriatric Care')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Geriatric Care</a></li>
								<li class="point" (click)="articlecat('Holistic healing')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Holistic healing</a></li>
			
							</ul>
						</div>
					</div>
					<div class="tag-widget">
						<h3>Tag Cloud</h3>
						<ul>
							<li (click)="articletag('amino acids')">amino acids</li>
							<li (click)="articletag('anti-aging')">anti-aging</li>
							<li (click)="articletag('anti-inflammatory')">anti-inflammatory</li>		
							<li (click)="articletag('anti-oxidant rich')">anti-oxidant rich</li>
							<li (click)="articletag('carbohydrates')">carbohydrates</li>		
							<li (click)="articletag('brain health')">brain health</li>		
							<li (click)="articletag('cholesterol')">cholesterol</li>		
							<li (click)="articletag('breast cancer')">breast cancer</li>		
							<li (click)="articletag('cancer management')">cancer management</li>		
							<li (click)="articletag('cholesterol-friendly foods')">cholesterol-friendly foods</li>		
							<li (click)="articletag('diabetes')">diabetes</li>		
							<li (click)="articletag('diabetes-friendly foods')">diabetes-friendly foods</li>		
							<li (click)="articletag('diabetes management')">diabetes management</li>		
							<li (click)="articletag('diet')">diet</li>		
							<li (click)="articletag('fats')">fats</li>		
							<li (click)="articletag('fitness')">fitness</li>		
							<li (click)="articletag('gestational diabetes')">gestational diabetes</li>		
							<li (click)="articletag('good hair')">good hair</li>		
							<li (click)="articletag('good skin')">good skin</li>		
							<li (click)="articletag('gut health')">gut health</li>		
							<li (click)="articletag('healthy drink')">healthy drink</li>		
							<li (click)="articletag('healthy eating')">healthy eating</li>		
							<li (click)="articletag('healthy fats')">healthy fats</li>		
							<li (click)="articletag('heart health')">heart health</li>	
							<li (click)="articletag('heart healthy')">heart healthy</li>		
							<li (click)="articletag('hypertension')">hypertension</li>		
							<li (click)="articletag('hypertension management')">hypertension management</li>		
							<li (click)="articletag('immune system')">immune system</li>		
							<li (click)="articletag('immunity')">immunity</li>		
							<li (click)="articletag('ingredients')">ingredients</li>		
							<li (click)="articletag('low calorie')">low calorie</li>		
							<li (click)="articletag('minerals')">minerals</li>		
							<li (click)="articletag('nutrition')">nutrition</li>		
							<li (click)="articletag('Pregnancy')">Pregnancy</li>		
							<li (click)="articletag('pregnancy nutrition')">pregnancy nutrition</li>		
							<li (click)="articletag('proteins')">proteins</li>		
							<li (click)="articletag('saturated fat')">saturated fat</li>		
							<li (click)="articletag('stress')">stress</li>	
							<li (click)="articletag('trace elements')">trace elements</li>		
							<li (click)="articletag('trans fat')">trans fat</li>		
							<li (click)="articletag('type 1 diabetes')">type 1 diabetes</li>		
							<li (click)="articletag('type 2 diabetes')">type 2 diabetes</li>		
							<li (click)="articletag('vitamins')">vitamins</li>		
							<li (click)="articletag('weight loss')">weight loss</li>		
							
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<app-footer style="margin-top:50px;"></app-footer>
	<!--  connecting the footer part  -->
