
<app-header></app-header>
<app-expertinfobar></app-expertinfobar>
<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-expert-sidebar></app-expert-sidebar>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <hr/>
        <p *ngIf="profile_desc" [innerHtml]="profile_description"> </p>
        <p *ngIf="!profile_desc" > No Profile Description. </p>

    </div>
    
    <div class="col-md-9 col-sm-8 col-xs-12">
      <div class="comment-form">
        <div id="respond" class="contact-form form-holder">
    
          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title">
              <div class="element-title">
                <h3 class="font-gotham">Comments : </h3>
                <ng-container *ngFor="let comment of expertData.comment">
                 <div cclass="row"><div class="chat-element-box"><p > {{comment.expert_comment}}  <span >By :- {{comment.user_name}}  : {{comment.comment_date}} </span> </p></div></div>
                </ng-container>
    
              </div> 
            </h3>
          </div>
        </div>
      </div>
    </div>
    
    
    <div class="col-md-3 col-sm-4 col-xs-12"></div>
    <div class="col-md-9 col-sm-8 col-xs-12 form font-gotham">
      <div class="comment-form">
        <div id="respond" class="contact-form form-holder">
    
          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title "><div class="element-title">
              <h4 class="font-gotham">Post your Comments</h4>
            </div> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2018/08/26/foods-to-sleep-better/#respond" style="display:none;">Cancel reply</a></small></h3>	
            <form id="form-style" class=" contact-form row" name = "commentform" novalidate [formGroup]="expertForm" (ngSubmit)="saveexpert(expertData._id)">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cs-message"><div class="field-holder post-comment"><textarea name="comment" formControlName="summary" class="commenttextarea requiredfields" style="height: 226px;" rows="55" cols="15"></textarea></div></div><p class="form-submit"></p><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                          <div class="field-holder"  ><label><input type="submit" class="button bgcolor yellow-border" tabindex="5" value="Post Comments"></label>
                          </div>
                        </div>
    
                        <p></p>			
            </form>
          </div><!-- #respond -->
        </div>
      </div>
    </div>


  </div>
</div>
<app-footer></app-footer>
