.font-gotham{
    font-family: 'Gotham';
}
.chat-element-box {
    padding: 10px;
    box-shadow: 0px 1px 3px #d2c9c9;
    margin-bottom: 16px;
    position: relative;
    max-width: 550px;
    background: #f9d121;
    border-radius: 5px;
}
.chat-element-box::after{
    content: '';
    position: absolute;
    left: -30px;
    border-left: 15px solid #ccc0;
    border-right: 15px solid #f8d23d;
    border-bottom: 10px solid #ccc0;
    border-top: 10px solid #ccc0;
    top: 5px;

}
.chat-element-box::before{
    content: '';
    position: absolute;
    left: -30px;
    border-left: 15px solid #ccc0;
    border-right: 15px solid #e1dcdc;
    border-bottom: 11px solid #ccc0;
    border-top: 11px solid #ccc0;
    top: 5px;

}
.chat-element-box p{
    font-size: 14px;
    margin-bottom: 0px;
    display: block;
    font-weight: 400;
    font-family: 'Gotham';
    
}
.chat-element-box p span{
    display: block;
    text-align: right;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    margin-top: 5px;
}

.contact-form .post-comment textarea{

    box-shadow: 0px 2px 2px #e2dede;
}
.contact-form input.yellow-border
{
    border:1px solid #f9d121;
    color:#f9d121;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.contact-form input.yellow-border:hover,.contact-form input.yellow-border:focus{
    background: #f9d121;
    color: #000;
    
}