.container{
    font-family: 'Gotham';
}
.searching{
    margin-top:40px;
    margin-bottom:30px;
}
.search-bar form {
    position: relative;
}
.search-bar form .input-group {
    display: block;
    position: relative;
}
.search-bar form input.form-control {
    box-shadow: none;
    border-color: #f2f2f2;
}
input.form-control {
    height: 38px;
    line-height: 38px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    padding: 6px 0 0 16px;
    background-color: #fefefe;
    font-size: 14px;
    color: #999;
    font-weight: 300;
}
.search-bar form .search-grp {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
}
.search-bar form .btn-default {
    display: inline-block;
    background-image: none;
    background-color: #f9d121;
    height: 38px;
    width: 35px;
    text-align: center;
    line-height: 38px;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 0px;
    transition: all 0.3s ease-in-out;
}
.search-bar form .btn-default i {
    font-size: 14px;
    color: #fff;
}
.dropdown-search{
    margin-top:12px;
}
.dropdown-search .in-form{
    width: 100%;
    border: 1px solid #f8cf23;
    padding: 0 15px;
    height: 42px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}

select:focus {
	border: 1px solid #be9656;
	color: #5a5346;
}

select option {
	border-bottom:1px solid green;
}
.dropdown-search select{
	background:url(../../assets/images/ic43.png) right center no-repeat, #fff;
	color:#000000;
    font-weight:500;
}
.down-panel{
    margin-top:-30px;
}
.blog-left-wrapper{
    margin-bottom:50px;
}
