<app-header></app-header>
<div class="container">
  <div class="searching">
    <div class="row">
      <div class="col-md-9"></div>
      <div class="col-md-3 search-bar">
        <form>
          <fieldset>
            <div class="input-group">
              <input type="text" placeholder="Search" class="form-control">
              <span class="search-grp">
                <button type="submit" class="btn btn-default">
                  <i class="icon-search"></i>
                </button>
              </span>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9"><hr></div>
    </div>
  </div>

  <div class="down-panel">
    <div class="row">
      <div class="col-md-3">
        <ul>
          <li>
            <div class="dropdown-search">
              <select class="in-form">
                <option>I want food</option>
                <option>Expert</option>
                <option>Article</option>
              </select>
            </div>
          </li>
          <li>
            <div class="dropdown-search">
              <select class="in-form">
                <option>I want food</option>
                <option>Expert</option>
                <option>Article</option>
              </select>
            </div>
          </li>
          <li>
            <div class="dropdown-search">
              <select class="in-form">
                <option>I want food</option>
                <option>Expert</option>
                <option>Article</option>
              </select>
            </div>
          </li>
        </ul>

      </div>
      <div class="col-md-9 col-sm-9 col-xs-12">
        <div class="blog-left-wrapper">
          <div class="grid effect-2" id="grid">
            <div class="item">
              <div class="blog-detail">
                <div class="blog-li"><img src="./assets/images/noimage.jpg" alt="" class="img-responsive"></div>
                <div class="blog-details-info">
                  <ul class="list-inline">
                    <li class="dated-blog"><i class="far fa-calendar" aria-hidden="true"></i> July 28, 2018</li>
                    <li>0 comment</li>
                  </ul>
                  <h3 style="cursor:pointer;">loading ...</h3>
                  <div><a style="cursor:pointer;"  class="pull-left">Read More</a> <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i><div class="clearfix"></div></div>
                </div>
              </div>
            </div>

          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>


</div>



<app-footer></app-footer>
