.container{
    font-family:Gotham;
}
.wrapper{
    font-family:Gotham;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/oats.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 428px;
    width:100%
}
.wrapper .container{
    height: 100%;
}
h1{
	position: relative;
/*  display: inline-block;*/
    text-align:center;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    font-size: 25px;
    
}
.double-underline:after, .double-underline:before{
   content: "";
  position: absolute;
  z-index: -1;
  width: 25%;
    left:38%;
  background-color:#f9d121;
  display: block;
  height: 3px;
}
.double-underline:after {
       bottom: -26px;
    left: 432px;

 }

.double-underline:before {
   bottom: -20px;
 }


.main-content-header{
    text-align: left;
    width: 100%;
    display:flex;
    justify-content:flex-end;
    flex-direction: column;
  height:100%;
  padding-bottom: 80px;
}
.main-content-header h3{
    color: #fff;
    font-size: 130%;
/*    letter-spacing: 3px;*/
     font-weight:lighter;

}
.main-content-header p{
    font-size: 120%;
    font-weight: bold;
    color: #fff;
}
.yellow-heading{
    margin-top:68px;
    margin-bottom:68px;
}
.yellow-heading h3{
    color: #f9d121;
    text-align: center;
    font-size: 130%;
}
.quote{
    text-align: center;
    margin-bottom: 65px;
}
.quote p{
    color: #5e5e5e;
    font-weight:600;
    font-style:italic;
}
.picture-boxes{
    width: 100%;
    height: auto;
}
.box1, .box2{
    display: flex;
    flex-direction: row;
  align-items: stretch;
   width: 100%;
    /* height: 265px; */
    margin-bottom: 65px;
}
.box1 .detail{
   width: 720px;
    background-color: #98cd5b;
    padding: 40px 20px 20px 30px;
}
.box2 .detail{
   width: 720px;
    background-color: #fcec41;
    padding: 40px 20px 20px 30px;
}
    
.box1 .detail p{
    color: #fff;
    
    word-spacing: 1px;
    font-size: 16px;
}
.box2 .detail p{
    color: #000000;
   
    word-spacing: 1px;
    font-size: 16px;
}
.box1 .pic{
    width: 610px;
background-image: url('/assets/images/blueberry.jpg');
  background-position:center;
    background-size:cover;
    background-repeat: no-repeat; 
    height: 265px;
} 
.box2 .pic{
     width: 610px;
   background-image: url('/assets/images/food-4.jpg');
  background-position:center;
    background-size:cover;
    background-repeat: no-repeat; 
    height: 265px;
}


/*---------TESTIMONIAL ----------------*/
.testimonial-heading{
    text-align:left;
    margin-bottom: 30px;
}
.testimonial{
    display: flex;
    justify-content: space-between;
    margin-bottom:65px;
}
 .testimonial-box .imgBox{
    position: absolute;
    left: 0;
    top: 30%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    overflow: hidden;
}
.imgBox img{
    max-width: 100%;
}
 .testimonial-box{
    width: 45%;
    margin: 0 45px;
    position: relative;
    padding: 30px 70px;
    transition: 0.5s;
    /* text-align: center; */
    box-shadow: 0px 2px 12px #c2c2c2;
}

 .testimonial-box p{
    margin: 0;
    padding: 0;
    transition: 0.5s;
}
.testimonial-box h4{
    margin: 20px 0 0;
    padding: 0;
    transition: 0.4s;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    color: #f9d121;
}
.testimonial-box h4 span{
    font-weight: 600;
    font-size: 14px;
    color: #c5c5c5;
    transition: 0.5s;
}

@media (max-width: 768px){
    .testimonial{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
     .testimonial-box{
        width: 100%;
        margin: 60px 0 30px 0;
        padding: 30px;
        text-align: center;
    }
    .testimonial-box .imgBox{
        left: 50%;
        top: -23%;
    }
}


/* MEDIA QUERIES */

@media (max-width: 768px){
    .container{
        margin:0;
        padding:10px;
    }
    .box1, .box2{
        width:100%;
        height:auto;
        display:flex;
        flex-direction: column;
        align-items: stretch;
    }
    .box1 .detail, .box2 .detail{
       width:100%;
        height: auto;
    }
    .box1 .detail p , .box2 .detail p{
        font-size: 25px;
    }
    .box1 .pic, .box2 .pic{
        width:100%;
    }
    .mission-boxes{
/*       width:100%;*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
   }
    .mission-boxes .mbox-1,.mission-boxes .mbox-2,.mission-boxes .mbox-3{
        width:100%;
        height: auto;
        margin-top:20px;
    }
    .mbox-1 .topic , .mbox-2 .topic, .mbox-3 .topic {
        margin-top:70px !important;
    }
    .mbox-1 .topic h3, .mbox-2 .topic h3, .mbox-3 .topic h3{
        text-align: center;
        
    }
    .values-boxes{
/*       width:100%;*/
        display: flex;
        flex-direction: column;
        align-items: stretch;
   }
    .values-boxes .value-1,.values-boxes .value-2,.values-boxes .value-3{
        width:100%;
        height: auto;
         margin-top:20px;
    }
/*
    .value-1 .topic h3, .mbox-2 .topic h3, .mbox-3 .topic h3{
        text-align: center;
    }
*/
    .vision-box .vision-pic{
        width:100%;
    }
    .vision-detail{
    width: 100%;
    height: 300px;
    margin-left: 0;
        margin-top:0;
   }
    .vision-detail h3{
        text-align:center;
        margin-left:0;
    }
    .vision-detail p {
    padding: 30px;
    text-align: center;
    margin-left: 0;
   }
    .btn{
        margin-left:0;
    }
    .double-underline:after {
    bottom: -26px;
    left: 306px;
}
    .icon{
       margin-top: 35px;
    margin-left: 160px; 
    }
    

    
}