<app-header></app-header>
<div class="wrapper">
    <div class="container">
        <div class="main-content-header">
            <h3>"Without health life is not life; it is only a state of langour
                and suffering- an image of death"
            </h3>
            <p>Buddha</p>
        </div>
    </div>
</div>
<div class="container">

        <div class="yellow-heading">
                <h3>Hello Everyone, we are Yellow Squash!!</h3>  
            </div>
         
         <div class="quote">
             <p>"I have personally experienced a variety of health isssues throughout my life and the way I have managed to get through is by listening to my body, trusting the messages it sends me and eating healthy."</p>
         </div>
         
         <div class="picture-boxes">
                <div class="box1">
                     <div class="detail">
                         <p>We at Yellow Squash are committed to bring the best and the healthiest food options to you.Each 
                           dish that we serve you is not only carefully picked from the best in the business but is also thoroughly
                           validated by one of the best nutritionists and dieticians around to deliver you quality every single time
                           </p>
                     </div>
                     <div class="pic">
 
                     </div>
                 </div>
                 
                 <div class="quote">
                     <p>"We believe that living well and enjoying a healthy life is based on four key elements: understanding your body, eating well, exercising and knowing how to put it all together."</p>
                 </div>
                 
                 <div class="box2">
                     <div class="pic">
                                
                     </div>
                     <div class="detail">
                                 <p>We at Yellow Squash are committed to bring the best and the healthiest food options to you.Each 
                                dish that we serve you is not only carefully picked from the best in the business but is also thoroughly
                                validated by one of the best nutritionists and dieticians around to deliver you quality every single time.</p>
                     </div>
                 </div>
         </div>

         <h1 class="testimonial-heading">What our Customers say</h1>
         <div class="container">
             
            <div class="testimonial">
                <div class="testimonial-box">
                    <div class="imgBox">
                        <img src="./assets/images/nouserimage.jpeg">
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat incidunt earum voluptates soluta nobis. Eveniet reiciendis ipsam rem. Beatae temporibus ex similique exercitationem, autem, cupiditate? Illo vel quas, fugit perspiciatis, ratione molestias, placeat amet reprehenderit asperiores odit est corrupti harum.</p>
                    <h4>Someone<br><span>Creative Director</span></h4>
                </div>
                
                <div class="testimonial-box">
                    <div class="imgBox">
                        <img src="./assets/images/nouserimage.jpeg">
                    </div>
                    <p>Lorem ipsum dolor sit idunt earum voluptates soluta nobis. Eveniet reiciendis ipsam rem. Beatae temporibus ex similique exercitationem, autem, cupiditate? Illo vel quas, fugit perspiciatis, ratione molestias, placeat amet reprehenderit asperiores odit est corrupti harum.</p>
                    <h4>Someone<br><span>Creative Director</span></h4>
                </div>
             </div>
             
         </div>
         
     </div>
     <app-footer></app-footer>