    /*
    Flaticon icon font: Flaticon
    Creation date: 15/06/2016 08:23
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrow-icon-taurus:before { content: "\f100"; }
.flaticon-bot-arrow-icon-taurus:before { content: "\f101"; }
.flaticon-check-icon-tarus:before { content: "\f102"; }
.flaticon-clock-icon-taurus:before { content: "\f103"; }
.flaticon-cross-icon-taurus:before { content: "\f104"; }
.flaticon-email-2-icon-taurus:before { content: "\f105"; }
.flaticon-email-icon-taurus:before { content: "\f106"; }
.flaticon-eye-icon-taurus:before { content: "\f107"; }
.flaticon-facebook-icon-taurus:before { content: "\f108"; }
.flaticon-google-icon-taurus:before { content: "\f109"; }
.flaticon-heart-icon-taurus:before { content: "\f10a"; }
.flaticon-instagram-icon-taurus:before { content: "\f10b"; }
.flaticon-left-arrow-icon-taurus:before { content: "\f10c"; }
.flaticon-linkedin-icon-taurus:before { content: "\f10d"; }
.flaticon-location-icon-taurus:before { content: "\f10e"; }
.flaticon-menu-icon-taurus:before { content: "\f10f"; }
.flaticon-microphone-icon-taurus:before { content: "\f110"; }
.flaticon-monitor-icon-taurus:before { content: "\f111"; }
.flaticon-notebook-icon-taurus:before { content: "\f112"; }
.flaticon-phone-icon-taurus:before { content: "\f113"; }
.flaticon-photo-icon-taurus:before { content: "\f114"; }
.flaticon-piggybank-icon-taurus:before { content: "\f115"; }
.flaticon-pinterest-icon-taurus:before { content: "\f116"; }
.flaticon-play-icon-tarus:before { content: "\f117"; }
.flaticon-quote-icon-taurus:before { content: "\f118"; }
.flaticon-reload-icon-taurus:before { content: "\f119"; }
.flaticon-right-arrow-icon-taurus:before { content: "\f11a"; }
.flaticon-search-icon-taurus:before { content: "\f11b"; }
.flaticon-shopcart-icon-taurus:before { content: "\f11c"; }
.flaticon-squares:before { content: "\f11d"; }
.flaticon-tool-icon-taurus:before { content: "\f11e"; }
.flaticon-top-arrow-icon-taurus:before { content: "\f11f"; }
.flaticon-trolley-icon-taurus:before { content: "\f120"; }
.flaticon-twitter-icon-taurus:before { content: "\f121"; }
    
    $font-Flaticon-arrow-icon-taurus: "\f100";
    $font-Flaticon-bot-arrow-icon-taurus: "\f101";
    $font-Flaticon-check-icon-tarus: "\f102";
    $font-Flaticon-clock-icon-taurus: "\f103";
    $font-Flaticon-cross-icon-taurus: "\f104";
    $font-Flaticon-email-2-icon-taurus: "\f105";
    $font-Flaticon-email-icon-taurus: "\f106";
    $font-Flaticon-eye-icon-taurus: "\f107";
    $font-Flaticon-facebook-icon-taurus: "\f108";
    $font-Flaticon-google-icon-taurus: "\f109";
    $font-Flaticon-heart-icon-taurus: "\f10a";
    $font-Flaticon-instagram-icon-taurus: "\f10b";
    $font-Flaticon-left-arrow-icon-taurus: "\f10c";
    $font-Flaticon-linkedin-icon-taurus: "\f10d";
    $font-Flaticon-location-icon-taurus: "\f10e";
    $font-Flaticon-menu-icon-taurus: "\f10f";
    $font-Flaticon-microphone-icon-taurus: "\f110";
    $font-Flaticon-monitor-icon-taurus: "\f111";
    $font-Flaticon-notebook-icon-taurus: "\f112";
    $font-Flaticon-phone-icon-taurus: "\f113";
    $font-Flaticon-photo-icon-taurus: "\f114";
    $font-Flaticon-piggybank-icon-taurus: "\f115";
    $font-Flaticon-pinterest-icon-taurus: "\f116";
    $font-Flaticon-play-icon-tarus: "\f117";
    $font-Flaticon-quote-icon-taurus: "\f118";
    $font-Flaticon-reload-icon-taurus: "\f119";
    $font-Flaticon-right-arrow-icon-taurus: "\f11a";
    $font-Flaticon-search-icon-taurus: "\f11b";
    $font-Flaticon-shopcart-icon-taurus: "\f11c";
    $font-Flaticon-squares: "\f11d";
    $font-Flaticon-tool-icon-taurus: "\f11e";
    $font-Flaticon-top-arrow-icon-taurus: "\f11f";
    $font-Flaticon-trolley-icon-taurus: "\f120";
    $font-Flaticon-twitter-icon-taurus: "\f121";