	/*
  	Flaticon icon font: Flaticon
  	Creation date: 15/06/2016 08:23
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: inherit;
font-style: normal;
}

.flaticon-arrow-icon-taurus:before { content: "\f100"; }
.flaticon-bot-arrow-icon-taurus:before { content: "\f101"; }
.flaticon-check-icon-tarus:before { content: "\f102"; }
.flaticon-clock-icon-taurus:before { content: "\f103"; }
.flaticon-cross-icon-taurus:before { content: "\f104"; }
.flaticon-email-2-icon-taurus:before { content: "\f105"; }
.flaticon-email-icon-taurus:before { content: "\f106"; }
.flaticon-eye-icon-taurus:before { content: "\f107"; }
.flaticon-facebook-icon-taurus:before { content: "\f108"; }
.flaticon-google-icon-taurus:before { content: "\f109"; }
.flaticon-heart-icon-taurus:before { content: "\f10a"; }
.flaticon-instagram-icon-taurus:before { content: "\f10b"; }
.flaticon-left-arrow-icon-taurus:before { content: "\f10c"; }
.flaticon-linkedin-icon-taurus:before { content: "\f10d"; }
.flaticon-location-icon-taurus:before { content: "\f10e"; }
.flaticon-menu-icon-taurus:before { content: "\f10f"; }
.flaticon-microphone-icon-taurus:before { content: "\f110"; }
.flaticon-monitor-icon-taurus:before { content: "\f111"; }
.flaticon-notebook-icon-taurus:before { content: "\f112"; }
.flaticon-phone-icon-taurus:before { content: "\f113"; }
.flaticon-photo-icon-taurus:before { content: "\f114"; }
.flaticon-piggybank-icon-taurus:before { content: "\f115"; }
.flaticon-pinterest-icon-taurus:before { content: "\f116"; }
.flaticon-play-icon-tarus:before { content: "\f117"; }
.flaticon-quote-icon-taurus:before { content: "\f118"; }
.flaticon-reload-icon-taurus:before { content: "\f119"; }
.flaticon-right-arrow-icon-taurus:before { content: "\f11a"; }
.flaticon-search-icon-taurus:before { content: "\f11b"; }
.flaticon-shopcart-icon-taurus:before { content: "\f11c"; }
.flaticon-squares:before { content: "\f11d"; }
.flaticon-tool-icon-taurus:before { content: "\f11e"; }
.flaticon-top-arrow-icon-taurus:before { content: "\f11f"; }
.flaticon-trolley-icon-taurus:before { content: "\f120"; }
.flaticon-twitter-icon-taurus:before { content: "\f121"; }