
<p-growl [(value)]="msg"></p-growl>
<div class="user-dashboard-section" *ngIf="articleData?.articletype== 'article'">
  <div class="container admin-approved-article">
    <div class="row">
      <div class="col-md-12">
        <form class="approved-form"  novalidate (ngSubmit)="editarticle()">
          <div class="form-group">
            <label>Title <font color="red">*</font>:</label>
            <input type="text" name="title" placeholder="Article title" [ngModel]="articleData?.title" (ngModelChange)="articleData.title = $event"  #title="ngModel" class="form-control" >
          </div>
          <div class="form-group" *ngIf="articleData.feedback">
            <label>Feedback <font color="red">*</font>:</label>
            <input type="text" name="feedback" placeholder="Article feedback" [ngModel]="articleData?.feedback" (ngModelChange)="articleData.feedback = $event"  #title="ngModel" class="form-control" >
          </div>
          <div class="form-group">
            <label>Summary <font color="red">*</font>:</label>
            <textarea type="text" name="summary" [ngModel]="articleData?.summary" (ngModelChange)="articleData.summary = $event"  placeholder="Article Summary" class="form-control"></textarea>
          </div>

          <div class="form-group">
            <label>Content <font color="red">*</font> : </label>
            <p-editor name="article"  [style]="{'height':'320px'}" [ngModel]="articleData?.article" (ngModelChange)="articleData.article = $event" placeholder="Please enter your article here ....."></p-editor>
          </div>
          <!-- <div class="form-group">
            <label>Website References  : </label>"
            <input type="text" name="reference" [ngModel]="articleData?.reference" (ngModelChange)="articleData.reference = $event" placeholder="Article title"  class="form-control">
          </div> -->

          <div class="form-group">
            <label>Youtube Link   : </label>
            <input type="text" name="youtubelink" [ngModel]="articleData?.youtubelink" (ngModelChange)="articleData.youtubelink = $event" placeholder="YouTube link"  class="form-control">
          </div>
          <div class="form-group">
            <label>Article Header Image <font color="red">*</font> :<br/> <b style="color:grey">Note: Upload for better view of article</b> </label>
            <input type="file"  name="headerimage" class="banner-input" (change)="handleFileSelect($event)">
            <img src="" class="img img-fluid" *ngIf="!article_header_64textString">
            <img *ngIf="article_header_64textString" src="{{article_header_64textString}}" style="height:150px;" class="img img-fluid"/>
            <img *ngIf="!article_header_64textString" src="{{headerimageurl}}{{articleData?.headerimage}}" style="height:200px">
          </div>
          <div class="form-group">
            <label>Article Preview Image <font color="red">*</font> : <br/> <b style="color:grey">Note: upload for better view of article</b></label>
            <input type="file"  name="projectionimage" class="banner-inputt" (change)="handleprojectionFileSelect($event)">
            <img src="" class="img img-fluid" *ngIf="!article_projection_64textString">
            <img *ngIf="article_projection_64textString" src="{{article_projection_64textString}}" style="height:150px;" class="img img-fluid"/>
            <img *ngIf="!article_projection_64textString" src="{{projectionimageurl}}{{articleData?.projectionimage}}" style="height:200px">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">  Update</button>
            &nbsp; <button (click)="sendeditedarticle()" class="btn btn-primary"> <i class="fas fa-envelope-square"></i> <span *ngIf="!mailsendingflag">Send for approval to expert</span> <span *ngIf="mailsendingflag">Please wait</span>  <i *ngIf="mailsendingflag" class="fa fa-spinner fa-spin"></i></button>
            &nbsp; <button *ngIf="!articleData.isEnabled" (click)="approvearticle()" class="btn btn-success" type="button"><i class="fa fa-check"></i> Approve</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<div class="user-dashboard-section" *ngIf="articleData?.articletype== 'video'">
  <div class="container">
    <div class="row">
      <div class="col-md-9 col-sm-8 col-xs-12">
        <form  novalidate (ngSubmit)="editarticle()">
          <div class="form-group">
            <label>Title <font color="red">*</font>:</label>
            <input type="text" name="title" placeholder="Article title" [ngModel]="articleData?.title" (ngModelChange)="articleData.title = $event"  #title="ngModel" class="form-control" >
          </div>
          <div class="form-group">
              <label>Category :</label>
              <input type="text" id="catdynamic" name="Category" placeholder="Article Category" [ngModel]="articleData?.contentcategory" (ngModelChange)="articleData.contentcategory = $event" (click)="catedit();" #title="ngModel" class="form-control" >

              <ng-multiselect-dropdown id="catedit" style="display:none"
      [placeholder]="'Add your tags which related to your article'"
      [data]="dropdownList"
      [(ngModel)]="selectedItems"
      [settings]="dropdownSettings"
      (onSelect)="onItemSelect($event)"
      (onSelectAll)="onSelectAll($event)"
    >
    </ng-multiselect-dropdown>
            </div>
            <iframe height="270px" width="100%" class="embed-responsive-item" [src]='sanitizer.bypassSecurityTrustResourceUrl(articleData.youtubelink)' width="640" height="360" frameborder="0"
            webkitallowfullscreen mozallowfullscreen allowfullscreenn></iframe>
          <div class="form-group">
            <label>Youtube Link <i class="fa fa-youtube"></i>  : </label>
            <input type="text" name="youtubelink" [ngModel]="articleData?.youtubelink" (ngModelChange)="articleData.youtubelink = $event" placeholder="Article title"  class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">  Update</button>
            &nbsp; <button (click)="sendeditedarticle()" class="btn btn-primary"> <i class="fas fa-envelope-square"></i> <span *ngIf="!mailsendingflag">Send for approval to expert</span> <span *ngIf="mailsendingflag">Please wait</span>  <i *ngIf="mailsendingflag" class="fa fa-spinner fa-spin"></i></button>
            &nbsp; <button *ngIf="!articleData.isEnabled" (click)="approvearticle()" class="btn btn-success" type="button"><i class="fa fa-check"></i> Approve</button>
          </div>
        </form>
      </div>
    </div>
  </div>


<app-footer></app-footer>
