<header>
  <div class="container">
    <nav>
      <div class="navbar-brand">
        <img src="./assets/images/logo.png" alt="" class="logo">
      </div>
      <div class="menu-col">
        <div class="login">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">Welcome <b> {{logged_name}} </b>
              <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li data-toggle="modal" data-target="#changePasswordModal" style="cursor:pointer;"> <a>Change Password</a></li>
                <li (click)="logout()"><a >Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="clearfix"></div>
      </nav>
    </div>
  </header>
  <!-- ============================= start of yellow panel ===================================== -->
  <div class="user-topbar">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="dashboarduser-col">
            <div class="expert-img">
              <img *ngIf="profileimageflag"  src="{{profileimageurl}}{{profileimage}}" class="img img-cirle">
              <img *ngIf="!profileimageflag" src="./assets/images/nouserimage.jpeg" class="img img-cirle">
            </div>
            <div class="dashboarduser-details">
              <h3>{{logged_name}} <i data-toggle="modal" data-target="#updateexpertmodel" style="cursor:pointer;" style="margin-left:10px;cursor:pointer;font-size:18px;"  title="Edit personal information" class="fas fa-pencil-alt fa-2x"></i></h3>
              <ul class="stars"></ul>
              <p>MMA Certified, PHD, Fitness coach<br><span>{{logged_email}} </span></p><br>
            </div><div class="clearfix"></div>
          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="dashboarduser-col">
            <div class="des">
              <ul class="keywords">
                <li *ngFor="let wru of whoareyou">{{wru}}</li>
              </ul>
            </div>

            <div class="description">
              <p>{{expertData?.profile_summary | slice:0:45}}</p>
            </div>

          </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="dashboarduser-col">
            <div class="video-block">
              <div class="video-container">
                <iframe src="https://www.youtube.com/embed/2z3nFGGXDLM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <ul class="tags-user">
            <li *ngFor="let exprts of countries"> {{exprts.expertise}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- end of yellow panel -->

  <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-login changepassword" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Password</h4>

<!--          <img src="./assets/images/logo.png" class="img img-fluid login-logo">-->
        </div>
        <div class="modal-body">
          <p-growl [(value)]="msg"></p-growl>
          <div class="row">
            <div class="col-sm-12">
<!--               <img src="./assets/images/logo.png" class="img img-fluid login-logo"> -->

              <div class="main-div">
                <form [formGroup] = "cpForm"  novalidate (ngSubmit)="changepassword()">
                  <div class="form-group">
                    <input type="email" class="form-control" formControlName="oldpassword" placeholder="Email Address">
                    <div class="alert alert-danger"  *ngIf="cpForm.get('oldpassword').touched && cpForm.get('oldpassword').invalid">
                      <div *ngIf="cpForm.get('oldpassword').hasError('required')">Error: Field Required</div>
                    </div>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" formControlName="newpassword" placeholder="Password">
                    <div class="alert alert-danger" *ngIf="cpForm.get('newpassword').touched && cpForm.get('newpassword').invalid">
                      <div *ngIf="cpForm.get('newpassword').hasError('required')">Error: Field Required</div>
                      <div *ngIf="cpForm.get('password').hasError('minlength')">Error: Length should be greated than 7</div>
                    </div>
                  </div>
                  <div class="forgot">
                    <a href="reset.html">Forgot password?</a>
                  </div>
                  <button type="submit" class="btn btn-primary"  [disabled]="cpForm.invalid">Change Password</button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<!--
<div class="modal fade changepassword" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login" role="document">
    <div class="popup">
      <a class="close" id="close_main" style="cursor:pointer" data-dismiss="modal" >&times;</a>
      <h1>Change Password</h1>
     <div class="main-div">
              <form [formGroup] = "cpForm"  novalidate (ngSubmit)="changepassword()">
                <div class="form-group">
                  <input type="email" class="form-control" formControlName="oldpassword" placeholder="Email Address">
                  <div class="alert alert-danger"  *ngIf="cpForm.get('oldpassword').touched && cpForm.get('oldpassword').invalid">
                    <div *ngIf="cpForm.get('oldpassword').hasError('required')">Error: Field Required</div>
                  </div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" formControlName="newpassword" placeholder="Password ******">
                  <div class="alert alert-danger" *ngIf="cpForm.get('newpassword').touched && cpForm.get('newpassword').invalid">
                    <div *ngIf="cpForm.get('newpassword').hasError('required')">Error: Field Required</div>
                    <div *ngIf="cpForm.get('password').hasError('minlength')">Error: Length should be greated than 7</div>
                  </div>
                </div>
                <div class="forgot">
                  <a href="reset.html">Forgot password?</a>
                </div>
                <button type="submit" class="btn btn-primary"  [disabled]="cpForm.invalid">Login</button>
              </form>
            </div>
    </div>
  </div>
</div>

-->







  <!--  Main modal for editing the personal information  -->

  <div class="modal fade" id="updateexpertmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-login" role="document">
      <div class="modal-content">

        <div class="modal-header" style="background:#403e35;text-align:center;">

          <button type="button" class="close" id="clsbtn" style="color:white;" data-dismiss="modal">&times;</button>
          <img style="margin:0 auto;" src="./assets/images/logo.png"  class="img img-fluid login-logo">
          <h4 align="center" style="color:white;" class="modal-title">Edit Personal Details</h4>
        </div>
        <div class="modal-body">
          <p-growl [(value)]="msg"></p-growl>
          <div class="row">
            <div class="col-sm-12">
              <div class="main-div">
                <form (ngSubmit)="updateexpert()">
                  <div class="form-group">
                    <label>Name <i class="fas fa-user"></i></label>
                    <input type="text" (change)="changemade=true" [(ngModel)]="logged_name"  name="name" placeholder="name" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label>Email (Registered Email) <i class="fas fa-at"></i></label>
                    <input type="text" (change)="changemade=true" [(ngModel)]="logged_email" name="email" placeholder="email" class="form-control" required>


                  </div>
                  <div class="form-group">
                    <label>Phone Number<i class="fas fa-at"></i></label>
                    <input type="text" (change)="changemade=true" [(ngModel)]="phone_number" name="phonenumber" placeholder="Contact Number" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label>Address<i class="fas fa-at"></i></label>
                    <input type="text" (change)="changemade=true" [(ngModel)]="address" name="address" placeholder="Enter address" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label>Profile summary (Please provide a brief summary) <i class="fas fa-address-card"></i></label>
                    <textarea type="text" (change)="changemade=true" [(ngModel)]="profile_summary" name="profile_summary" placeholder="Profile Summary" class="form-control" required></textarea>
                  </div>
                  <div class="form-group">
                    <label>Select Expertise (Complete 10%) <i class="fas fa-chalkboard-teacher"></i> </label>
                    <!-- <p-autoComplete [(ngModel)]="countries" name="conutr" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
                    [minLength]="1" (click)="changemade=true" placeholder="Search expertise" field="expertise" [multiple]="true">
                  </p-autoComplete> -->
                </div>
                <div class="form-group">
                  <label>Who are you ? (Example : Hapiness Coach | Author | Keto Expert | Enterpreneur)</label>
                  <p-chips [(ngModel)]="whoareyou" (click)="changemade=true" name="whoareyou" placeholder="Type and Press Enter)"></p-chips>

                </div>
                <div class="form-group">
                  <label>Serial Number</label>
                  <input type="text" class="input-li" (change)="changemade=true" [(ngModel)]="serial_number" name="degree_serial_number" placeholder="Serial No. as per certificate">
                </div>
                <div class="form-gorup">
                  <label>Youtube link (<b>Note</b> - Please enter embeded youtube link ) <i class="fab fa-youtube"></i></label>
                  <input type="text" (change)="changemade=true" class="input-li" [(ngModel)]="youtubelink" name="youtubelink" placeholder="Youtube link ">
                </div>
                <!-- <iframe *ngIf="youtubelink" width="720" height="345" src="{{youtubelink}}"></iframe> -->
                <br/>
                <button style="float:right;"  type="submit" class="btn btn-warning">Update</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
