<Div class="container newsletter-container">
    <div class="newsletter">
        <h1>Send as Newsletter</h1>
        <div class="newsletter-box">
                <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Add Tags :</label>
                                <ng-multiselect-dropdown
                                    [placeholder]="'Add  tags'"
                                    [data]="dropdownList"
                                    [(ngModel)]="selectedItems"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                >
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <Div class="col-md-6">
                            <div class="form-group">
                                    <button class="submit-dropdown" (click)="submitdropdown()">Submit</button>
                            </div>
                           
                        </Div>
                    </div>
                    <div class="row" id="userdiv" style='display:none'>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Add Users :</label>
                                <ng-multiselect-dropdown
                                    [placeholder]="'Add users'"
                                    [data]="userList"
                                    [(ngModel)]="userItems"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onUserSelect($event)"
                                    (onSelectAll)="onSelectAllUser($event)"
                                >
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                        <div class="col-md-6" id="articlediv" style='display:none'>
                            <div class="form-group">
                                <label>Add Articles:</label>
                                <ng-multiselect-dropdown
                                    [placeholder]="'Add articles'"
                                    [data]="articleList"
                                    [(ngModel)]="articleItems"
                                    [settings]="dropdownSettings"
                                    (onSelect)="onArticleSelect($event)"
                                    (onSelectAll)="onSelectAllArticle($event)"
                                >
                                </ng-multiselect-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="senddiv" style='display:none'>
                        <div class="col-md-12">
                                <button class="submit-newsletter" id='sendnews' (click)="sendnewsletter()">Send as Newsletter</button>
                        </div>
                        
                    </div>
        </div>
    </div>
</Div>