.newsletter-container{
    height: -webkit-fill-available;
}
.newsletter{
    font-family:Lato;
}
.newsletter h1{
    text-align:center;
    text-transform:uppercase;
    margin: 50px 0;
}
.newsletter-box{
    width: 900px;
    margin: 0 auto;
    padding: 35px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
}
.newsletter-box .form-group{
padding: 10px;
}
.submit-dropdown{
    width: 250px;
    background-color: #39aef3;
    outline: none;
    border: none;
    padding: 4px;
    margin-top: 30px;
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
}