.wrapper{
    font-family:Gotham;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('/assets/images/oats.jpg');
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 428px;
    width:100%
}
.wrapper .container{
    height: 100%;
}
h1{
	position: relative;
    text-align:center;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    font-size: 25px;
    margin:60px 0;
}

 .double-underline:after, .double-underline:before{
    content: "";
    position: absolute;
    z-index: -1;
    width: 20%;
    background-color: #f9d121;
    display: block;
    height: 3px;
    left: 0;
    right: 0;
    margin: 0 auto;
 }
 .double-underline:after {
    bottom: -25px;
   left: 30px;
  }
 
 .double-underline:before {
    bottom: -20px;
  }
 



.vision-content-header-1{
    width: 500px;

    display: flex;
   
    flex-direction: column;
   
    justify-content: flex-start;
}
.vision-content-header-1:before{
    content: "";
display: block;
position: absolute;
margin-left: 0;
min-width: 100%;
min-height: 12em;
z-index: -1;
opacity: 0.4;
background-color: #343a40;
}
.vision-content-header-2{
    /* position: absolute;
    bottom: 10%;
    left: 7%;
    right: 10%; */
}
.vision-content-header-button{
    position:absolute;
    bottom: 8%;
    right: 6%;
}
.vision-content-header-button a{
    background: #f9d121;
    padding: 10px 10px;
    border-radius: 5px;
}
.vision-content-header-2 p{
    color: #fff;
    font-size: 15px;
}
.vision-content-header-1 h3{
    color: #fff;
    font-size: 130%;
    font-weight:lighter;

}
.vision-content-header-1 p{
    font-size: 120%;
    font-weight: bold;
    color: #fff;
}
.h1{
    text-align: center;
    margin-bottom: 65px;
}
.vision-pic{
    z-index:9;
}
.vision-pic img{
    width: 100%;
    border-radius: 10px;
}
.vision-detail{
    background-color: #f0f5a1;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: -250px;
    z-index: -9;
    
    padding: 32px 25px 65px 240px;
}
.vision-detail a{
    float: right;
    background-color: #f9d121;
    padding: 5px 10px;
    border-radius: 5px;
}

.line1{
    width:30px;
    height: 5px;
    background-color: #f9d121;
}

.mission h1{
    text-align:center;
     margin-bottom: 65px;
}
.mission-box {
    position:relative;
    padding: 20px;
    background: #fff;
    color: #555;
    box-shadow: 0px 3px 3px #eae8e8;
    margin: 0;
    transition: 0.3s;
    border-radius: 10px;
    min-height:320px;
}
.mission-box:after{
    content:'';
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    background-color:#f9d121;
    height: 25px;
    background-color: #f9d121;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.mission-icon{
    float: left;
    width: 64px;
    height: 64px;
}
.mission-icon .fa-handshake{
    width: 56px !important;
    height:auto;
    color: #000000;
}
.mission-box h4.title{
    float: right;
    width: 80%;
    padding-left: 50px;
    overflow: hidden;
    text-transform: uppercase;
}
.mission-des{
    width: 100%;
    padding-top: 20px;
    overflow:hidden;
    text-align: center;
}






























.values{
    width:100%;
    margin-bottom:65px;
}
.values h1{
    text-align:center;
     margin-bottom: 65px;
}

.value{
    background-color: #f4f4f2;
    border: 2px solid #f4f4f2;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px #dcdcdc;
     box-shadow: 0 4px 4px 1px #dcdcdc;   
     padding: 30px;
     text-align: center;

}
.value-icon{
    margin-top:15px;
}
.value .value-icon a{
    position:relative;
}
.value .fa-handshake{
    width: 80px !important;
    height:80px !important;
    color: #000000;
}
.value-icon:before{
    content:"";
    position:absolute;
    width:50px;
    height:50px;
    background-color: #fcec41;
    border-radius:50%;
}
 /* .value .value-icon a:before{
     content:"";
    position:absolute;
    width:50px;
    height:50px;
    background-color: #fcec41;
    border-radius:50%;
} */

@media (max-width: 360px) {
    .vision-detail{
        margin-left:0 !important;
        margin-top:0 !important;
        padding: 10px 25px 60px 25px !important;
    }
}
@media(max-width:768px){
    .wrapper{
        margin:0;
        padding:0;
    }
    .hero-image{
        padding:10px;
    }
    .vision-content-header-1{
        position:relative;
    }
    .vision-content-header-2{
        line-height:18px;
    }
    .values{
        padding-top:700px;
    }
    .col{
        width:100%;
    }
    .vision-pic img{
        max-width: 100%;
        border-radius: 0;
    }
}