<app-header></app-header>
<div class="wrapper">
                <div class="vision-content-header-1">
                        <h3>"Without health life is not life; it is only a state of langour
                                  and suffering- an image of death"
                        </h3>
                        <p>Buddha</p>
                    </div>
                    <div class="vision-content-header-2">
                        <p>You are what you eat. In order to lead a fullfilling life, listening to your body is critical. We believe that living well and enjoying a healthy life is based on four key elements: understanding your body, eating well, exercising and knowing how to put it all together. You can't expect to feel your best if you are eating crappy food. Your body needs and wants also changes overtime.
                        As your career shifts or your social relationship shift, all these things have an effect n your body.
                        </p> <a href="#">Read More</a>
                    </div>
    </div>
<div class="container">
    
    

                <h1 class="double-underline">Our Vision</h1>
    <div class="vision">
          
        <div class="row vision-box">
               <div class="col-md-4 vision-pic">
                   <img src="/assets/images/bread.jpg" alt="">
               </div>
               <div class=" col-md-8 ">
                       <div class="vision-detail">
                                <h3>Spread health awareness through diet</h3>
                                <p>We at Yellow Squash are committed to bring the best and the healthiest food options to you.Each 
                                dish that we serve you is not only carefully picked from the best in the business but is also thoroughly
                                validated by one of the best nutritionists and dieticians around to deliver you quality every single time.</p>
                                <a href="#">Get Started</a>
                              
                       </div>
                           
                           
               </div>
       </div>
    </div>  


     
         <h1 class="double-underline">Our Mission</h1>

      <div class="mission">
              <div class="row">
                        <div class="col-md-4">
                                        <div class="mission-box">
                                                <div class="mission-icon">
                                                        <i class="fas fa-handshake"></i>
                                                </div>
                                                <h4 class="title">Onboarding every health food provider in the regions of operation</h4>
                                                <div class="mission-des">
                                                    <p>We aim to create opportunity for customers and vendors in the healthy food delivery business to make discovery amongst a sea of options on the platform.</p>
                                                </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="mission-box">
                                                    <div class="mission-icon">
                                                            <i class="fas fa-handshake"></i>
                                                    </div>
                                                    <h4 class="title">create awareness of health and nutrition through diet</h4>
                                                    <div class="mission-des">
                                                        <p>YellowSquash aims to spread the message of well being through food far and wide, focusing primarily of developed content.</p>
                                                    </div>
                                            </div>
                                    </div>
                                    <div class="col-md-4">
                                            <div class="mission-box">
                                                    <div class="mission-icon">
                                                            <i class="fas fa-handshake"></i>
                                                    </div>
                                                    <h4 class="title">driving health goals for our customers</h4>
                                                    <div class="mission-des">
                                                        <p>We aim to produce tools and capabilities which will allow customers to focus on not only developing custom diet plans but also measuring their progress towards achievement of health goals</p>
                                                    </div>
                                            </div>
                                    </div>
              </div>
      </div> 
            
        <h1 class="double-underline">Our Core Values</h1>
            <div class="values-boxes">
                <div class="row">
                                <div class="col-md-4">
                                                <div class="value">
                                                        <div class="value-icon">
                                                                <a href=""><i class="fas fa-handshake"></i></a>
                                                        </div>
                                                        <h2>Knowledge</h2>
                                                        <p>We believe that living well and enjoying a healthy life is based on four key elements: understanding your body, eating well, exercising and knowing how to put it all together</p>
                                                </div>
                                        </div>
                                        
                                        <div class="col-md-4">
                                                <div class="value">
                                                        <div class="value-icon">
                                                                <i class="fas fa-handshake"></i>
                                                        </div>
                                                        <h2>Quality</h2>
                                                        <p>We believe that living well and enjoying a healthy life is based on four key elements: understanding your body, eating well, exercising and knowing how to put it all together</p>
                            
                                                    </div>
                                                    
                                        </div>
                                        
                                        <div class="col-md-4">
                                                <div class="value">
                                                                <div class="value-icon">
                                                                        <i class="fas fa-handshake"></i>
                                                                </div>
                                                                <h2>Knowledge</h2>
                                                                <p>We believe that living well and enjoying a healthy life is based on four key elements: understanding your body, eating well, exercising and knowing how to put it all together</p>
                                                </div>
                                     
                                        </div>
                                        
                </div>  
           </div>
</div>