<div class="user-topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="dashboarduser-col">
          <div class="expert-img">
            <img *ngIf="profileimageflag"  src="{{profileimageurl}}{{profileimage}}" class="img img-cirle">
            <img *ngIf="!profileimageflag" src="./assets/images/nouserimage.jpeg" class="img img-cirle">
          </div>
          <div class="dashboarduser-details">
            <h3>{{logged_name}}</h3>
            <ul class="stars"></ul>
            <h5>Followers : {{follower}}</h5>
            <h5>Followed : {{followed}}</h5><br>

            <!-- <p>MMA Certified, PHD, Fitness coach</p><br> -->
          </div>
          <!-- <div class="clearfix"></div> -->
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 profile-des">

          <div class="des">
            <ul class="keywords">
              <li *ngFor="let wru of whoareyou">{{wru}}</li>
            </ul>
          </div>
          <!-- {{expertData?.profile_summary}} -->  
          <div class="description">
            <p>{{expertData?.profile_summary | slice:0:45}}</p>
          </div>


      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="dashboarduser-col">
          <div class="video-block">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/2z3nFGGXDLM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="tags-user">
          <ng-container *ngFor="let exprts of countries">
          <li *ngIf="exprts.expertise"> {{exprts.expertise}}</li>
        </ng-container>
        </ul>
      </div>
    </div>
  </div>
</div>
