.user-topbar{
    width:100%;
    height:auto;
    background:#f9d121;
}
.dashboarduser-col {
    margin: 0;
    padding: 20px 0;
}
.expert-img {
    width: 20%;
    float:left;
}
.dashboarduser-details{
    font-family:'Gotham';
    width:70%;
    float:left;
    margin-left: 10px;
    font-weight:bold;
}
.dashboarduser-col .expert-img img {
    width: 80px !important;
    height: 93px !important;
}
.dashboarduser-details h3{
     margin-top:0 !important;
    margin-bottom:0 !important;
}
ul.stars{
    margin-bottom:0 !important;
}
.dashboarduser-details p{
    margin-top:-17px;
}
.des{

}
ul.keywords li{
    font-family:'Gotham';
    font-weight:bold;
    text-transform:uppercase;
    font-size:11px;
    display:inline-block;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 4px;
    text-align: center;
    border-left: 1px solid #000000;
}
.description p{
    text-align:right;
    font-weight:bold;
    font-family:'Gotham';
}
ul.keywords li:first-child{
    border-left: none;
}
ul.tags-user li{
    display:inline-block;
     font-family:'Gotham';
    font-weight:bold;
    text-transform:uppercase;
    background-color:#000000;
    color: #fff;
    margin-left:10px;
    padding:4px;
}



.left-buttons{
    width: 100%;
    margin-bottom:10px;
    font-family: 'Gotham';
    font-weight:600;
}
.follow{
    text-transform: uppercase;
    background-color: #f9d121;
    color: #000000;
    width:50%;
    outline: none;
    border: none;
    padding: 5px 5px;
    margin-right:5px;
}
.sub{
    text-transform: uppercase;
   background-color: #1fcb5f;
    color: #000000;
    width:48%;
    outline: none;
    border: none;
    padding: 5px 5px;
}

header{
    padding: 0 0 28px 0;
   background-color:#000000;
}
.menu-col{
    float:right;
    width:80%;
    margin-top: 35px;
}

.navbar-brand{
    width: 15%;
   display: inline-block;
   vertical-align: middle;
   margin-right: 30px;
   max-width: 200px;
   padding: 20px 0 0 0;
}
@media (max-width: 767px){
.navbar-brand {
   width: 130px;
   margin: 0 auto;
   float: none;
   position:absolute;
   top:2%;
   left:28%;
}}
.btn-default:hover{
  background-color: white;
}


.user-topbar{
    width:100%;
    height:auto;
    background:#f9d121;
}
.dashboarduser-col {
    margin: 0;
    padding: 20px 0;
}
.expert-img {
    width: 23%;
    float:left;
}
.dashboarduser-details{
    font-family:'Gotham';
    width:70%;
    float:left;
    margin-left: 10px;
    font-weight:bold;
}
.dashboarduser-col .expert-img img {
    width: 80px !important;
    height: 93px !important;
}
.dashboarduser-details h3{
     margin-top:0 !important;
    margin-bottom:0 !important;
}
ul.stars{
    margin-bottom:0 !important;
}
.dashboarduser-details p{
    margin-top:-17px;
}
.des{

}
ul.keywords li{
    font-family:'Gotham';
    font-weight:bold;
    text-transform:uppercase;
    font-size:11px;
    display:inline-block;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 4px;
    text-align: center;
    border-left: 1px solid #000000;
}
.description p{
    text-align:right;
    font-weight:bold;
    font-family:'Gotham';
}
ul.keywords li:first-child{
    border-left: none;
}
ul.tags-user li{
    display:inline-block;
     font-family:'Gotham';
    font-weight:bold;
    text-transform:uppercase;
    background-color:#000000;
    color: #fff;
    margin-left:10px;
    padding:4px;
}

.tags-user{
    margin-top: -66px;
    margin-left: -8px;
}
