<app-header></app-header>

<div class="container">
  <div class="down-panel">
    <div class="row">
            <app-expert-sidebar></app-expert-sidebar>
      

<!-- old one -->
<div class="col-md-9 col-sm-9 col-xs-12">
  <section class="talk-expert-section">
     <div class="expert-col">
       

        <!-- <div *ngIf="userid"> -->
              <div class="item" [routerLink]="['/expertp',expert._id]"
               *ngFor="let expert of followers; let i=index" style="cursor:pointer;" >
              <ng-container>
                  <div class="row bio-info following-info" >
                       <div class="row">
                           <div class="col-md-6 col-sm-12 col-xs-12">
                               <div class="row">
                                   <div class="col-md-3 col-sm-3 col-xs-3">
                                     
                                           <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image">
                                            <img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image">
                                       
                                   </div>
                                   <div class="col-md-9 col-sm-9 col-xs-9">
                                       <div class="bio-content">
                                           <h6><a>{{expert.name}}</a></h6>
                                           <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="far fa-star"></i></li>
                                                <li><i class="far fa-star"></i></li>
                                            </ul>
                                            <ng-container *ngFor="let experti of expert.expertise">
                                              <h5>{{experti}}</h5>
                                            </ng-container>
                                            <div class="description-of-degree">
                                                 <ul class="degree">
                                                      <li>Followers : {{expert.follower.length}}</li>
                                                      <li class="certificate-name">Certificate Name,PHD </li>
                                                 </ul> 
                                            </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-6 col-sm-12 col-xs-12">
                               <div class="row">
                                    <div class="col-md-12">
                                        <div class="right-bio-content">
                                            <p class="right-description">{{expert.profile_summary}}</p>
                                        </div>
                                    </div>
                                </div>
                           </div>
           </div>
            
          </div>
        </ng-container>
        </div>
      <!-- </div> -->
<!-- <a (click)="getfollowers()">See More ...</a> -->
<a id='seemore' (click)="getfollowers()">See More ...</a>
<a id='notfound' >You don't Follow any other user Explore yourself to get an attrention from other users</a>


    </div>
 

</section>


</div>

<!-- old one -->



</div>


</div>



<app-footer></app-footer>
