.form{
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 -4px 0 0;
}
.comment-form {
    margin: 0 0 30px 0;
}
.font-gotham{
    font-family: 'Gotham';
}

.chat-element-box {
    padding: 10px;
    box-shadow: 0px 1px 3px #d2c9c9;
    margin-bottom: 16px;
    position: relative;
    max-width: 550px;
    background: #f9d121;
    border-radius: 5px;
}
.chat-element-box::after{
    content: '';
    position: absolute;
    left: -30px;
    border-left: 15px solid #ccc0;
    border-right: 15px solid #f8d23d;
    border-bottom: 10px solid #ccc0;
    border-top: 10px solid #ccc0;
    top: 5px;

}
.chat-element-box::before{
    content: '';
    position: absolute;
    left: -30px;
    border-left: 15px solid #ccc0;
    border-right: 15px solid #e1dcdc;
    border-bottom: 11px solid #ccc0;
    border-top: 11px solid #ccc0;
    top: 5px;

}
.chat-element-box p{
    font-size: 14px;
    margin-bottom: 0px;
    display: block;
    font-weight: 400;
    font-family: 'Gotham';
    
}
.chat-element-box p span{
    display: block;
    text-align: right;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    margin-top: 5px;
}

.contact-form .post-comment textarea{

    box-shadow: 0px 2px 2px #e2dede;
}
.contact-form input.yellow-border
{
    border:1px solid #f9d121;
    color:#f9d121;
    width: 20%;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.contact-form input.yellow-border:hover,.contact-form input.yellow-border:focus{
    background: #f9d121;
    color: #000;
    
}

/*
h3{
    font: 20px/26px "PT Serif", sans-serif !important;
    letter-spacing: 1px !important;
    text-transform: capitalize !important;
    color: #000000 !important;
}
*/
.comment-form .form-holder form.row {
    margin: 0 -8px;
}
.comment-form .form-holder form [class*="col-lg"], .comment-form .form-holder form [class*="col-md"], .comment-form .form-holder form [class*="col-sm"], .comment-form .form-holder form [class*="col-xs"] {
    padding: 0 8px;}
.comment-form .form-holder form .field-holder {
    margin: 0 0 20px 0;
}
.field-holder {
    position: relative;
}
.field-holder {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
.comment-form .form-holder form .field-holder strong {
    display: block;
    color: #484848;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 0 4px 0;
}
.contact-form .field-holder strong {
    font-size: 14px;
    color: #484848;
    font-weight: 400;
    display: block;
    line-height: 18px;
    margin-bottom: 10px;
}

.comment-form .form-holder form .field-holder label {
    display: block;
    position: relative;
    margin: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.comment-form .form-holder form .field-holder label input[type="text"] {
    outline: none;
    box-shadow: none;
    border: 0;
    height: 38px;
    line-height: 38px;
    padding: 10px 20px!important;
    border: 1px solid #eaeaea!important;
    font-weight: 500;
}

input[type=text]{
    color: #9097a1;
    font-size: 12px;
    width: 100%;
}
.comment-form .form-holder form .field-holder label textarea {
    line-height: 24px;
    padding: 10px 20px;
}
.contact-form .field-holder textarea {
    height: 165px;

    width: 100%;
    resize: none;
}
.contact-form .field-holder textarea {

    background-color: #fff;

    border: 1px solid #e5e7eb;

    color: #999ba3;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 2px 2px #e2dede;

}
.field-holder textarea {
    height: 175px;
    box-shadow: none;
    box-sizing: border-box;
}
.field-holder textarea,.field-holder i
.comment-form .form-holder form .field-holder label .button {
    text-decoration: none;
    border: 0;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 3px 21px;
/*    text-align: center;*/
    border-radius: 2px;

}
/* .field-holder label .button{
     background-color:#f9d121;
    color: #fff;
} */
