
<app-header></app-header>
<app-expertinfobar></app-expertinfobar>


<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-expert-sidebar *ngIf="userid"></app-expert-sidebar>
      <app-public-expert-sidebar *ngIf="!userid"></app-public-expert-sidebar>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <!-- <div class="xprt-panel-right"> -->
        <!-- <button [routerLink]="['/createarticle']" title="Add Article" class="btn btn-primary"><i class="fa fa-plus"></i> </button>
        <button data-toggle="modal" data-target="#vedioarticleModal" title="Video Article" style="cursor:pointer;margin-left:10px;" class="btn btn-primary">
          <i class="fab fa-youtube"></i>
        </button> -->
        <!-- <div class="dropdown" style="float:right;margin-right:20px;">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">type
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li (click)="get_en_ds_articles(false)"><a>Un-Published</a></li>
              <li (click)="get_en_ds_articles(true)"><a>Published</a></li>
            </ul>
          </div> -->
          <!-- </div> -->
          <hr/>
          <div class="blog-section">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-sm-8 col-xs-12">
                  <div class="blog-left-wrapper">
                    <div class="grid effect-2" id="grid">
                      <div class="item" *ngFor="let article of articleData | paginate: { itemsPerPage: 6, currentPage: p }">
                        <div class="blog-detail"  style="cursor:pointer">
                          <div (click)="navigatesinglearticle(article._id)" class="blog-li" *ngIf="article?.projectionimage"><img src="{{projectionimageurl}}{{article?.projectionimage}}" alt="" class="img-responsive" style="height:270px;"></div>
                          <div (click)="navigatesinglearticle(article._id)" class="blog-li" *ngIf="!article?.projectionimage && article?.articletype =='article' "><img src="./assets/images/noimage.jpg" alt="" class="img-responsive"></div>
                          <div class="blog-li" *ngIf="article?.articletype == 'video'">
                            <iframe height="270px" width="100%" class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" allowfullscreen></iframe></div>

                            <div class="blog-details-info">
                              <ul class="list-inline">
                                <li class="dated-blog"><i class="far fa-calendar" aria-hidden="true"></i> July 28, 2018</li>
                                <li>0 comment</li>
                              </ul>
                              <h3 style="cursor:pointer;" (click)="navigatesinglearticle(article._id)">{{article?.title}}</h3>
                              <!-- <div><a style="cursor:pointer;" (click)="singlearticle(article._id)" class="pull-left">Read Article</a> <i class="fa fa-arrow-right pull-right" aria-hidden="true"></i><div class="clearfix"></div></div> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
            <br><br>
            <div class="xprt-panel-right" *ngIf="!articleData">
              <div class="xprt-right-column">
                <p> No Records</p>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
