ul.social-link li{
    display: inline-block;
    width: 30px;
    background: #f9d121;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}
ul.social-link li a:hover{
    color: #262626;
}
ul.social-link{
    text-align: center;
    margin-top: 20px;
}
ul.footer-page-link{
    margin-top: 20px;
}
ul.footer-page-link li{
    cursor: pointer;
}
ul.footer-page-link li a{
    text-decoration:none;
    font-size: 14px;
}
ul.footer-page-link li a:hover{
    color: #f9d121;
}
ul.footer-contact{
    margin-top: 20px;
}
.footer-category-title h3{
    position: relative;
    padding: 0 0 20px 0;
    text-align:center;
}
.footer-category-title h3:before{
    position: absolute;
    content:'';
    bottom: 0;
    left:0;
    width: 100%;
    height:2px;
    background-color: #f9d121;
}
