<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="footer-panel footer-about">
          <h3>About us</h3>
          <p>YellowSquash is a health and wellness platform. Our aim is to make people aware how to achieve optimum health through the right diet and a healthy lifestyle. Explore our content to enrich your knowledge. You can also take an appointment with our empanelled global health experts to seek advice suited to your needs.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12 social-connect">
            <div class="footer-panel">
                <h3>Social connect</h3>
                <div class="social-icon-box">
                  <ul class="social-link">
                    <li><a href="https://www.facebook.com/yellowsquash.in/"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://twitter.com/yellow_squash"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/yellowsquash01/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/company/yellowsquash/"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UChwVeCB1dqPYqnA9b85viJw/videos"><i class="fab fa-youtube"></i></a></li>
                  </ul>
                </div>
              </div>
      </div>

      <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="footer-panel">
                <h3>Social connect</h3>
                <div class="footer-pages">
                  <ul class="footer-page-link">
                    <li [routerLink]="['/aboutus']"><i class="fa fa-caret-right" aria-hidden="true"></i>About us</li>
                    <li [routerLink]="['/ourvision']"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Vision</li>
                    <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Our Services</a></li> -->
                  </ul>
                </div>
              </div>
      </div>


      <!-- <div class="col-md-3 col-sm-3 col-xs-12">
        <div class="footer-panel">
          <h3>Category</h3>
          <ul class="footer-link-list footer-link-category"> -->
            <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Lifestyle</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nutrition</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li> -->

            <!-- <li class="point" (click)="articlecat('Diabesity')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Diabesity</a></li>
            <li class="point" (click)="articlecat('Gut Health')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Gut Health</a></li>
            <li class="point" (click)="articlecat('Healthy Foods')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Healthy Foods</a></li>
            <li class="point" (click)="articlecat('Staying Young')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Staying Young</a></li>
            <li class="point" (click)="articlecat('Therapeutic')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Therapeutic</a></li>
            <li class="point" (click)="articlecat('Lifestyle')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Lifestyle</a></li>
            <li class="point" (click)="articlecat('nutrition')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Nutrition</a></li>
            <li class="point" (click)="articlecat('opinions')"> <a><i class="fa fa-caret-right" aria-hidden="true"></i>Openions</a></li>
            <li class="point" (click)="articlecat('Pregnancy and Young')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Pregnancy and  BabyCare</a></li>
            <li class="point" (click)="articlecat('Geriatric Care')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Geriatric Care</a></li>
            <li class="point" (click)="articlecat('Holistic healing')"><a><i class="fa fa-caret-right" aria-hidden="true"></i>Holistic healing</a></li>

          </ul>
        </div>
      </div> -->
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="footer-panel footer-social">
          <h3>connect</h3>
          <ul class="footer-contact">
            <li class="phone"><i class="fas fa-phone"></i><a href="tel:+919717333655">+91 9717333655</a></li>
            <li class="mail"><i class="fas fa-envelope-square"></i><a href="mailto:info@yellowsquash.in">info@yellowsquash.in</a></li>
            <li class="address"><i class="fas fa-map-marker-alt"></i><a href="javascript:void(0)">Noida, India</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 footer-category-title">
        <h3>Category</h3>
          <ul class="footer-link-list footer-link-category">
            <!-- <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Lifestyle</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nutrition</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li>
            <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li> -->

            <li class="point" (click)="articlecat('Diabesity')"><a>Diabesity</a></li>
            <li class="point" (click)="articlecat('Gut Health')"> <a>Gut Health</a></li>
            <li class="point" (click)="articlecat('Healthy Foods')"><a>Healthy Foods</a></li>
            <li class="point" (click)="articlecat('Staying Young')"><a>Staying Young</a></li>
            <li class="point" (click)="articlecat('Therapeutic')"><a>Therapeutic</a></li>
            <li class="point" (click)="articlecat('Lifestyle')"> <a>Lifestyle</a></li>
            <li class="point" (click)="articlecat('nutrition')"> <a>Nutrition</a></li>
            <li class="point" (click)="articlecat('opinions')"> <a>Openions</a></li>
            <li class="point" (click)="articlecat('Pregnancy and Young')"><a>Pregnancy and  BabyCare</a></li>
            <li class="point" (click)="articlecat('Geriatric Care')"><a>Geriatric Care</a></li>
            <li class="point" (click)="articlecat('Holistic healing')"><a>Holistic healing</a></li>

          </ul>
      </div>
    </div>
  </div>
</footer>
