<!--
<app-header></app-header>
<div class="banner-inner">
<div class="container">
<h2>Experts</h2>
</div>
</div>
<div class="breadcrumbs-li">
<div class="container">
<ul class="list-inline">
<li><a href="#">Home</a></li>
<li>></li>
<li><a href="#">Experts</a></li>
</ul>
</div>
</div>
<div class="blog-section">
<div class="container">
<div class="row">
<div class="col-md-8 col-sm-8 col-xs-12">
<div class="blog-left-wrapper">
<div class="grid effect-2" id="grid">
<div class="item" *ngFor="let expert of expertData">
<div class="blog-detail">
<div class="blog-li">  <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image"></div>
<div class="blog-li"><img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image"></div>
<div class="blog-details-info">
<h3 style="cursor:pointer;" (click)="singlearticle(article._id)">{{expert?.name}}</h3>
<ul class="stars"></ul>
</div>
</div>
</div>

</div>
<div class="clearfix"></div>
<a href="">See More .. </a>
</div>
</div>
<div class="col-md-4 col-sm-4 col-xs-12">
<div class="blog-right-widget">
<div class="search">
<h3>Search</h3>
<form class="search-form">
<input type="text" name="" class="input-li" placeholder="Search"/>
<button style="padding:6px;" class="submit-search"><i class="fa fa-search"></i></button>
</form>
</div>
<div class="recent-widget">
<h3>Recent Post</h3>
<div class="recent-col" *ngFor="let article of userarticleData">
<div class="recent-li"><img src="./assets/images/img4.jpg" alt="" class="img-responsive"></div>
<div class="recent-li-text" style="cursor:pointer;">
<h4 (click)="singlearticle(article._id)">{{article.title}}</h4>
<p><i class="far fa-clock" aria-hidden="true"></i> {{article.createdAt | date:medium}}</p>
</div><div class="clearfix"></div>
<a href="">See More .. </a>
</div>
</div>
<div class="recent-widget">
<h3>Categories</h3>
<div class="footer-panel">
<ul class="footer-link-list footer-link-category">
<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Lifestyle</a></li>
<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nutrition</a></li>
<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li>
</ul>
</div>
</div>
<div class="tag-widget">
<h3>Tag Cloud</h3>
<ul>
<li>anti-ageing</li>
<li>Diet</li>
<li>Diabetes</li>
<li>anti-ageing</li>
<li>Diet</li>
<li>Diabetes</li>
<li>anti-ageing</li>
<li>Diet</li>
<li>Diabetes</li><li>anti-ageing</li>
<li>Diet</li>
<li>Diabetes</li>
<li>fat and heart health</li>
<li>Diet</li>
<li>Diabetes</li>
<li>anti-ageing</li>
<li>Diet</li>
<li>Diabetes</li>
<li>anti-ageing</li>
<li>Diet</li>
<li>Diabetes</li><li>anti-ageing</li>
<li>fat and heart health</li>
<li>Diabetes</li>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<app-footer style="margin-top:50px;"></app-footer> -->
<!--  connecting the footer part  -->


<app-header></app-header>

<!--
  <div class="searching">
    <div class="row">

      <div class="col-md-9"></div>
      <div class="col-md-3 search-bar">
-->

<!--
        <form>
          <fieldset>
            <div class="input-group clearfix">
-->
              <!-- <input type="text" name="search" placeholder="Search" class="form-control">
              <span class="search-grp">
                <button type="submit" class="btn btn-default">
                  <i class="icon-search"></i>
                </button>
              </span> -->
<!--
              <input type="text" id="mySearch" (keyup)="myFunction($event)" value="" placeholder="Search.." title="Type in a category" >
            </div>
          </fieldset>
        </form>
-->
<!--      </div>-->
<!--
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-9"></div>
    </div>
  </div>
-->
<!-- <h1>Experts</h1> -->
<div class="banner-topic">
	<div class="container">
		<ul>
			<li class="header-logins-2"  (click)="searchArticle();">Articles</li>
            <li class="header-logins-1 active">Experts</li>
            <li class="header-logins-1" (click)="searchVideos();">Videos</li>
		</ul>
	</div>
</div>
<!-- <br><h1 (click)="searchArticle();">Articles</h1> -->
<div class="container">
  <div class="down-panel">
    <div class="row">
      <div class="col-md-3 col-sm-3 col-xs-12 sidebar-search">

        <ul>
        
        <li>
             <form class="search-form">
							<!-- <input type="text" name="" class="input-li" placeholder="Search"/> -->
							<input type="text" id="mySearch" class="input-li" (keyup)="searchName($event)" value="" placeholder="Search.." title="Type in a category" >

							<button style="padding:5px;" class="submit-search"><i class="fa fa-search"></i></button>
						</form>
             
         </li>
         
          <li>
            <div class="dropdown-search">
              <select class="in-form" (change)="onChange($event.target.value)"  id="mySearch">
                <option value="Pulmonary">Pulmonary</option>
                <option value="Hepatic">Hepatic</option>
                <option value="Renal">Renal</option>
                <option value="Detox">Detox</option>
                <option value="Dairy">Dairy</option>
                <option value="Paleo">Paleo</option>
                <option value="Vegan">Vegan</option>
                <option value="Gluten free">Gluten free</option>
                <option value="PMS">PMS</option>
                <option value="Allergies (gluten, dairy, etc)">Allergies (gluten, dairy, etc)</option>
                <option value="Muscle building">Muscle building</option>
                <option value="Cardiovascular">Cardiovascular</option>
                <option value="Sports Nutrition">Sports Nutrition</option>
                <option value="Weight loss">Weight loss</option>
                <option value="Thyroid">Thyroid</option>
                <option value="PCOS/ PCOD">PCOS/ PCOD</option>
                <option value="Diabet">Diabet</option>
              </select>
            </div>
          </li>
          
          
          
        </ul>

      </div>
      <!--
      <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="blog-left-wrapper">
      <div class="grid effect-2" id="grid">
      <div class="item" *ngFor="let expert of expertData">
      <div class="blog-detail">
      <<<<<<< HEAD
      <div class="blog-li" *ngIf="!userid" [routerLink]="['/expert',expert._id]">
      <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image">
    </div>
    <div class="blog-li" *ngIf="!userid" [routerLink]="['/expert',expert._id]" >
    <img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image">
  </div>

  <div class="blog-li" *ngIf="userid" [routerLink]="['/expertp',expert._id]">
  <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image">
</div>
<div class="blog-li" *ngIf="userid" [routerLink]="['/expertp',expert._id]" >
<img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image">
</div>

=======
<div class="blog-li" [routerLink]="['/expert',expert._id]">  <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image" style="height:270px;"></div>
<div class="blog-li" [routerLink]="['/expert',expert._id]" ><img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image" style="height:270px;"></div>
>>>>>>> 0dd8c197ec9e3f6144234f54c3251eb4316be884
<div class="blog-details-info">

<h3 style="cursor:pointer;">{{expert?.name}} <button class="btn btn-info btn-sm">Follow</button></h3>

</div>
</div>
</div>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
-->

<!-- old one -->
<div class="col-md-9 col-sm-9 col-xs-12">
  <section class="talk-expert-section">

    <div class="expert-col">
      <div class="carousel-wrap">
        <div class="owl-carousel popular-expert" id="myMenu">
          <div *ngIf="!userid">
            <div class="item"  [routerLink]="['/expert',expert._id]"
            *ngFor="let expert of expertData" style="cursor:pointer;">
            <div class="row bio-info">
             <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-3">
                            <div class="bio-image">
                                <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image">
                                <img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image">
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-9 col-xs-9">
                            <div class="bio-content">
                                <h6><a>{{expert.name}}</a></h6>
                                <ul class="ratings">
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="fas fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                    <li><i class="far fa-star"></i></li>
                                </ul>
                                 <ng-container *ngFor="let experti of expertData.expertise">
                                    <h5>{{experti}}</h5>
                                 </ng-container>
                                <div class="description-of-degree">
                                     <ul class="degree">
                                      <li>{{expert.follower.length}} followers</li>
                                      <li *ngFor="let wru of expert.whoareyou">{{wru}}</li>
<!--
                                       <li class="certificate-name">Certificate Name,PHD </li>
                                        <li class="mail-id">random@gmail.com</li>
-->
                                     </ul> 
                                 </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="right-bio-content">
                                <p class="right-description">{{expert.profile_summary}}</p>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            
             </div>
              
            </div>
          </div>

        <div *ngIf="userid">
              <div class="item" [routerLink]="['/expertp',expert._id]"
               *ngFor="let expert of expertData; let i=index" style="cursor:pointer;" >
              <ng-container>
                  <div class="row bio-info" >
                       <div class="row">
                           <div class="col-md-6 col-sm-12 col-xs-12">
                               <div class="row">
                                   <div class="col-md-3 col-sm-3 col-xs-3">
                                     
                                           <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image">
                                            <img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image">
                                      
                                   </div>
                                   <div class="col-md-9 col-sm-9 col-xs-9">
                                       <div class="bio-content">
                                           <h6><a>{{expert.name}}</a></h6>
                                           <ul class="ratings">
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="fas fa-star"></i></li>
                                                <li><i class="far fa-star"></i></li>
                                                <li><i class="far fa-star"></i></li>
                                            </ul>
                                            <ng-container *ngFor="let experti of expert.expertise">
                                              <h5>{{experti}}</h5>
                                            </ng-container>
                                            <div class="description-of-degree">
                                                 <ul class="degree">
                                                      <li> {{expert.follower.length}} followers</li>
                                                      <li class="certificate-name">Certificate Name,PHD </li>
                                                 </ul> 
                                            </div>
                                       </div>
                                   </div>
                               </div>
                           </div>
                           <div class="col-md-6 col-sm-12 col-xs-12">
                               <div class="row">
                                    <div class="col-md-12">
                                        <div class="right-bio-content">
                                            <p class="right-description">{{expert.profile_summary}}</p>
                                        </div>
                                    </div>
                                </div>
                           </div>
           </div>
            
          </div>
        </ng-container>
        </div>
      </div>
<a (click)="getallexperts()">See More ...</a>



    </div>
  </div>
</div>

</section>


</div>

<!-- old one -->



</div>


</div>



<app-footer></app-footer>
