
#myMenu {
    list-style-type: none;
    /* padding: 0;
    margin: 0; */
  }
  
  #myMenu h4 a {
    /* border: 1px solid #ddd;
    margin-top: -1px; Prevent double borders */
    /* background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black; */
    display: block
  }
  
  /* #myMenu h4 a:hover:not(.header) {
    background-color: #eee;
  } */
/*.container{
    font-family: 'Gotham';
}
.searching{
    margin-top:40px;
    margin-bottom:30px;
}
.search-bar form {
    position: relative;
}
.search-bar form .input-group {
    display: block;
    position: relative;
}
.search-bar form input.form-control {
    box-shadow: none;
    border-color: #f2f2f2;
}
input.form-control {
    height: 38px;
    line-height: 38px;
    border: 1px solid #f2f2f2;
    border-radius: 3px;
    padding: 0 0 0 16px;
    background-color: #fefefe;
    font-size: 14px;
    color: #999;
    font-weight: 300;
}
.search-bar form .search-grp {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 5;
}
.search-bar form .btn-default {
    display: inline-block;
    background-image: none;
    background-color: #f9d121;
    height: 38px;
    width: 35px;
    text-align: center;
    line-height: 38px;
    border: none;
    border-radius: 0 3px 3px 0;
    padding: 0px;
    transition: all 0.3s ease-in-out;
}
.search-bar form .btn-default i {
    font-size: 14px;
    color: #fff;
}
.dropdown-search{
    margin-top:12px;
}
.dropdown-search .in-form{
    width: 100%;
    border: 1px solid #f8cf23;
    padding: 0 15px;
    height: 42px;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none !important;
}

select:focus {
	border: 1px solid #be9656;
	color: #5a5346;
}

select option {
	border-bottom:1px solid green;
}
.dropdown-search select{
	background:url(../../assets/images/ic43.png) right center no-repeat, #fff;
	color:#000000;
    font-weight:500;
}
.down-panel{
    margin-top:-30px;
}
.blog-left-wrapper{
    margin-bottom:50px;
}*/



.searching{
   margin-top:40px;
   margin-bottom:30px;
}
.search-bar form {
   position: relative;
}
.search-bar form .input-group {
   display: block;
   position: relative;
}
.search-bar form input.form-control {
   box-shadow: none;
   border-color: #f2f2f2;
}
/*input.form-control {
   height: 38px;
   line-height: 38px;
   border: 1px solid #f2f2f2;
   border-radius: 3px;
   padding: 0 0 0 16px;
   background-color: #fefefe;
   font-size: 14px;
   color: #999;
   font-weight: 300;
}*/
.search-bar form .search-grp {
   position: absolute;
   right: 0px;
   top: 0px;
   z-index: 5;
}
.search-bar form .btn-default {
   display: inline-block;
   background-image: none;
   background-color: #f9d121;
   height: 34px;
   width: 35px;
   text-align: center;
   line-height: 34px;
   border: none;
   border-radius: 0 3px 3px 0;
   padding: 0px;
   transition: all 0.3s ease-in-out;
}
.search-bar form .btn-default i {
   font-size: 14px;
   color: #fff;
}
/* .dropdown-search{
  margin-top:30px;
} */
.dropdown-search .in-form{
  width: 100%;
    border: 1px solid #c8c8c8;
    padding: 0 10px;
    height: 42px;
    border-radius: 4px;
}
select {
   -webkit-appearance: none;
   -moz-appearance: none;
   -ms-appearance: none;
   appearance: none !important;
}

select:focus {
    border: 1px solid #be9656;
    color: #5a5346;
}

select option {
    border-bottom:1px solid green;
}
.dropdown-search select{
    background:url(../../assets/images/ic43.png) right center no-repeat, #fff;
    color:#000000;
   font-weight:500;
}
.down-panel{
padding: 40px;
    font-family: 'Gotham';
}
.sidebar-search ul li{
    margin-bottom: 15px;
}
/*.blog-left-wrapper{
   margin-bottom:50px;
}*/


.bio-info {
    padding: 30px;
    background: #fff;
    box-shadow: 0px 0px 4px 0px #b0b3b7;
    font-family: 'Gotham';
    margin-bottom: 20px;
}
.bio-info h6{
    margin: 0;
}
.bio-image {
    text-align: center;
    width:70px
}
.bio-image img {
   width:100%;
    border-radius: 50%;
}
.bio-content ul.ratings{
    display : inline-block;
    margin:0;
}
ul.ratings li{
    display : inline-block;
}
.right-bio-content {
    text-align:right;
}
.right-bio-content ul.expertising li{
    display:inline-block;
   text-align:center;
    text-transform: uppercase;
}
.right-bio-content ul.expertising li + li::before {
    content: " | ";
    margin: 10px;
}
.right-bio-content .right-description{
    line-height: 20px;
}
.description-of-degree ul.degree{
    line-height: 17px;
}


/*  css for tab */

.banner-inner {
    padding: 51px 0;
  }
  .banner-topic ul{
    margin-top: 30px;
    margin-left: 37px;
  }
  .banner-topic ul li{
      cursor:pointer;
   DISPLAY:INLINE-BLOCK;
   text-transform: uppercase;
   margin-right:25px;
  }
  .banner-topic ul li.active{
    background: #f9d121;
  }
  .header-logins-1 {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #f9d121;
    transition: 0.5s ease-in-out;
    color: #262626;
    
  }
  .header-logins-1 :hover{
    background: transparent;
    color: #262626;
    cursor:pointer;
  }
  .header-logins-2 {
    padding: 10px 15px;
    border-radius: 5px;
    border: 2px solid #f9d121;
    color: #262626;
    transition: 0.5s ease-in-out;
    cursor:pointer;
  }
  .header-logins-2 :hover{
    background: #f9d121;
    cursor:pointer;
  }