<app-header></app-header>
<!-- <app-expert-login-header></app-expert-login-header> -->
<!-- <div class="breadcrumbs-li">
  <div class="container">
    <ul class="list-inline">
      <li><a href="#">Home</a></li>
      <li>></li>
      <li><a href="#">{{articleData?.title}}</a></li>
    </ul>
  </div>
</div> -->

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="full-page-content">
          <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1>{{articleData?.title}}</h1>
                <div class="author-info">
                  <figure>
                    <img src="./assets/images/nouserimage.jpeg" alt="">
                  </figure>
                  <div class="text-holder">
                    <p>Posted By<span class="author-name"><a href="">Author name</a></span></p>
                    <ul class="post-options">

                        <li><i class="fa fa-eye" aria-hidden="true"></i><span>14</span></li>

                        <li *ngIf="like==false" ><a (click)="likeClick(articleData._id)"><i class="far fa-heart" aria-hidden="true"></i>{{likeCount}}</a></li>

                        <li *ngIf="like==true" ><a (click)="unlikeClick(articleData._id)"><i class="fas fa-heart" aria-hidden="true"></i>{{likeCount}}</a></li>

                        <li><a href="#"><i class="far fa-calendar" aria-hidden="true"></i> {{articleData?.createdAt | date: 'dd/MM/yyyy'}} </a></li>

                        <li><button (click)="redirecteditarticle(articleData._id)" class="btn btn-primary"><i class="far fa-edit"></i> Edit</button></li>

                        <li *ngIf="!articleData.isEnabled && articleData.mailsentbyadmin"><button (click)="approvearticle()" class="btn btn-primary">Approve</button></li>
              
                      </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="main-post-image">
                    <img *ngIf="articleData?.articletype=='article'" src="{{headerimageurl}}{{articleData?.headerimage}}">
                    <div *ngIf="articleData?.articletype=='video'">
                      <iframe  width="720" height="345" src="{{articleData.youtubelink}}"></iframe>
                    </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <div class="blog-inner-section">
                      <div *ngIf="articleData?.articletype=='article'" class="summary_single_article">
                          <h3>{{articleData?.summary}}</h3>
                        </div>
                        <p *ngIf="articleData?.articletype=='article'" [innerHTML]= "articleData?.article | safe :'html'"></p>
                  </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                  <h4 class="sources-h4">Sources:</h4>
                  <a href="articleData.reference">{{articleData.reference}} </a>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
              </div>
              <div class="">
                  <div class="blog-inner-section">
                      
                      
                  <div class="blog-indi-1">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      
                      <!-- <ol>
                        <li *ngFor="let ref of referencesData"><a href="ref">{{ref}}</a></li>
                      </ol> -->
                    </div>
                  </div>
                </div>
                <!-- <div class="blog-indi-1">
                  <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                      <img src="./assets/images/faceboook-img.jpg" class="img-responsive">
                    </div>
                  </div>
                </div> -->
               
                
          <ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
              
            <div ngxSlickItem *ngFor="let slide of slides" class="slide slide-box">
                <div class="related-post">
                  
                    <div class="related-img">
                      <figure>
                        <a href="#"> <img src="{{headerimageurl}}{{ slide.headerimage }}" alt="" ></a>
                      </figure>
                    </div>
                    <div class="related-text-holder">
                          <ul class="related-post-option">
                            <!-- <li class="related-float-r"><span>{{ slide.article }}</span></li> -->
                            <!-- <li class="related-float-l"><i class="fa fa-eye" aria-hidden="true"></i><Span>{{ slide.summary }}</Span></li> -->
                          </ul>
                          <div class="related-post-title"><h5><a href="#">{{slide.title}}</a></h5></div>
                          <p>{{slide.summary}}</p>
                          <a  class="read-more">Read Article</a>
                          <!-- <a href="{{slide.link}}" class="read-more">Read Article</a> -->

                    </div>
                    
            </div>
                 
            </div>
        </ngx-slick>

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                  <div class="comment-form">
                    <div id="respond" class="contact-form form-holder">
                
                      <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title">
                          <div class="element-title">
                            <h3>Comments : </h3>
                            <ng-container *ngFor="let comment of articleData.comment">
                              <div cclass="row"><div class="chat-element-box"><p style="font-size: 13px;"> {{comment.article_comment}}  <span >By :- {{comment.user_name}}  : {{comment.comment_date}} </span> </p></div></div>
                            </ng-container>
                
                          </div>
                        </h3>
                      </div>
                    </div>
                  </div>
                </div>
                
                
                
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form">
                  <div class="comment-form">
                    <div id="respond" class="contact-form form-holder">
                
                      <div id="respond" class="comment-respond">
                        <h3 id="reply-title" class="comment-reply-title"><div class="element-title">
                          <h4 class="font-gotham">Post your Comments</h4>
                        </div> <small><a rel="nofollow" id="cancel-comment-reply-link" href="/2018/08/26/foods-to-sleep-better/#respond" style="display:none;">Cancel reply</a></small></h3>	
                        <form id="form-style" class=" contact-form row" name = "commentform" novalidate [formGroup]="articleForm" (ngSubmit)="savearticle(articleData._id)">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cs-message"><div class="field-holder"><label><textarea name="comment" formControlName="summary" class="commenttextarea requiredfields" rows="55" cols="15"></textarea></label></div></div><p class="form-submit"></p><div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                      <div class="field-holder"  ><label><input type="submit" class="button bgcolor yellow-border" tabindex="5" value="Post Comments"></label>
                                      </div>
                                    </div>
                
                                    <p></p>			
                        </form>
                      </div><!-- #respond -->
                    </div>
                  </div>
                </div>
                
                
                
                <!-- <div class="form-group"> -->
                    <!-- <div class="blog-tags">
                    <label>Tags :</label>
                    <p-chips [(ngModel)]="whoareyou" (click)="changemade=true" name="whoareyou" placeholder="Type and Press Enter)"></p-chips>
                
                  </div> -->
                <!-- <div class="blog-tags">
                  <ul class="list-inline">
                    <li>Tags:</li>
                    <li><a class="box" href="#">cholesterol</a></li>
                    <li><a href="#">cholesterol-friendly foods</a></li>
                    <li><a href="#">diet</a></li>
                    <li><a href="#"> heart healthy</a></li>
                    <li><a href="#">high blood cholesterol</a></li>
                    <li><a href="#">high cholesterol management</a></li>
                  </ul>
                </div> -->
                
                </div>
              </div>
            </div>
        </div>
    </div>
  </div>

<!-- social icon hover -->



<div id="fixed-social">
    <div>
      <a href="#" class="fixed-facebook" target="_blank"><i class="fab fa-facebook-f"></i> <span>Facebook</span></a>
    </div>
    <div>
      <a href="#" class="fixed-twitter" target="_blank"><i class="fab fa-twitter"></i> <span>Twitter</span></a>
    </div>
    <div>
      <a href="#" class="fixed-gplus" target="_blank"><i class="fab fa-google-plus-g"></i><span>Google+</span></a>
    </div>
    <div>
      <a href="#" class="fixed-linkedin" target="_blank"><i class="fab fa-linkedin-in"></i><span>LinkedIn</span></a>
    </div>
</div>
<!-- social-icon-hover end-->


<app-footer></app-footer>
