
<app-header></app-header>
<app-expertinfobar></app-expertinfobar>
<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-public-expert-sidebar></app-public-expert-sidebar>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <hr/>
        <p [innerHtml]="profile_description"> </p>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>
