<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="demo">
    <div role="tabpanel">
      <div class="xprt-panel-left">
        <div>
          <div class="left-buttons">
            <button (click)="followexpert()"    style="cursor:pointer;"  class="follow">Follow</button>
            <button style="display:none" data-toggle="modal" data-target="#expertLoginModal" id="loginmodalbtn">btn</button>
            <!-- <button data-toggle="modal" data-target="#expertLoginModal" style="cursor:pointer;" class="sub">Subscribe</button> -->
            <!-- <button  (click)="follow()"  data-toggle="modal" data-target="#expertLoginModal" style="cursor:pointer;"  class="follow">Follow</button>

            <button (click)="subscribe()" *ngIf="otherexpert" class="sub">Subscribe</button> -->
          </div>
          <ul class="nav nav-tabs  nav-tabs-dropdown left-bar-tab" role="tablist">
            <!-- <li [routerLink]="['/dashboard']" routerLinkActive="active" role="presentation" ><a > <img src="./assets/images/ic6.jpg" alt="dashboard ic"> Dashboard</a></li>
            <li [routerLink]="['/mybookings']"  routerLinkActive="active" role="presentation"><a ><img src="./assets/images/ic7.jpg" alt="dashboard ic"> My Bookings</a></li> -->
            <li [routerLink]="['/exp/articles/',expertid]" routerLinkActive="active"  role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                Articles
              </a>
            </li>
            <li (click)="navigateto_expert_description()" role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                 About
                </a>
              </li>
            <!-- <li *ngIf="!user_id" (click)="navigatepuclicarticles()"  routerLinkActive="active"  role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                Articles
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
