.jumbot-col{
    height: 50px !important;
}
.btn{
    background-color: #f8cf23;
    outline:none;
    border:none;
}

.form{
    display: inline-block;
    float: none;
    vertical-align: top;
    margin: 0 -4px 0 0;
}
.comment-form {
    margin: 0 0 30px 0;
}
.font-gotham{
    font-family: 'Gotham';
}
.chat-element-box {
    padding: 10px;
    box-shadow: 0px 1px 3px #d2c9c9;
    margin-bottom: 16px;
    position: relative;
    max-width: 550px;
    background: #f9d121;
    border-radius: 5px;
}
.chat-element-box::after{
    content: '';
    position: absolute;
    left: -30px;
    border-left: 15px solid #ccc0;
    border-right: 15px solid #f8d23d;
    border-bottom: 10px solid #ccc0;
    border-top: 10px solid #ccc0;
    top: 5px;

}
.chat-element-box::before{
    content: '';
    position: absolute;
    left: -30px;
    border-left: 15px solid #ccc0;
    border-right: 15px solid #e1dcdc;
    border-bottom: 11px solid #ccc0;
    border-top: 11px solid #ccc0;
    top: 5px;

}
.chat-element-box p{
    font-size: 14px;
    margin-bottom: 0px;
    display: block;
    font-weight: 400;
    font-family: 'Gotham';
    
}
.chat-element-box p span{
    display: block;
    text-align: right;
    font-weight: 600;
    font-size: 10px;
    color: #000;
    margin-top: 5px;
}

.contact-form .post-comment textarea{

    box-shadow: 0px 2px 2px #e2dede;
}
.contact-form input.yellow-border
{
    border:1px solid #f9d121;
    color:#f9d121;
    width: 20%;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}

.contact-form input.yellow-border:hover,.contact-form input.yellow-border:focus{
    background: #f9d121;
    color: #000;
    
}
/*
h3{
    font: 20px/26px "PT Serif", sans-serif !important;
    letter-spacing: 1px !important;
    text-transform: capitalize !important;
    color: #000000 !important;
}
*/
/* .comment-form .form-holder form.row {
    margin: 0 -8px 0 0;
    margin-top: 35px;
} */
.comment-form .form-holder form [class*="col-lg"], .comment-form .form-holder form [class*="col-md"], .comment-form .form-holder form [class*="col-sm"], .comment-form .form-holder form [class*="col-xs"] {
    padding: 0;}
.comment-form .form-holder form .field-holder {
    margin: 0 0 20px 0;
}
.field-holder {
    position: relative;
}
.field-holder {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    margin-right: -4px;
}
.comment-form .form-holder form .field-holder strong {
    display: block;
    color: #484848;
    font-size: 12px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 0 4px 0;
}
.contact-form .field-holder strong {
    font-size: 14px;
    color: #484848;
    font-weight: 400;
    display: block;
    line-height: 18px;
    margin-bottom: 10px;
}

.comment-form .form-holder form .field-holder label {
    display: block;
    position: relative;
    margin: 0;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.comment-form .form-holder form .field-holder label input[type="text"] {
    outline: none;
    box-shadow: none;
    border: 0;
    height: 38px;
    line-height: 38px;
    padding: 10px 20px!important;
    border: 1px solid #eaeaea!important;
    font-weight: 500;
}

input[type=text]{
    color: #9097a1;
    font-size: 12px;
    width: 100%;
}
/* .comment-form .form-holder form .field-holder label textarea {
    line-height: 24px;
    padding: 10px 20px;
} */
.contact-form .field-holder textarea {
    height: 165px;

    width: 100%;
    resize: none;
}
.contact-form .field-holder textarea {

    background-color: #fff;

    border: 1px solid #e5e7eb;

    color: #999ba3;
    font-size: 12px;
    font-weight: 400;
    box-shadow: 0px 2px 2px #e2dede;
    
}
.field-holder textarea {
    height: 175px;
    box-shadow: none;
    box-sizing: border-box;
}
.field-holder textarea,.field-holder i
.comment-form .form-holder form .field-holder label .button {
    text-decoration: none;
    border: 0;
    outline: none;
    box-shadow: none;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    padding: 3px 21px;
/*    text-align: center;*/
    border-radius: 2px;

}
/* .field-holder label .button{
     background-color:#f9d121;
    color: #fff;
    width: 20%;
} */
.related-post{
    font-family:Gotham;
    border:1px solid #dee0e6;
    
}
.related-img {
    height: 150px;
    overflow: hidden;
}
.related-img figure{
    height: 150px;
}
.related-post .related-img img {
    width: 100%;
    max-height: 100%;
}
.related-post .related-text-holder{
    padding: 15px 10px 0 10px;
}
.blog-inner-section .slide-box{
padding-left:10px;

}

.related-post .related-post-option{
    margin: 0 0 8px;
    width: 100%;
}
ul.related-post-option{
    display: inline-block;
    vertical-align: bottom;
    list-style: none !important;
}
.related-post .related-post-option li:first-child {
    margin-left: 0;
}
.related-post ul.related-post-option li {
    color: #2f313a;
    padding: 0;
    display: inline-block;
    font-size: 12px;
    font-weight: 300;
    list-style: none !important;
    position: relative;
    margin: 0 0 0 20px;
    line-height: normal;
    vertical-align: middle;
}
.related-float-r {
    float: left;
}
.related-float-l{
    float:right;
}
.related-post-option li i {
    color: #b7b9bf;
}
.related-post-option li:nth-child(2):before {
    background-color: #d2d4dc;
    left: -10px;
    top: 5px;
    position: absolute;
    height: 10px;
    content: "";
    width: 1px;
}
.related-post .related-post-title{
    margin: 0 0 5px;
}
.related-post .related-text-holder p {
    font-size: 14px;
    line-height: 22px;
    border-bottom: 1px solid #dee0e6;
    margin: 0 0 8px;
    padding: 0 0 12px;
}
.related-post .read-more {
    font-size: 14px;
    background: #f9d121;
    color:#000;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
    padding: 5px;
    width:100%;
    display:block;
    text-align: center;
    margin-bottom: 10px;
    border:1px solid transparent;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
}
.related-post .read-more:hover{
    border:1px solid #000;
    background: transparent;
    
}



/*-----------------------------*/


/* .carousel-element .carousel-control
{
    background:transparent;
} */