
header{
  padding: 0 0 15px 0 !important;
  background-color:#000000;
  margin: 0 !important;
}


.navbar-brand{
  width: 15%;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  max-width: 200px;
  padding: 20px 0 0 0;
}

.point a {
  cursor:pointer;
}
.list-inline li a{
  display: block;
  color: #FFFFFF;
  text-align: left;
/*  padding: 5px;*/
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 700;
  letter-spacing: 2px;
}
.list-inline li.header-logins-1, .list-inline li.header-logins-2{
  margin-left:10px;
}
.list-inline li.header-logins-1 a{
    background: #f9d121;
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid #f9d121;
    transition: 0.5s ease-in-out;
    color: #262626;
    
}
.list-inline li.header-logins-1 a:hover{
    background: transparent;
    color: #f9d121;
}
.list-inline li.header-logins-2 a{
    padding: 0px 10px;
    border-radius: 5px;
    border: 2px solid #f9d121;
    color: #f9d121;
    transition: 0.5s ease-in-out;
}
.list-inline li.header-logins-2 a:hover{
    background: #f9d121;
    color:  #262626;;
}
.dropdown-menu{
  position:absolute;
  top: 212%;
    left: 21% !important;
  background: #f9d121;
}
.dropdown-menu ul li:after{
  position: absolute;
    content: "";
    width: 60px;
    height: 1px;
    background: #262626;
    left: 10px;
}
.login ul.logout-dropdown{
    position:absolute;
  top:150%;
    left: 21% !important;
  background: #f9d121;
}
.login ul.logout-dropdown li a{
    margin-left: 0;
    
}
.login ul.logout-dropdown li a:hover{
    background-color: #f9d121 !important;
    cursor:pointer;
}
.dropdown-menu li a{
  text-decoration:none;
  margin-left:10px;
  padding-bottom: 10px;
  padding-top: 10px;
  COLOR: #000000;

}


.partner-be-h {
  margin-left: 10px;
  position: relative;
  cursor:pointer;
}
.login-list ul li.partner-be-h a{
 
  margin-left:0;
  padding: 6px 8px;
}

#overlay-dropdown{
  display:none;
  position: absolute;
  top: 195%;
    right: 0;
    background-color: #f9d121;
    padding: 10px;
    transition: 0.5s;
}




/* .login-list ul li.partner-be-h ul {
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: #f9d121;
} */
/* .login-list ul li.partner-be-h:hover > ul {
	display:inherit;
} */
/* .login-list ul li.partner-be-h ul li {
  width: 193px;
  float: none;
  display: list-item;
  position: relative;
  color: #262626;
  padding-left: 16px;
  padding-top: 10px;
  padding-bottom: 5px;
} */
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

/*
.button {
font-size: 1em;
padding: 10px;
color: #262626;
border: 2px solid #262626;
border-radius: 20px/50px;
text-decoration: none;
cursor: pointer;
transition: all 0.3s ease-out;
}
*/


.overlay {
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .97);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: relative;
  margin: 70px auto;
  overflow-y: auto;
  background: #f3f3f3;
  text-align: center;
  border-radius: 4px;
  width: 900px;
  height:550px;
  background-image: url(../../../.././assets/images/n1.png);
  background-position: 20px 100%;
  background-size: auto 165px;
  background-repeat: no-repeat;
  padding: 50px !important;
  /*    margin: 5px;*/
  box-sizing: border-box !important;
  /*    display: flex;*/
  /*  transition: all 5s ease-in-out;*/
}
header{
  background-color: #000000;
  margin: 0 0 50px 0;
}
.popup::-webkit-scrollbar-track
{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #c1c1c1;
}

.popup::-webkit-scrollbar
{
  width: 12px;
  background-color: #c1c1c1;
}
.popup::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}
.popup_login{
    font-family:Lato;
  position: relative;
  margin: 70px auto;

  background: #f3f3f3;
  text-align: center;
  border-radius: 4px;
  width: 900px;
  height:620px;
  background-image: url(../../../.././assets/images/n1.png);
  background-position: 20px 100%;
  background-size: auto 165px;
  background-repeat: no-repeat;
  padding: 50px !important;
  /*    margin: 5px;*/
  box-sizing: border-box !important;
  /*    display: flex;*/
  /*  transition: all 5s ease-in-out;*/
}
.popup_login_new{
    font-family:Lato;
  position: relative;
  margin: 70px auto;

  background: #fff;
  text-align: center;
  border-radius: 4px;
  width: 700px;
  
  /* background-image: url(../../../.././assets/images/n1.png);
  background-position: 20px 100%;
  background-size: auto 165px;
  background-repeat: no-repeat; */
  padding: 50px !important;
  box-sizing: border-box !important;
}
.popup_login_new form{
    margin-top:20px;
}
.popup_login_new form .btn{
    background-color: #f9d121;
}
.popup_login h1{
  width: 100%;
  letter-spacing: 1;
  max-width:600px !important;
  margin-top: 40px;
  text-align: center;
  margin-left:auto !important;
  margin-right:auto !important;
  margin-bottom: 30px;
  font-weight:500;
  /*    font-size: 32px;*/
  color: #333;
  text-transform: uppercase;
}
.popup h1{
/*  font: 26px/36px "Montserrat", sans-serif;*/
  width: 100%;
  letter-spacing: 1;
  max-width:600px !important;
  margin-top: 0;
  text-align: center;
  margin-left:auto !important;
  margin-right:auto !important;
  margin-bottom: 30px;
  font-weight:500;
  /*    font-size: 32px;*/
  color: #333;
  text-transform: uppercase;

  transform: translateY(-2px);
}
.subtitle{
  display:block;
  max-width:360px;
  font-weight: 400;
  font-size: 16px;
  margin-left:auto !important;
  margin-right:auto !important;
  margin-bottom: 25px;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .fields {
  max-width: 300px;
  margin-left:auto;
  margin-right:auto;
}
.social-buttons{
  margin-bottom: 20px;
}
.button-large{
  width: 100%;
  height: 37px;
  line-height: 37px;
  padding: 0px 18px;
  font-size: 17px;
  border-radius: 5px;
  text-align: left;
  background-color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}
.button-large span.icon{
  top: -1px;
  position: relative;
  padding-right: 12px;
  vertical-align: middle;
  height: 28px;
  line-height: 25px;
  display: inline-block;
  text-align: left;
}
.fa-google{
  color:#dd4b39;
}
.fa-facebook{
  color: #3b5999;
}
.fa-twitter{
  color: #55acee;
}
form-group input{
  font: 15px/24px "PT Serif", sans-serif !important;
}
span.content{
  line-height: 37px;
  margin-left: 10px;
  cursor: pointer;
  font: 15px/24px "PT Serif", sans-serif !important;
  letter-spacing: 1;
}
.footer-content{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: "PT Serif", sans-serif ;
}
.footer-content p{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  max-width: 400px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 20px;
  margin-bottom: 25px;
  font-family: "PT Serif", sans-serif ;
}
.footer{
  margin-top: 10px;
  font-family: Lato;
}

.footer .ui-body{
  color: #262626;
  text-align: center;
  font-family: Lato;
}
.footer a{
  text-decoration:none;
  color: #262626 !important;
  font-family: "PT Serif", sans-serif ;
}

.footer .social-icon-register ul li{
  display:inline-block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
    border: 1px solid #000000;
    padding: 11px;
    cursor:pointer;
    line-height: 10px;
    transition: 0.2s ease-in;
}
.footer .social-icon-register ul li:hover{
  background-color: #f9d121;
  
}
.social-icon-register ul li .fa-google,.social-icon-register ul li .fa-facebook-f,.social-icon-register ul li .fa-linkedin-in{
  font-size: 15px !important;
  color: #262626;
}
.popup_login_new h4.line-behind {
  position: relative;
  z-index: 1;
}
.popup_login_new h4.line-behind:before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
.popup_login_new h4.line-behind span {
  background: #fff;
  padding: 0 15px;
}

.expert-button{
  background-color: #f9d121;
  outline: none;
  border: none;
  padding: 3px 10px;
  border-radius: 5px;
}
.expert-register-button{
  margin-top: 50px;
  font-size: 13px;
}

.change{
  cursor: pointer;
  font-size:12px;
  float:right;
  text-decoration: none;
   margin-bottom:10px;
 }
 .forgot{
  font-size:12px;
  cursor: pointer;
  float:left;
   text-decoration: none;
   margin-bottom:10px;
 }
 .forgot:hover{
   color: #f9d121;
 }
 .password-fields{
  margin-top:50px;
 }
 .social-heading{
  font-size: 12px;
  color: #000;
 }
 .social-icon-register{
  margin-top: 10px;
 }
@media screen and (max-width: 320px){
  .popup, .popup_login_new{
    height: auto;
  }
}


@media screen and (max-width: 768px){
  .popup, .popup_login_new{



    width: 100%;
    height:100%;
    margin: 0;
    background-image: none;
  }
  .form-center{
    padding:0;
  }
}


/*hamburger-menu*/
.menu-icon {
  cursor: pointer;
  position: relative;
  user-select: none;
}

.partner-be-h input[type="checkbox"] + label {
  padding-left: 0 !important;
}

header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
