<!--  -->
<header >
  <div class="container">
    <nav>
      <div class="navbar-brand">
        <img routerLink="/" style="cursor:pointer;" src="./assets/images/logo.png" alt="" class="logo">
      </div>
      <div class="menu-col">
        <div class="login">
          <div class="login-list">
            <ul class="list-inline">
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Healthpedia <i class="fas fa-sort-down"></i></a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="width: 244px;">
                  <ul>
                      <li class="points"><a routerLink="/blog">All</a></li>
                    <li class="point" (click)="articlecat('Diabesity')"><a>Diabesity</a></li>
                    <li class="point" (click)="articlecat('Gut Health')"> <a>Gut Health</a></li>
                    <li class="point" (click)="articlecat('Healthy Foods')"><a>Healthy Foods</a></li>
                    <li class="point" (click)="articlecat('Staying Young')"><a>Staying Young</a></li>
                    <li class="point" (click)="articlecat('Therapeutic')"><a>Therapeutic</a></li>
                    <li class="point" (click)="articlecat('Lifestyle')"> <a>Lifestyle</a></li>
                    <li class="point" (click)="articlecat('nutrition')"> <a>Nutrition</a></li>
                    <li class="point" (click)="articlecat('opinions')"> <a>Openions</a></li>
                    <li class="point" (click)="articlecat('Pregnancy and Young')"><a>Pregnancy and  BabyCare</a></li>
                    <li class="point" (click)="articlecat('Geriatric Care')"><a>Geriatric Care</a></li>
                    <li class="point" (click)="articlecat('Holistic healing')"><a>Holistic healing</a></li>

                    
                  </ul>
                </div>
              </li> 
              <li routerLink="/experts" data-toggle="modal" data-target="" style="cursor:pointer;"><a >Experts</a></li>-->
              <li class="header-logins-1" *ngIf="logged_id==0" routerLink="/becomeexpert" routerLinkAcive ="acitve"  style="cursor:pointer;"><a >Join Us </a></li>
              <li class="header-logins-2" *ngIf="logged_id==0"  data-toggle="modal" data-target="#expertLoginModal" style="cursor:pointer;"><a>Login</a></li>
              <li *ngIf="logged_id!=0">
                <div class="dropdown">
                  <button class="btn btn-secondry dropdown-toggle"  style="background:transparent;" type="button" data-toggle="dropdown">
                    <i style="color:white;font-size:30px;color:#f5ce63" class="fas fa-user-circle"></i>
                    <!-- <span class="caret"></span> -->
                  </button>
                  <ul class="dropdown-menu logout-dropdown" >
                    <li routerLink="/articles"><a>Dashboard</a></li>
                    <!-- <li data-toggle="modal" data-target="#changePasswordModal" style="cursor:pointer;"> <a>Change Password</a></li> -->
                    <li (click)="logout()"><a >Logout</a></li>
                  </ul>
                </div>
            
              </li>
             
              <li class="partner-be-h" >
                  <input class="menu-btn" type="checkbox" id="menu-btn" (click)="openNav()" />
                  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                  <div id="overlay-dropdown">
                    <ul>
                      <li><a href="#">Healthpedia</a></li>
                      <li><a href="#">Expert</a></li>
                      <li><a href="#">Food</a></li>
                    </ul>
                  </div>
              </li>
                  
              
            </ul>
          </div>
        </div>
      </div><div class="clearfix"></div>
    </nav>
  </div>
</header>

<!-- <header *ngIf="logged_id">
<div class="container">
<nav>
<div class="navbar-brand">
<img src="./assets/images/logo.png" alt="" class="logo">
</div>
<div class="menu-col">
<div class="login">

</div>
</div>
<div class="clearfix"></div>
</nav>
</div>
</header> -->

<div class="modal fade" id="expertMainModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login" role="document">
    <div class="popup">
      <a class="close" id="close_main" style="cursor:pointer" data-dismiss="modal" >&times;</a>
      <h1>Welcome back</h1>
      <div class="fields">
        <div class="social-buttons">
          <button class="button-large">
            <span class="icon"><i class="fab fa-google"></i></span>
            <span class="content" (click)="socialSignIn('google')">Sign in with Google</span>
          </button>
        </div>
        <div class="social-buttons">
          <button class="button-large">
            <span class="icon"><i class="fab fa-facebook"></i></span>
            <span class="content" (click)="socialSignIn('facebook')">Sign in with Facebook</span>
          </button>
        </div>
        <div class="social-buttons">
          <button class="button-large">
            <span class="icon"><i class="fab fa-linkedin"></i></span>
            <span class="content">Sign in with Linked In</span>
          </button>
        </div>
        <div class="social-buttons">
          <button class="button-large">
            <span class="icon"><i class="far fa-envelope"></i></span>
            <span data-dismiss="modal" class="content" data-toggle="modal"  data-target="#expertLoginModal" style="cursor:pointer;">Sign in with Email</span>
          </button>
        </div>
      </div>
      <div class="footer">
        <span class="ui-body">No account?</span>
        <a style="color:blue;" data-dismiss="modal" class="content" data-toggle="modal" data-target="#expertRegisterModal"> Create here</a>
        <div class="footer-content">
          To make Medium work, we log user data and share it with service providers. Click "Sign in" above to accept Medium’s
          <a href="#">Terms of condition</a>&nbsp; & &nbsp;<a href="#">Privacy Policy</a>
        </div>
      </div>
    </div>
  </div>
</div>




<!--  login model  -->
<div class="modal fade" id="expertLoginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login" role="document">
  <div class="popup_login_new">
    <a class="close" id="close_login" style="cursor:pointer" data-dismiss="modal" >&times;</a>
    <h1>Sign in with email</h1>
    <p-growl [(value)]="msgss"></p-growl>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-center">
                <form [formGroup] = "loginForm"  novalidate (ngSubmit)="authenticate()">
                  <div class="row">
                      <div class="form-group">
                     
                          <input type="text" class="form-control" formControlName="email" placeholder="Your Email">
                          <div class="text-danger" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">
                            <div *ngIf="loginForm.get('email').hasError('required')">Error: Field Required</div>
                            <div *ngIf="loginForm.get('email').hasError('email')">Erorr: Invalid Email</div>
                          </div>
                        </div>
                  </div>
                    
                  <div class="row">
                      <div class="form-group">
                      
                          <input type="password" class="form-control" formControlName="password" placeholder="**********">
                          <div class="text-danger" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">
                            <div *ngIf="loginForm.get('password').hasError('required')">Error: Field Required</div>
                            <div *ngIf="loginForm.get('password').hasError('minlength')">Error: Length should be greated than 7</div>
                          </div>
                        </div>
                  </div>
                    
                  <div class="row">
                      
                      <a id ="forgot" class="forgot" *ngIf="logged_id==0"  data-toggle="modal" data-target="#expertForgotPasswordModal" style="cursor:pointer;" (click)="change();">Forgot Password?</a>
                      <a  id ="change" class="change" *ngIf="logged_id==0"  data-toggle="modal" data-target="#expertChangePasswordModal" style="cursor:pointer;" (click)="change();">Change Password? </a>
                  </div>
                  <div class="row">
                      <div class="form-group">
                          <button class="btn btn-secondary btn-block" id ="login" type="submit">Submit </button>
                        </div>
                  </div>
              
      
                  <div class="row">
                      <div class="footer">
                        <span class="social-heading">Or Sign in using</span>
                          <div class="social-icon-register">
                            <ul>
                                <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                            </ul>
                          </div>
                          <div class="expert-register-button">
                            <p>Want to join as an Expert? <Span><a href="#" [routerLink]="['/becomeexpert']"  class = "expert-button">Register here</a></Span></p>
                            
                          </div>
                      </div>  
                  </div>
                </form>
            </div>
            
      
          </div>
    </div>
   
    <br>
    <br>
    
    
</div>

</div>
</div>

<!-- Registration Model  -->
<!--  login model  -->
<div class="modal fade" id="expertRegisterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login" role="document">
    <div class="popup">
      <a class="close" style="cursor:pointer" id="close_register" data-dismiss="modal" >&times;</a>
      <h1>Welcome back</h1>
      <p-growl [(value)]="msgss"></p-growl>
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6">
        <form class="form-horizontal" [formGroup] = "regForm" novalidate (ngSubmit)	="register()">
          <div class="form-group">
            <!-- <label>Email</label> -->
            <input type="text" formControlName="name" class="form-control" name="name" placeholder="Full Name ">
            <span class="text-danger" *ngIf="regForm.get('name').touched && regForm.get('name').invalid">
              <span *ngIf="regForm.get('name').hasError('required')">Error: Field Required</span>
            </span>
          </div>
          <div class="form-group">
            <!-- <label>Email</label> -->
            <input type="text" class="form-control" (blur)="checkemailpresence()" formControlName="email" name="email" placeholder="Email">
            <span class="text-danger" *ngIf="regForm.get('email').touched && regForm.get('email').invalid">
              <span *ngIf="regForm.get('email').hasError('required')">Error: Field Required</span>
              <span *ngIf="regForm.get('email').hasError('email')">Erorr: Invalid Email</span>
            </span>
          </div>
          <div class="form-group">
            <!-- <label>Password</label> -->
            <input type="password" class="form-control" formControlName="password" name="password" placeholder="***********">
            <span class="text-danger" *ngIf="regForm.get('password').touched && regForm.get('password').invalid">
              <span *ngIf="regForm.get('password').hasError('required')">Error: Field Required</span>
              <span *ngIf="regForm.get('password').hasError('minlength')">Error: Length should be greated than 7</span>
            </span>
          </div>
          <div class="form-group">
            <button class="btn btn-secondary" type="submit">Submit <i *ngIf="registerloading" class="fa fa-spinner fa-spin"></i> </button>
          </div>
        </form>
      </div>
      <div class="col-sm-3">
      </div>
      <div class="footer" style="margin-top:250px;">
        <div class="footer-content">
          <span  class="ui-body">All Ready have Account?</span>
          <a style="cursor:pointer;" id="login_btn" data-dismiss="modal" class="content" data-toggle="modal" data-target="#expertLoginModal">&nbsp;Login</a>
          <br/>
          <p>To make Medium work, we log user data and share it with service providers. Click "Sign in" above to accept Medium’s
            <a href="#">Terms of condition</a>&nbsp; & &nbsp;<a href="#">Privacy Policy</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>







  <!-- change Password Modal -->
<div class="modal fade" id="expertChangePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login" role="document"> 
  <div class="popup_login_new">
    <a class="close" id="close_login1" style="cursor:pointer" (click)="changeclose()" data-dismiss="modal" >&times;</a>
    <h1>Change Your Password </h1>
    <p-growl [(value)]="msgss"></p-growl>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-center">
                <form [formGroup] = "changePasswordForm"  novalidate (ngSubmit)="changePassword()">
                    <div class="form-group">
                        <!-- <label>Email</label> -->
                        <input type="text" class="form-control" (blur)="checkemailpresence()" formControlName="email" placeholder="Your Email">
                        <div class="text-danger" *ngIf="changePasswordForm.get('email').touched && changePasswordForm.get('email').invalid">
                          <div *ngIf="changePasswordForm.get('email').hasError('required')">Error: Field Required</div>
                          <div *ngIf="changePasswordForm.get('email').hasError('email')">Erorr: Invalid Email</div>
                        </div>
                      </div>
                    <div class="form-group">
                      <input type="password" class="form-control" formControlName="oldpassword" placeholder="**********">
                      <div class="text-danger" *ngIf="changePasswordForm.get('oldpassword').touched && changePasswordForm.get('oldpassword').invalid">
                        <div *ngIf="changePasswordForm.get('oldpassword').hasError('required')">Error: Field Required</div>
                        <div *ngIf="changePasswordForm.get('oldpassword').hasError('minlength')">Error: Length should be greated than 7</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <label>Password</label> -->
                      <input type="password" class="form-control" formControlName="newpassword" placeholder="**********">
                      <div class="text-danger" *ngIf="changePasswordForm.get('newpassword').touched && changePasswordForm.get('newpassword').invalid">
                        <div *ngIf="changePasswordForm.get('newpassword').hasError('required')">Error: Field Required</div>
                        <div *ngIf="changePasswordForm.get('newpassword').hasError('minlength')">Error: Length should be greated than 7</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <!-- <label>Password</label> -->
                      <input type="password" class="form-control" formControlName="confirmnewpassword" placeholder="**********">
                      <div class="text-danger" *ngIf="changePasswordForm.get('confirmnewpassword').touched && changePasswordForm.get('confirmnewpassword').invalid">
                        <div *ngIf="changePasswordForm.get('confirmnewpassword').hasError('required')">Error: Field Required</div>
                        <div *ngIf="changePasswordForm.get('confirmnewpassword').hasError('minlength')">Error: Length should be greated than 7</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <button class="btn btn-secondary" id ="change" type="submit">Submit </button>
                    </div>
                    <div class="row">
                        <div class="footer">
                          <span class="social-heading">Or Sign in using</span>
                            <div class="social-icon-register">
                              <ul>
                                  <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                  <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                  <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                              </ul>
                            </div>
                            <div class="expert-register-button">
                              <p>Want to join as an Expert? <Span><a href="#" class = "expert-button">Register here</a></Span></p>
                              
                            </div>
                        </div>  
                    </div>
       
              </form>
           
            </div>
            
      
          </div>
    </div>
  
</div>

</div>
</div>

  <!-- Forgot Password Modal -->
  <div class="modal fade" id="expertForgotPasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-login" role="document"> 
      <div class="popup_login_new">
        <a class="close" id="close_login2" style="cursor:pointer" (click)="changeclose()" data-dismiss="modal" >&times;</a>
        <h1>Forgot Your Password </h1>
        <p-growl [(value)]="msgss"></p-growl>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-center">
                    <form [formGroup] = "forgotPasswordForm"  novalidate (ngSubmit)="forgotPassword()">
                        <div class="form-group">
                            <!-- <label>Email</label> -->
                            <input type="text" class="form-control" (blur)="checkemailpresence()" formControlName="email" placeholder="Your Email">
                            <div class="text-danger" *ngIf="forgotPasswordForm.get('email').touched && forgotPasswordForm.get('email').invalid">
                              <div *ngIf="forgotPasswordForm.get('email').hasError('required')">Error: Field Required</div>
                              <div *ngIf="forgotPasswordForm.get('email').hasError('email')">Erorr: Invalid Email</div>
                            </div>
                          </div>
                        <!-- <div class="form-group">
                          <input type="password" class="form-control" formControlName="oldpassword" placeholder="**********">
                          <div class="text-danger" *ngIf="changePasswordForm.get('oldpassword').touched && changePasswordForm.get('oldpassword').invalid">
                            <div *ngIf="changePasswordForm.get('oldpassword').hasError('required')">Error: Field Required</div>
                            <div *ngIf="changePasswordForm.get('oldpassword').hasError('minlength')">Error: Length should be greated than 7</div>
                          </div>
                        </div> -->
                      
                        <div class="form-group">
                          <button class="btn btn-secondary" id ="forgot" type="submit">Submit </button>
                        </div>
                        <div class="row">
                            <div class="footer">
                              <span class="social-heading">Or Sign in using</span>
                                <div class="social-icon-register">
                                  <ul>
                                      <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                      <li><a href="#"><i class="fab fa-google" aria-hidden="true"></i></a></li>
                                      <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                  </ul>
                                </div>
                                <div class="expert-register-button">
                                  <p>Want to join as an Expert? <Span><a href="#" class = "expert-button">Register here</a></Span></p>
                                  
                                </div>
                            </div>  
                        </div>  
           
                  </form>
               
                </div>
                
          
              </div>
        </div>
    
    </div>
    
    </div>
    </div>

    