<!-- <app-expert-login-header></app-expert-login-header> -->
<app-header></app-header>

<div class="user-topbar" >
    <div class="container">
        <div class="bio-info">
            <div class="row">
               <div class="col-md-9 ">
                   <div class="col-md-6">
                       <Div class="row">
                           <div class="col-md-4 ">
                                <div class="bio-image">
                                    <img *ngIf="profileimageflag"  src="{{profileimageurl}}{{profileimage}}" class="img img-cirle">
                                    <img *ngIf="!profileimageflag" src="./assets/images/nouserimage.jpeg" class="img img-cirle">
                                    <div class="file btn btn-lg btn-primary" >
                                
        <label for="upload" class="file-upload__label">Change Photo</label>
                    <input id="upload"  type="file" name="" class="file-upload__input"  (change)="handleFileSelect($event)">
                                                       </div>
                                </div>
                            </div>
                            <div class="col-md-8  extra-margins">
                                <div class="bio-content">
                                    <h6>{{logged_name}} <i data-toggle="modal" data-target="#updateexpertmodel" style="cursor:pointer;" style="margin-left:10px;cursor:pointer;font-size:18px;"  title="Edit personal information" class="fas fa-pencil-alt fa-2x"></i> <button id = "submit_button" class="black-submit" (click)="submit_profile_for_review()">Submit Profile</button></h6>
                                    <ul class="ratings">
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="fas fa-star"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                        <li><i class="far fa-star"></i></li>
                                    </ul>
                                    <div class="description-of-degree">
                                      
                                             <ul class="degree">
                                                  <ng-container  *ngFor="let degree of Degree">
                                                       <li class="certificate-name">{{degree}}</li>
                                                </ng-container>
                                                <li class="mail-id">{{logged_email}} </li>
                                            </ul> 
                                          
                                     </div>

                                </div>
                            </div>
                       </Div>                       
                   </div>
                   <div class="col-md-6">
                        <div class="left-profile-content">
                            <ul class="expertising">
                                 <li *ngFor="let wru of whoareyou">{{wru}}</li>
                            </ul>
                            <p class="right-description">{{expertData?.profile_summary | slice:0:45}}</p>
                        </div>
                   </div>
                   <div class="col-md-12 ">
                            <div class="profile-tags">
                                <ul>
                                    <li *ngFor="let exprts of countries">{{exprts.expertise}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
               <div class="col-md-3">
                     <div class="video-block">
                            <div class="video-container">
                                <iframe  [src]='sanitizer.bypassSecurityTrustResourceUrl(youtubelink)' frameborder="0"
                                webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

                              <!-- <iframe *ngIf="!youtubelink" src="https://www.youtube.com/embed/2z3nFGGXDLM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe> -->
                            </div>
                        </div>
               </div>
            </div>
        </div>
    </div>
</div>
<!--
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bio-image">
                            <img src="/assets/images/usernoimage.png" alt="">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="bio-content">
                            <h6>Random Singh</h6>
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                            <div class="description-of-degree">
                               <ul class="degree">
                                   <li class="certificate-name">Certificate Name,PHD </li>
                                    <li class="mail-id">random@gmail.com</li>
                                </ul> 
</div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="left-profile-content">
                            <ul class="expertising">
                                <li>happiness coach</li>
                                <li>author</li>
                                <li>Keto</li>
                                <li>Enterprenuer</li>
                            </ul>
                            <p class="right-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae necessitatibus aliquid consectetur asperiores quis.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="video-block">
                            <div class="video-container">
                              <iframe src="https://www.youtube.com/embed/2z3nFGGXDLM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div><br>
-->

<!-- <br><br> -->
<!--
<div class="user-topbar">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="dashboarduser-col">
          <div class="expert-img">
            <img *ngIf="profileimageflag"  src="{{profileimageurl}}{{profileimage}}" class="img img-cirle">
            <img *ngIf="!profileimageflag" src="./assets/images/nouserimage.jpeg" class="img img-cirle">
            <div class="file btn btn-lg btn-primary">
                                Change Photo
                <input type="file" name="file"/>
            </div>
          </div>
          <div class="dashboarduser-details">
            <h3>{{logged_name}} <i data-toggle="modal" data-target="#updateexpertmodel" style="cursor:pointer;" style="margin-left:10px;cursor:pointer;font-size:18px;"  title="Edit personal information" class="fas fa-pencil-alt fa-2x"></i> <button id = "submit_button" class="black-submit" (click)="submit_profile_for_review()">Submit Profile</button></h3>
            <ul class="stars"></ul>
          <p>
            <ng-container  *ngFor="let degree of Degree">
-->
            <!-- <p> -->
<!--              {{degree}}-->
<!--
            </ng-container>
              <br><span>{{logged_email}} </span></p>  
          </div><div class="clearfix"></div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 profile-des">
-->
         

          <!-- <div class="des">
            <ul class="keywords">
              <li *ngFor="let wru of whoareyou">{{wru}}</li>
            </ul>
          </div> -->

<!--
          <div class="description">
            <p>{{expertData?.profile_summary | slice:0:45}}</p>
          </div>
-->

<!--

      </div>
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="dashboarduser-col">
          <div class="video-block">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/2z3nFGGXDLM?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">

        <ul class="tags-user">
              <li *ngFor="let wru of whoareyou">{{wru}}</li>
        </ul>
        </div>
      </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="tags-user tag-user-expert">
          <li *ngFor="let exprts of countries">{{exprts.expertise}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
-->

<!-- 
<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-expert-sidebar></app-expert-sidebar>
          <div class="col-md-9 col-sm-8 col-xs-12">
              <div class="edit-profile-form">
                  <form>
                  
                  <div class="form-row">
                      <div class="form-group col-md-12">
                          <div class="profile_image">
                            <img *ngIf="profileimageflag" src="{{profileimageurl}}{{profileimage}}" style="height:250px;border:5px solid lightgrey;">
                            <img *ngIf="!profileimageflag" src="./assets/images/nouserimage.jpeg" style="height:250px;border:5px solid lightgrey;">
                            &nbsp;<br/><button style="font-family: 'Gotham'; margin-top:25px;" class="btn btn-primary"  (click)="showimageuploading_input()">Change Picture</button>
                          </div>
                          <div class="form-group" *ngIf="imageformflag" style="font-family:'Gotham'">

                            <label>Profile image <font color="red">*</font> :<br/> <b style="color:grey">Note: Upload best picture</b> </label>
                            <input type="file" name="" class="banner-input"  (change)="handleFileSelect($event)">
                            <img *ngIf="profile_64textString" src="{{profile_64textString}}" style="height:150px;" class="img img-fluid"/>
                            <button type="button" (click)="uploadprofileimage()" *ngIf="profile_64textString" class="btn btn-primary upload-image">Upload image  <i *ngIf="profileimageloader" class="fa fa-spinner fa-spin"></i>  </button>  <span style="color:black" *ngIf="profileimageloader">Please wait ...</span>
                          </div>
                      </div>
    
                  </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="name" class="form-control" placeholder="Name">
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input type="email" class="form-control" placeholder="Email">
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone">Phone Number</label>
              <input type="text" class="form-control" placeholder="Phone Number">
            </div>
            <div class="form-group col-md-6">
              <label for="address">Address</label>
              <input type="address" class="form-control" placeholder="Address">
            </div>
          </div>
          <div class="form-group">
           <div class="col-md-12">
               <label for="summary">Profile Summary</label>
                <textarea class="form-control"></textarea>
           </div>

          </div>
          <div class="form-group">
           <div class="col-md-12">
               <label for="expertise">Select Expertise</label>
                <input type="text" class="form-control" placeholder="">
           </div>

          </div>
          <div class="form-group">
           <div class="col-md-12">
               <label for="">Who are you? (Example : Hapiness Coach | Author | Keto Expert | Enterpreneur)</label>
                <input type="text" class="form-control" placeholder="">
           </div>

          </div>
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="phone">Serial Number</label>
              <input type="text" class="form-control" placeholder="Serial Number">
            </div>
            <div class="form-group col-md-6">
              <label for="">YouTube link(Note: Please enter embeded youtube link)</label>
              <input type="text" class="form-control" placeholder="You tube link">
            </div>
          </div>
          <div class="form-row">
              <div class="form-group col-md-12">
                  <label> Describe Yourself  </label>
                      <p-editor  [style]="{'height':'320px'}" [(ngModel)]="profile_description" name="profile_description">
                        <p-header>
                          <span class="ql-formats">
                            <select class="ql-size">
                              <option value="small"></option>
                              <option selected></option>
                              <option value="large"></option>
                              <option value="huge"></option>
                            </select>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-bold" aria-label="Bold"></button>
                            <button class="ql-italic" aria-label="Italic"></button>
                            <button class="ql-underline" aria-label="Underline"></button>
                            <button class="ql-strike" aria-label="strike"></button>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-list" value="ordered"></button>
                            <button class="ql-list" value="bullet"></button>

                            <select class="ql-align"><option selected=""></option><option value="center"></option><option value="right"></option><option value="justify"></option></select>
                          </span>
                          <span class="ql-formats">
                            <button class="ql-link"></button>
                            <button class="ql-image"></button>
                            <button class="ql-video"></button>
                          </span>

                          <span class="ql-formats">
                            <button class="ql-blockquote"></button>
                            <button class="ql-code-block"></button>
                            <button class="ql-clean"></button>
                          </span>
                        </p-header>
                      </p-editor>
              </div>
          </div>
          
          <div class="form-row">
             <div class="form-group col-md-12">
             <label>Upload Degree</label>
    <div *ngFor="let user of eventsar; let i = index;">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group-1">

        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
          
          <label>Degree Name</label>
          <input  type="text"  [(ngModel)]="eventsar[i].degree_name" name="degree_name--{{i}}" class="input-li" placeholder="Degree Name">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
          <label>Degree Image (Optional)</label>
          <input type="file" class="input-li" (change)="handledegreeFileSelect($event)"  [(ngModel)]="eventsar[i].degree_image_path"   name="degree_image_path--{{i}}" placeholder="Serial No. as per certificate">
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
        <a (click)="addonedegree()" class="add-degree-a">+ Add Degree</a>
      </div>
    </div>
             </div>
             
              
          </div>
          
          <div class="form-row">
             <div class="form-group col-md-12">
                 <button type="submit" class="btn btn-primary">Update</button>
             </div>
         </div>
          
</form>
              </div>
          </div>
      </div>
    </div>
</div> -->
<p-growl [(value)]="msg"></p-growl>
<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-expert-sidebar></app-expert-sidebar>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <!-- <router-outlet></router-outlet>
        <router-outlet name="bookings"></router-outlet> -->
        <div class="user-dashboard-columns">
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="dashboard" >
              <div class="row">
                <div class="col-md-4 profile-content">
                
                
                     <!-- <circle-progress
                      [percent]="profilepercentage"
                      [radius]="100"
                      [outerStrokeWidth]="16"
                      [innerStrokeWidth]="8"
                      [outerStrokeColor]="'#f8cf23'"
                      [innerStrokeColor]="'#f5e6a7'"
                      [animation]="true"
                      [animationDuration]="300"
                      ></circle-progress> -->
                
                
<!--
                  <div class="profile_image" *ngIf="profileimageflag && !imageformflag" >
                    <img *ngIf="profileimageflag" src="{{profileimageurl}}{{profileimage}}" style="height:250px;border:5px solid lightgrey;">
                    <img *ngIf="!profileimageflag" src="./assets/images/nouserimage.jpeg" style="height:250px;border:5px solid lightgrey;">
                    &nbsp;<br/><button style="font-family: 'Gotham'; margin-top:25px;" class="btn btn-primary"  (click)="showimageuploading_input()">Change Picture</button>
                  </div>
                  <div class="form-group" *ngIf="imageformflag" style="font-family:'Gotham'">
-->
                   <!-- <ng-container *ngIf="!profileimageflag"> -->
<!--                    <label class="first_image">Profile image <font color="red">*</font> :<br/>-->
                       <!-- <b style="color:grey">Note: Upload best picture</b> -->
<!--
                       </label>
                   <ng-container class="file-upload">
                       <label for="upload" class="file-upload__label">Choose you'r best image</label>
                    <input id="upload"  type="file" name="" class="file-upload__input"  (change)="handleFileSelect($event)">
-->
                    <!-- <img src="./assets/images/nouserimage.jpeg" class="img img-fluid" *ngIf="!profile_64textString"> -->
<!--                  </ng-container>-->
<!--                    <img *ngIf="profile_64textString" src="{{profile_64textString}}" style="height:150px;" class="img img-fluid"/>-->
<!--
                    <br>
                    <button type="button" (click)="uploadprofileimage()" *ngIf="profile_64textString" style="margin-top: inherit;" class="btn btn-primary">Upload image  <i *ngIf="profileimageloader" class="fa fa-spinner fa-spin"></i>  </button>  <span style="color:black" *ngIf="profileimageloader">Please wait ...</span>
-->
                   <!-- </ng-container> -->
<!--                  </div>-->
                </div>

                <!-- <div class="col-md-8 profile-progress" style="text-align:center">


                  <h3 style="font-family:'Gotham';">Profile Completion percentage</h3>
                  <div class="jumbotron">
                    <b><font color="red"> Note:</font>  You need to upload your documents to complete the profile in order to pubish the articles that you want to publish.<br> <button type="button" style="margin-top:10px;" (click)="scrolltouploaddocuments()" class="btn btn-primary">Upload Documents</button></b>

                  </div>
                </div> -->
              </div>
              <!-- <form (ngSubmit)="updateexpert()">
              <div class="form-group">
              <label>Name <i class="fas fa-user"></i></label>
              <input type="text" (change)="changemade=true" [(ngModel)]="logged_name"  name="name" placeholder="name" class="form-control" required>
            </div>

            <div class="form-group">
            <label>Email (Registered Email) <i class="fas fa-at"></i></label>
            <input type="text" (change)="changemade=true" [(ngModel)]="logged_email" name="email" placeholder="email" class="form-control" required>
          </div>
          <div class="form-group">
          <label>Profile summary (Please provide a brief summary) <i class="fas fa-address-card"></i></label>
          <textarea type="text" (change)="changemade=true" [(ngModel)]="profile_summary" name="profile_summary" placeholder="Profile Summary" class="form-control" required></textarea>
        </div>
        <div class="form-group">
        <label>Select Expertise (Complete 10%) <i class="fas fa-chalkboard-teacher"></i> </label>
        <p-autoComplete [(ngModel)]="countries" name="conutr" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
        [minLength]="1" placeholder="Search expertise" field="expertise" [multiple]="true">
      </p-autoComplete>
      <ul>
      <li *ngFor="let c of countries">{{c.name}}</li>
    </ul>
  </div>
  <div class="form-group">
  <label>Serial Number</label>
  <input type="text" class="input-li" (change)="changemade=true" [(ngModel)]="serial_number" name="degree_serial_number" placeholder="Serial No. as per certificate">
</div>
<div class="form-gorup">
<label>Youtube link (<b>Note</b> - Please enter embeded youtube link ) <i class="fab fa-youtube"></i></label>
<input type="text" (change)="changemade=true" class="input-li" [(ngModel)]="youtubelink" name="youtubelink" placeholder="Youtube link ">
</div>
<div class="form-gorup">
<label>Address</label>
<input type="text" (change)="changemade=true" class="input-li" [(ngModel)]="address" name="address" placeholder="Enter Address">
</div>
<br/>
<button type="submit" class="btn btn-primary">Update</button>
</form> -->
</div>
</div>
</div>

<div style="margin-bottom:40px;" >

  <form (submit)="updateprofileDescription()">
    <div class="col-md-12">
      <label style="font-size: 25px; font-family:'Gotham'"> Describe Yourself  </label>
      <p-editor  [style]="{'height':'320px'}" [(ngModel)]="profile_description" name="profile_description">
        <p-header>
          <span class="ql-formats">
            <select class="ql-size">
              <option value="small"></option>
              <option selected></option>
              <option value="large"></option>
              <option value="huge"></option>
            </select>
          </span>
          <span class="ql-formats">
            <button class="ql-bold" aria-label="Bold"></button>
            <button class="ql-italic" aria-label="Italic"></button>
            <button class="ql-underline" aria-label="Underline"></button>
            <button class="ql-strike" aria-label="strike"></button>
          </span>
          <span class="ql-formats">
            <button class="ql-list" value="ordered"></button>
            <button class="ql-list" value="bullet"></button>

            <select class="ql-align"><option selected=""></option><option value="center"></option><option value="right"></option><option value="justify"></option></select>
          </span>
          <span class="ql-formats">
            <button class="ql-link"></button>
            <button class="ql-image"></button>
            <button class="ql-video"></button>
          </span>

          <span class="ql-formats">
            <button class="ql-blockquote"></button>
            <button class="ql-code-block"></button>
            <button class="ql-clean"></button>
          </span>
        </p-header>
      </p-editor>
      <button style="text-align:center; margin-left:10px; margin-top:10px" class="btn btn-primary" type="submit">Update Description</button>
    </div>
  </form>
</div>

<div class="col-md-8">
  <h3>Uploaded Document's</h3>
  <div class="col-md-6" *ngFor="let deg of expertData.degree">
    <img *ngIf="deg.degree_image_path!=''" src="{{degreeImageUrl}}{{deg.degree_image_path}}" height="120px;">
  </div>
</div>


<form class="" action="" style="margin-left: 16px;">
  <hr/>
  <div class="row">
    <div class="degreeback">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
       
      <h3>Qualifications Upload</h3>
      </div>
    </div>
    <div *ngFor="let user of eventsar; let i = index; let last=last">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group-1">

        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
          <label>Degree Name</label>
          <input type="text" *ngIf="last" [(ngModel)]="eventsar[i].degree_name" name="degree_name--{{i}}" class="input-li" placeholder="Degree Name" >

          <input type="text" *ngIf="!last" [(ngModel)]="eventsar[i].degree_name" name="degree_name--{{i}}" class="input-li" placeholder="Degree Name" disabled>
        </div>
      </div>
      <!-- (change)="fileChangeEvent()" -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="form-group">
          <label>Degree Image (Optional)</label>
          <input type="file" *ngIf="last" class="input-li" (change)="handledegreeFileSelect($event)"  [(ngModel)]="eventsar[i].degree_image_path"   name="degree_image_path--{{i}}" placeholder="Serial No. as per certificate">

          <input type="file" *ngIf="!last" class="input-li" (change)="handledegreeFileSelect($event)"  [(ngModel)]="eventsar[i].degree_image_path"   name="degree_image_path--{{i}}" placeholder="Serial No. as per certificate" disabled>
        </div>
      </div>
      <!-- (change)="handledegreeFileSelect($event)" -->
      <div class="col-md-4 col-sm-4 col-xs-12">
        <!-- <input type="text" [(ngModel)]="eventsar[i].image" name="image--{{i}}" style="display:none;"> -->
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="form-group">
      
           <a (click)="addonedegree()" class="add-degree-a">+ Add Degree</a>

        
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="form-group">
        <input type="button" (click)="uploaddegree()" id = "updegree" class="input-li submit-upload" value="Upload Degree">
      </div>
    </div>
  </div>
  </div>
</form>
</div>  <!-- End of the content part col-9-->
</div>
</div>
</div>

<!-- {{expertData.degree[0].degree_name}} -->

<app-footer></app-footer>

<div class="modal fade" id="updateexpertmodel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content modal-edit">

      <div class="modal-header">

        <button type="button" class="close" id="clsbtn" style="color:#000;" data-dismiss="modal">&times;</button>
        <h4  class="modal-title text-center">Edit Personal Details</h4>
      </div>
      <div class="modal-body">
        <p-growl [(value)]="msg"></p-growl>
        <div class="row">
          <div class="col-sm-12">
           
              <form (ngSubmit)="updateexpert()">
                <div class="row overflow-row">
                    <div class="form-group" id="name"  style="display:none">
                        <label>Name</label>
                        <input type="text" (change)="changemade=true" [(ngModel)]="logged_name"  name="name" placeholder="name" class="form-control" required>
                        <a class="next-click" (click)="next()">next</a>               
                      </div>
                </div>
                
                <!-- <div class="form-group" id ="email" style="display:none">
                  <label>Email (Registered Email) </label>
                  <input type="text" (change)="changemade=true" [(ngModel)]="logged_email" name="email" placeholder="email" class="form-control" required>
                  <button (click)="next()">next</button>

                </div> -->
                <!-- <div class="form-group" id="phn">
                  <label>Phone Number</label>
                  <input type="text" (change)="changemade=true" [(ngModel)]="phone_number" name="phonenumber" placeholder="Contact Number" class="form-control" required>
                </div> -->
                <div class="row overflow-row">
                    <div class="form-group" id="addr" style="display:none; animation: 1s slidein-right;">
                        <label>Address</label>
                        <input type="text" (change)="changemade=true" [(ngModel)]="address" name="address" placeholder="Enter address" class="form-control" required>
                        <a class="next-click" (click)="next()">next</a>       
      
                      </div>
                </div>
                
                <div class="row overflow-row">
                    <div class="form-group" id="summary" style="display:none; animation: 1s slidein-right;">
                        <label>Profile summary (Please provide a short summary) </label>
                        <textarea type="text" (change)="changemade=true" [(ngModel)]="profile_summary" name="profile_summary" placeholder="Profile Summary" class="form-control" maxlength="40" required></textarea>
                        <a class="next-click" (click)="next()">next</a>
      
                      </div>
                </div>
                
                <div class="row overflow-row">
                    <div class="form-group" id="expertise" style="display:none; animation: 1s slidein-right;">
                        <label>Select Expertise (Complete 10%) </label><br>
                        <p-autoComplete [(ngModel)]="countries" name="conutr" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
                        [minLength]="1" (click)="changemade=true" placeholder="Search expertise" field="expertise" [multiple]="true">
                        </p-autoComplete>
                        <a class="next-click" (click)="next()">next</a>
      
                      </div>
                </div>
                
                <div class="row overflow-row">
                    <div class="form-group" id="wru" style="display:none; animation: 1s slidein-right;">
                        <label>Who are you ? (Example : Hapiness Coach | Author | Keto Expert | Enterpreneur)</label>
                        <p-chips [(ngModel)]="whoareyou" (click)="changemade=true" name="whoareyou" placeholder="Type and Press Enter)"></p-chips>
                        <a class="next-click" (click)="next()">next</a>
                      </div>
                </div>
              
                <div class="row overflow-row">
                    <div class="form-group" id="sno" style="display:none; animation: 3s slidein-right;">
                        <label>Serial Number</label>
                        <input class="form-control" type="text" class="input-li" (change)="changemade=true" [(ngModel)]="serial_number" name="degree_serial_number" placeholder="Serial No. as per certificate">
                        <a class="next-click" (click)="next()">next</a>
        
                      </div>
                </div>
              
                <div class="row overflow-row">
                    <div class="form-gorup" id="youtube" style="display:none; animation: 3s slidein-right;">
                        <label>Youtube link (<b>Note</b> - Please enter embeded youtube link ) </label>
                        <input  class="form-control"  type="text" (change)="changemade=true" class="input-li" [(ngModel)]="youtubelink" name="youtubelink" placeholder="Youtube link ">
                        <br/>
                        <a class="update-click" (click)="updateexpert()">Update</a>
        
                      </div>
                </div>
              
              <!-- <iframe *ngIf="youtubelink" width="720" height="345" src="{{youtubelink}}"></iframe> -->

            </form>
         
        </div>
      </div>
    </div>
  </div>
</div>
</div>
