.btn{
    background-color: #f8cf23;
    outline:none;
    border:none;
    color: #000000;
    border-radius: 5px;
}

.tab-content{
  font-family: 'Gotham' important;
}
.profile-content .profile_image{
    text-align:center !important;
}

.form-group {

    margin-top: 20px;
    /*text-align: center;*/
}
input.banner-input {
    text-align:center;
    border: none;
   line-height: 16px;
}
.jumbotron{
    padding: 12px !important;
    font-family: 'Gotham';
    width: 300px;
   
    margin: auto;
}
.jumbotron button{
    color: #000000;
}
@media (max-width:768px){
    .profile-progress{
        padding:0 !important;
    }
}

header{
    padding: 0 0 28px 0;
   background-color:#000000;
}
.menu-col{
    float:right;
    width:80%;
    margin-top: 35px;
}

.navbar-brand{
    width: 15%;
   display: inline-block;
   vertical-align: middle;
   margin-right: 30px;
   max-width: 200px;
   padding: 20px 0 0 0;
}
@media (max-width: 767px){
.navbar-brand {
   width: 130px;
   margin: 0 auto;
   float: none;
   position:absolute;
   top:2%;
   left:28%;
}}
.btn-default:hover{
  background-color: white;
}


.user-topbar{
    width:100%;
    height:auto;
    background:#f9d121;
/*    padding: 10px 0px;*/
}
.dashboarduser-col {
    margin: 0;
    padding: 20px 0;
    padding-bottom: 0px;
}
.expert-img {
    width: 23%;
    float:left;
}
.dashboarduser-details{
    font-family:'Gotham';
    width:70%;
    float:left;
    margin-left: 10px;
    font-weight:bold;
}
.degreeback{
    display: inline-block;
    background: #e8e8e8;
    padding: 30px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 3px #b9b9b9;
    font-family: gotham;
}
.first_image{
    margin-left: 60px;

    background-color: black;
    color:aliceblue;
    padding: 2px;
}
/*****************************************
  upload button styles
******************************************/
.file-upload {
    position: relative;
    display: inline-block;
  }
  
  .file-upload__label {
    
    color: #fff;
    transition: background .3s;
  }
  .file-upload__label:hover {
    cursor: pointer;
   
  }
  
  .file-upload__input {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    width: 0;
    height: 100%;
    opacity: 0;
  }
.black-submit{
    font-size: 14px;
    padding: 10px;
    color: #fff;
    background: #000;
    border: none;
    margin-top: 10px;
    display:none
}

.dashboarduser-col .expert-img img {
    width: 80px !important;
    height: 93px !important;
}
.dashboarduser-details h3{
     margin-top:0 !important;
    margin-bottom:0 !important;
}
ul.stars{
    margin-bottom:0 !important;
    margin-top:0;
}
.dashboarduser-details p{
    margin-top:-17px;
}

ul.keywords li{
    font-family:'Gotham';
    font-weight:bold;
    color: #3e3e3e;
    text-transform:uppercase;
    font-size:11px;
    display:inline-block;
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 4px;
    text-align: center;
    border-left: 1px solid #000000;
}
.description p{
    color: #3e3e3e !important;
    text-align:right;
    font-weight:bold;
    font-family:'Gotham';
}
ul.keywords li:first-child{
    border-left: none;
}
ul.tags-user li{
    display:inline-block;
     font-family:'Gotham';
    font-weight:bold;
    text-transform:uppercase;
    background-color:#000000;
    color: #fff;
    margin-left:10px;
    padding:4px;
}
.tag-user-expert li:first-child{
    display: none;
}
.tags-user{
    margin-top: 10px;
    margin-left: 0px;
}

.bio-info {
    padding: 20px 0;
    font-family: 'Gotham';
}
.bio-image {
    text-align: center;
}
.bio-image img {
    width:110px;
    height: 110px;
    border-radius: 50%;
}
.bio-content ul.ratings{
    display : inline-block;
}
ul.ratings li{
    display : inline-block;
}
.description-of-degree ul.degree{
    line-height: 20px;
}
.left-profile-content {
    text-align:right;
}
.left-profile-content ul.expertising li{
    display:inline-block;
   text-align:center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    line-height:20px;
}
.left-profile-content ul.expertising li + li::before {
    content: " | ";
    margin: 10px;
}
.left-profile-content .right-description{
    margin-top:20px;
    line-height: 20px;
}
.profile-tags {
    margin-left: 3px;
}
.profile-tags ul{
    display:inline-block;
}
.profile-tags ul li{
    font-size: 10px;
    font-weight: 600;
    display:inline-block;
    color: #fff;
    background: #262626;
    margin-right: 10px;
    padding: 0 5px;
    cursor:pointer;
    text-transform:uppercase;
}
.upload-image{
    display:block;
    margin-top:10px;
}
a.add-degree-a{
   cursor: pointer;
    text-decoration: none;
    margin:0 !important;
}
.edit-profile-form{
     font-family: Lato;   
}
#updateexpertmodel{
    font-family: Lato;
}

.bio-image .file {
    position: relative;
    overflow: hidden;
    /* margin-top: -32%; */
    width: 95%;
    border: none;
    border-radius: 0;
    font-size: 12px;
    padding: 3px;
    background: #262626;
    margin-top: -1px;
    margin-right: -1px;
}
/*
.bio-image .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}
*/
.bio-image .btn label{
    margin-bottom:0;
}
.video-container iframe{
    height: 174px;
    max-width:100%;
}
.extra-margins{
padding-left:0;
}
.bio-image:hover .edit-picture{
    display: block;
}
.edit-picture {
	padding-top: 7px;	
	padding-right: 40px;
	position: absolute;
	right: 0;
	top: 0;
	display: none;
}

.edit-picture a {
	color: #000;
}
.form-group{
    transition: all 2s linear;
}
h4.modal-title{
    font-size: 25px;
}
.modal-header{
    border-bottom: none;
    background-color: #f9d121;
    padding: 30px;
}
.modal-body{
    padding: 20px 50px 50px;
    transition: 0.5s ease-in;
}
.next-click, .update-click{
    margin-top:20px;
    cursor:pointer;
    background-color: #f9d121;
    padding: 5px 15px;
    font-size: 18px;
    float: right;
    border-radius: 5px;
    text-transform: capitalize;
    line-height: 25px;
    text-decoration: none;
    color: #262626;

}



/* .slide_form {
    width: 100%;

  animation: right_to_left 0.002s linear;
} */

.overflow-row{
    overflow-x:hidden;
}

@keyframes slidein-right {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }

}
