<app-expert-login-header></app-expert-login-header>
  <div class="user-dashboard-section">
    <div class="container">
      <div class="row">
            <app-expert-sidebar></app-expert-sidebar>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <router-outlet></router-outlet>
          <router-outlet name="bookings"></router-outlet>
          <div class="user-dashboard-columns">
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane active" id="dashboard">
                <div class="user-dashboard-li">
                  <div class="dashboard-img">
                    <img src="./assets/images/img5.jpg" alt="">
                  </div>
                  <div class="dashboard-li-heading">
                    <h3>Misumisu Thai</h3>
                    <p>Apple Jiuce, Cold Drink</p>
                  </div>
                  <div class="price-inr">
                    INR 540
                  </div><div class="clearfix"></div>
                  <div class="dashboard-p">
                    <p>Deliver in 10 Minutes </p>
                    <div class="order-view">
                      <a href="#" class="order-view-orange">order Detail</a>
                      <a href="#" class="order-view-green">processing</a>
                    </div>
                  </div>
                </div>
                <div class="user-dashboard-li">
                  <div class="dashboard-img">
                    <img src="./assets/images/img5.jpg" alt="">
                  </div>
                  <div class="dashboard-li-heading">
                    <h3>Misumisu Thai</h3>
                    <p>Apple Jiuce, Cold Drink</p>
                  </div>
                  <div class="price-inr">
                    INR 540
                  </div><div class="clearfix"></div>
                  <div class="dashboard-p">
                    <p>Deliver in 10 Minutes </p>
                    <div class="order-view">
                      <a href="#" class="order-view-orange">order Detail</a>
                      <a href="#" class="order-view-green">processing</a>
                    </div>
                  </div>
                </div>
                <div class="user-dashboard-li">
                  <div class="dashboard-img">
                    <img src="./assets/images/img5.jpg" alt="">
                  </div>
                  <div class="dashboard-li-heading">
                    <h3>Misumisu Thai</h3>
                    <p>Apple Jiuce, Cold Drink</p>
                  </div>
                  <div class="price-inr">
                    INR 540
                  </div><div class="clearfix"></div>
                  <div class="dashboard-p">
                    <p>Deliver in 10 Minutes </p>
                    <div class="order-view">
                      <a href="#" class="order-view-orange">order Detail</a>
                      <a href="#" class="order-view-gray">Delivered</a>
                    </div>
                  </div>
                </div>

                <div class="user-dashboard-li">
                  <div class="dashboard-img">
                    <img src="./assets/images/img5.jpg" alt="">
                  </div>
                  <div class="dashboard-li-heading">
                    <h3>Misumisu Thai</h3>
                    <p>Apple Jiuce, Cold Drink</p>
                  </div>
                  <div class="price-inr">
                    INR 540
                  </div><div class="clearfix"></div>
                  <div class="dashboard-p">
                    <p>Deliver in 10 Minutes </p>
                    <div class="order-view">
                      <a href="#" class="order-view-orange">order Detail</a>
                      <a href="#" class="order-view-gray">Delivered</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="pagination-col">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">5</a></li>
              <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
