.banner-inner {
  padding: 51px 0;
}
.banner-topic ul{
  WIDTH:500PX;
margin-top: 30px;
}
.banner-topic ul li{
 DISPLAY:INLINE-BLOCK;
 text-transform: uppercase;
 margin-right:25px;
 cursor:pointer;
}
.header-logins-1 {
  background: #f9d121;
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #f9d121;
  transition: 0.5s ease-in-out;
  color: #262626;
  
}
.header-logins-1 :hover{
  background: transparent;
  color: #262626;
  cursor:pointer;
}
.header-logins-2 {
  padding: 5px 10px;
  border-radius: 5px;
  border: 2px solid #f9d121;
  color: #262626;
  transition: 0.5s ease-in-out;
  cursor:pointer;
}
.header-logins-2 :hover{
  background: #f9d121;
  cursor:pointer;
}
.recent-widget ul li{
    cursor:pointer;
    margin-bottom: 5px;
    border-bottom: 1px solid #f2f2f2;
}
.recent-widget ul li:hover a{
  color: #f9d121;
  text-decoration: none;
}
.recent-widget ul li a .fa-caret-right{
  margin-right:10px;
}
.masonry-item {
   width: 50%; 
   padding: 10px 10px;
  }
  