<app-header></app-header>
<div class="knowledge-food-section">
	<div class="container">
		<div class="knowledge-food-panel text-center">
			<h3>Become the best version of yourself! </h3>
			<!-- <p class="small-heading"></p> -->
			
			<form [formGroup]="articleForm" novalidate (ngSubmit)="savesearch()" class="knowledge-form">
				<div class="fill-form">
					<div class="row">
						<div class="col-md-8">
							
									<div class="search-input-block">

										<!-- <p-autoComplete class ="search-input" [(ngModel)]="countries" name="conutr" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
										[minLength]="1" (click)="changemade=true" placeholder="Search" field="title" [multiple]="true">
										</p-autoComplete> -->

										<input type="text" id="searchings" placeholder="Search" (keyup)="searching($event)" class="in-form">
										<div class="searched-items" id="searcheditems">
											<div>
												<h6 class="searched-title">Articles</h6>
												<ul class="searched-articles" *ngFor = "let article of searchingarticles">
													<li (click)="searchthis(article.title,'Article')">{{article.title}}</li>
												</ul>
											</div>
											<div >
													<h6 class="searched-title">Videos</h6>
													<ul  *ngFor = "let video of searchingvideos">
														<li (click)="searchthis(video.title,'Video')">{{video.title}}</li>
													</ul>
											</div>
											<div >
													<h6 class="searched-title">Experts</h6>
													<ul *ngFor = "let expert of searchingexperts">
														<li (click)="searchthis(expert.name,'Expert')">{{expert.name}}</li>
													</ul>
											</div>
										</div>


									</div>
												
								
						</div>
						
						<div class="col-md-4">
							<div>
								<input type="submit" value="SEARCH" class="submit-form"/>
							</div>
						</div>

					</div>
				</div>
			</form>
			<div class="block-h-knowledge-deatils">
				<ul class="list-inline">
					<li><span>{{postcount}}</span> Posts</li>
					<li><span>{{expertcount}}</span>  Experts</li>
					<li><span>18223</span>  Videos</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<section class="health-h-section">
	<div class="container">
		<div class="title-health">
			<h3>Health Tag by body condition</h3>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="health-li-1">
					<ul>
						<li class="li-1"><div class="right">diebetes</div></li>
						<li class="li-2"><div class="right">Gout</div></li>
						<li class="li-3"><div class="right">Autism</div></li>
						<li class="li-4"><div class="right">Avian</div></li>
						<li class="li-5"><div class="right">Allergies</div></li>
						<li class="li-6"><div class="right">Stress</div></li>
						<!-- <li class="li-7"><div class="right">Influenza</div></li>
						<li class="li-8"><div class="right">Obese</div></li> -->
					</ul>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="health-li-2">
					<ul>
						<li class="li-1"><div class="left">meningitis</div></li>
						<li class="li-3"><div class="left">Infection</div></li>
						<li class="li-4"><div class="left">Hairfall</div></li>
						<li class="li-6"><div class="left">Genetics</div></li>
						<li class="li-8"><div class="left">Asthma</div></li>
						<li class="li-7"><div class="right">Influenza</div></li>
						<!-- <li class="li-8"><div class="right">Obese</div></li> -->
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>


<section class="home-step-section">
	<div class="container">
		<div class="step1-li">
			<img src="./assets/images/5.png">
			<p>Understand how food and nutrition really works</p>
		</div>
		<div class="step2-li">
			<img src="./assets/images/6.png">
			<p>Research Backed Facts or Marketing Fads? Judge For yourself!</p>
		</div>
		<div class="step3-li">
			<img src="./assets/images/2.png" alt="">
			<p>The city best dieticians and nutrition experts at your finger tips</p>
		</div>
		<div class="step4-li">
			<img src="./assets/images/3.png" alt="">
			<p>Order food your body needs with our proprietery food engine</p>
		</div>
		<div class="step5-li">
			<img src="./assets/images/4.png" alt="">
			<p>Unlock health and wellness one bite at a time!  </p>
		</div>


		<div class="step6-li">
			<img src="./assets/images/1.png" alt="">
			<p>Got Questions we have got you covered</p>
		</div>
	</div>
</section>

<section class="talk-expert-section">
<div class="container">
    <div class="title-step">
			<h3 class="text-center">Talk To Most Popular Experts</h3>
	</div>
	
	<div class="expert-col">
			<ngx-slick class="carousel" #slickModal="slick-modal" [config]="slideConfig" >
              
					<div ngxSlickItem *ngFor="let slide of slides" class="slide slide-box">
						<div class="item">
							<div class="expert-slider-panel">
								<img src="./assets/images/nouserimage.jpeg" alt="" class="expert-slider-image">
								<div class="expert-slider-details">
									<h4>Random Singh</h4>
									<p>Certificate name, PHd, Some other degree</p>
								</div>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

							</div>
						</div>
					</div>
				</ngx-slick>
			
	</div>
	
    <!-- <div class="bio-info" [routerLink]="['/expert',expert._id]"
	*ngFor="let expert of expertData">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="bio-image">
							<img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" >
							<img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" >
                        </div>
                    </div>
                    <div class="col-md-9 person-name">
                        <div class="bio-content">
                            <h6>{{expert.name}}</h6>
                            <ul class="ratings">
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="fas fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                                <li><i class="far fa-star"></i></li>
                            </ul>
                            <div class="description-of-degree">
                               <ul class="degree">
                                   <li class="certificate-name">Certificate Name,PHD </li>
                                    <li class="mail-id">random@gmail.com</li>
                                </ul> 
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="right-bio-content">
                            <ul class="expertising">
                                <li>happiness coach</li>
                                <li>author</li>
                                <li>Keto</li>
                                <li>Enterprenuer</li>
                            </ul>
                            <p class="right-description">{{expert.profile_summary}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>
</section>



<!-- <section class="talk-expert-section">
	<div class="container">
		<div class="title-step">
			<h3 class="text-center">Talk To Most Popular Experts</h3>
		</div>
		<div class="expert-col">
			<div class="carousel-wrap">
				<div class="owl-carousel popular-expert">
					<div>
            <div class="item"  [routerLink]="['/expert',expert._id]"
            *ngFor="let expert of expertData" style="margin-top:10px;cursor:pointer;">
            <div class="row expert-testi-panel">
              <div class="col-md-4">
                <div class="expert-image">
                  <img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image" style="width:80px; height:93px;">
                  <img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image" style="width:80px; height:93px; ">
                </div> -->
                <!-- <img src="./assets/images/ic38.png" alt="" class="expert-testimonial-image"> -->
                <!-- <div class="expert-testimonial-details">
                  <h4>{{expert.name}}</h4>
                  <ul class="stars"></ul>
                  <p>Certificate name, PHd, Some degree</p>
                </div>
              </div>
              <div class="col-md-8 clearfix">
                <div class="description">
                  <p>{{expert.profile_summary}}</p>
                </div>
              </div>
            </div>
          </div>
        </div> -->
					<!-- *ngFor="let expert of expertData" -->
					<!-- <div class="item" [routerLink]="['/expert',expert._id]"  *ngFor="let expert of expertData" style="margin-top:10px;box-shadow:10px 10px 10px silver;cursor:pointer;">
						<div class="row expert-testi-panel">
							<div class="col-md-4">
								<img *ngIf="expert.profileImage && expert.profileImage != 'default.jpeg'" src="{{expertimagesurl}}{{expert.profileImage}}" alt="" class="expert-testimonial-image">
								<img *ngIf="!expert.profileImage || expert.profileImage == 'default.jpeg'" src="./assets/images/nouserimage.jpeg" alt="" class="expert-testimonial-image">
								<div class="expert-testimonial-details">
									<h4>{{expert.name}}</h4>
									<ul class="stars"></ul>
									<p>Certificate name, PHd, Some degree</p>
								</div>
							</div>

							<div class="col-md-8 clearfix">
								<div class="des">
									<ul class="keywords">
										<li *ngFor="let whoru of expert.whoareyou">{{whoru}}</li>
									</ul>
								</div>
								<div class="description">
									<p>{{expert.profile_summary}}</p>
								</div>
							</div>
						</div>
					</div> -->
				<!-- </div>
			</div>
		</div>
	</div>
</section> -->


	<!-- <section class="partner-section">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<img src="./assets/images/partner1.jpg" />
				</div>
				<div class="col-md-2">
					<img src="./assets/images/partner2.jpg" />
				</div>
				<div class="col-md-2">
					<img src="./assets/images/partner3.jpg" />
				</div>
				<div class="col-md-2">
					<img src="./assets/images/partner4.jpg" />
				</div>
				<div class="col-md-2">
					<img src="./assets/images/partner5.jpg" />
				</div>
				<div class="col-md-2">
					<img src="./assets/images/partner6.jpg" />
				</div>
			</div>
		</div>
	</section> -->

	<app-footer></app-footer>

	<!-- footer -->
	<!-- <footer>
	<div class="container">
	<div class="row">
	<div class="col-md-3 col-sm-12 col-xs-12">
	<div class="footer-panel footer-about">
	<h3>About us</h3>
	<p>YellowSquash is a health and wellness platform. Our aim is to make people aware how to achieve optimum health through the right diet and a healthy lifestyle. Explore our content to enrich your knowledge. You can also take an appointment with our empanelled global health experts to seek advice suited to your needs.</p>
</div>
</div>
<div class="col-md-3 col-sm-3 col-xs-12">
<div class="footer-panel">
<h3>Social connect</h3>
<div class="link-footer">
<ul class="footer-link-list">
<li><a href="#">Facebook</a></li>
<li><a href="#">Twitter</a></li>
<li><a href="#">Instagram</a></li>
<li><a href="#">Google +</a></li>
</ul>
<ul class="footer-link-list">
<li><a href="#">Linkedin</a></li>
<li><a href="#">Pinterest</a></li>
<li><a href="#">Youtube</a></li>
</ul>
</div>
</div>
</div>
<div class="col-md-3 col-sm-3 col-xs-12">
<div class="footer-panel">
<h3>Category</h3>
<ul class="footer-link-list footer-link-category">
<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Lifestyle</a></li>
<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Nutrition</a></li>
<li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i> Therapeutic</a></li>
</ul>
</div>
</div>
<div class="col-md-3 col-sm-3 col-xs-12">
<div class="footer-panel footer-social">
<h3>connect</h3>
<ul>
<li class="phone"><a href="tel:+919717333655">+91 9717333655</a></li>
<li class="mail"><a href="mailto:info@yellowsquash.in">info@yellowsquash.in</a></li>
<li class="address"><a href="javascript:void(0)">Noida, India</a></li>
</ul>
</div>
</div>
</div>
</div>
</footer>  -->
<!--footer --> 
