
<!-- <app-expert-login-header></app-expert-login-header> -->
<app-header></app-header>
<p-growl [(value)]="msg"></p-growl>
<div class="user-dashboard-section">
  <div class="container">
    <div class="row">
      <app-expert-sidebar></app-expert-sidebar>
      <div class="col-md-9 col-sm-8 col-xs-12 edit-article">
        <form  novalidate (ngSubmit)="editarticle()">
          <div class="form-group">
            <label>Title <font color="red">*</font>:</label>
            <input (change)="changemade=true" type="text" name="title" placeholder="Article title" [ngModel]="articleData?.title" (ngModelChange)="articleData.title = $event"  #title="ngModel" class="form-control" >
          </div>
          <div class="form-group" >
            <label>Summary <font color="red">*</font>:</label>
            <textarea (change)="changemade=true" type="text" name="summary" [ngModel]="articleData?.summary" (ngModelChange)="articleData.summary = $event"  placeholder="Article Summary" class="form-control"></textarea>
          </div>

          <div class="form-group" *ngIf="articleData?.articletype!='video'">
            <label>Content : <font color="red">*</font> </label>
            <p-editor (change)="changemade=true" name="article"  [style]="{'height':'320px'}" [ngModel]="articleData?.article" (ngModelChange)="articleData.article = $event" placeholder="Please enter your article here ....."></p-editor>
          </div>
          


         

          <!-- <div class="form-group">
            <label>Add Tags :</label>
            <ng-multiselect-dropdown
    [placeholder]="'Add your tags which related to your article'"
    [data]="dropdownList"
    [(ngModel)]="selectedItems"
    [settings]="dropdownSettings"
    (onDeSelect)="onItemDeSelect($event)"
    (onSelect)="onItemSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    [ngModelOptions]="{standalone: true}"
  >
  </ng-multiselect-dropdown>
          </div> -->
          
          <div class="form-group">
            <label>Select Tags  </label><br>
            <p-autoComplete [(ngModel)]="selectedItems" name="article_tags" [suggestions]="filteredCountriesMultiple" (completeMethod)="filterCountryMultiple($event)" styleClass="wid100"
            [minLength]="1" (click)="changemade=true" placeholder="Search tags" field="tag" [multiple]="true">
            </p-autoComplete>
          </div>

          <div class="form-group" *ngIf="articleData?.articletype=='video'">
            <label>Youtube Link <i class="fa fa-youtube"></i>  : </label>
            <input type="text" (change)="changemade=true" name="youtubelink" [ngModel]="articleData?.youtubelink" (ngModelChange)="articleData.youtubelink = $event" placeholder="Article title"  class="form-control">
          </div>
          <div class="col-md-6">
          <div class="form-group" *ngIf="articleData?.articletype!='video'">
            <label>Article Header Image <font color="red">*</font> :<br/> <b style="color:grey">Note: Upload for better view of article</b> </label>
            <input  type="file"  name="headerimage" class="banner-input" (change)="handleFileSelect($event)">
            <!-- <img src="./assets/images/cover.png" class="img img-fluid" *ngIf="!article_header_64textString"> -->
            <img *ngIf="article_header_64textString" src="{{article_header_64textString}}" style="height:150px;" class="img img-fluid"/>
            <img *ngIf="!article_header_64textString" src="{{headerimageurl}}{{articleData?.headerimage}}" style="height:200px">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" *ngIf="articleData?.articletype!='video'">
            <label>Article Preview Image <font color="red">*</font> : <br/> <b style="color:grey">Note: upload for better view of article</b></label>
            <input type="file"  name="projectionimage" class="banner-inputt" (change)="handleprojectionFileSelect($event)">
            <!-- <img src="./assets/images/cover.png" class="img img-fluid" *ngIf="!article_projection_64textString"> -->
            <img *ngIf="article_projection_64textString" src="{{article_projection_64textString}}" style="height:150px;" class="img img-fluid"/>
            <img *ngIf="!article_projection_64textString" src="{{projectionimageurl}}{{articleData?.projectionimage}}" style="height:200px">
          </div>
        </div>
        <div class="col-md-12" *ngIf="articleData.mailsentbyadmin">
          <form (submit)="sendfeedback()">
            <div class="form-group">
              <textarea class="form-control" [(ngModel)]="feedback" name="feedback" placeholder="Enter feedback for this "></textarea>
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-sm">Send</button>
              <button (click)="feedbackshowflag=0" class="btn btn-danger btn-sm">Cancel</button>
            </div>
          </form>
        </div>
          <div class="form-group" style="margin-top:15px; float:right;">
            <button *ngIf="articleData.mailsentbyadmin" (click)="approvearticle()" class="btn btn-success" type="button"><i class="fa fa-check"></i> Approve</button>
            <button *ngIf="articleData.draft && !articleData.mailsentbyadmin" type="submit" class="btn btn-primary"> <i class="fa fa-comment"></i> Update</button>
            <button *ngIf="!articleData.draft  && !articleData.mailsentbyadmin" type="submit" class="btn btn-primary"> <i class="fa fa-comment"></i> post</button>
            <button  *ngIf="!articleData.mailsentbyadmin" type="button" class="btn btn-primary" style="margin-left:10px" (click)="singlearticle(articleData._id)">Preview <i class="fa fa-eye"></i></button>
            <button  *ngIf="!articleData.mailsentbyadmin"type="button" class="btn btn-warning" style="margin-left:10px;" (click)="back()"><i class="fa fa-times"></i> cancel</button>

            <!-- <button  type="button" class="btn btn-warning" style="margin-left:10px;" routerLink=['/singlearticle',articleData._id]><i class="fa fa-times"></i> cancel</button> -->
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
