.left-buttons{
    width: 100%;
    margin-bottom:10px;
    font-family: 'Gotham';
    font-weight:600;
}
.follow{
    text-transform: uppercase;
    background-color: #f9d121;
    color: #000000;
    width:50%;
    outline: none;
    border: none;
    padding: 5px 5px;
    margin-right:5px;
}
.sub{
    text-transform: uppercase;
   background-color: #1fcb5f;
    color: #000000;
    width:48%;
    outline: none;
    border: none;
    padding: 5px 5px;
}
