<div class="col-md-3 col-sm-4 col-xs-12">
  <div class="demo">
    <div role="tabpanel">
      <div class="xprt-panel-left">
        <div>
          <div class="left-buttons" *ngIf="expert_loggedin_flag && show_fs_logged_expert">
            <!-- <button *ngIf="!user_id"  data-toggle="modal" data-target="#expertLoginModal" style="cursor:pointer;"  class="follow">Follow</button>
            <button data-toggle="modal" data-target="#expertLoginModal" style="cursor:pointer;" *ngIf="!user_id" class="sub">Subscribe</button>
            <button *ngIf="otherexpert" (click)="follow()"  data-toggle="modal" data-target="#expertLoginModal" style="cursor:pointer;"  class="follow">Follow</button> -->
            <button *ngIf="!follow_status" (click)="follow()" style="cursor:pointer;"  class="follow">Follow <i *ngIf="follow_process_loading" class="fa fa-spinner fa-spin"></i></button>
            <button *ngIf="follow_status" (click)="unfollow()" style="cursor:pointer" class="follow">UnFollow <i *ngIf="follow_process_loading" class="fa fa-spinner fa-spin"></i> </button>
            <!-- <button (click)="subscribe()" *ngIf="otherexpert" class="sub">Subscribe</button> -->
          </div>

          <ul class="nav nav-tabs  nav-tabs-dropdown left-bar-tab" role="tablist" *ngIf="expert_loggedin_flag && !show_fs_logged_expert" >
             <li *ngIf="user_id"  [routerLink]="['/profile']" routerLinkActive= "active" role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic17.jpg" alt="Profile">
                Profile
              </a>
            </li>
            <li *ngIf="user_id" [routerLink]="['/articles']" routerLinkActive="active"  role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                Articles
                <span  title="Un-Published articles and videos" style="background:#f8cf48 !important" class="badge badge-warning">
                  {{unpublised_articles_counter}}
                </span>
              </a>
            </li>
            <li *ngIf="!user_id" (click)="navigateto_expert_description()" role="presentation"><a   aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic9.jpg" alt="dashboard ic"> About  </a></li>
           
            <li *ngIf="!user_id" (click)="navigatepuclicarticles()"  routerLinkActive="active"  role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                Articles
              </a>
            </li>

            <li *ngIf="user_id" [routerLink]="['/videos']"   routerLinkActive="active"  role="presentation">
                <a aria-controls="profile" role="tab" data-toggle="tab">
                  <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                  Videos
                </a>
            </li>

            <li *ngIf="user_id" [routerLink]="['/followings']"  routerLinkActive="active"  role="presentation">
                <a aria-controls="profile" role="tab" data-toggle="tab">
                  <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                  Following
                </a>
            </li>
            <li *ngIf="user_id" [routerLink]="['/followers']"  routerLinkActive="active"  role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                Followers
              </a>
          </li>
           
            <li *ngIf="user_id">
              <a data-toggle="modal" data-target="#changePasswordModal" style="cursor:pointer;">
                <img src="./assets/images/ic17.jpg" alt="Change password">
                Change Password
              </a>
            </li>

            <li *ngIf="user_id" [routerLink]="['/draft']"  routerLinkActive="active"  role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic17.jpg" alt="articlesdraft">
                Draft Articles
              </a>
            </li>

            <li *ngIf="user_id" (click)="logout()" role="presentation">
              <a href="#" aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic15.jpg" alt="dashboard ic">
                Sign out
              </a>
            </li>
          </ul>

          <!-- other expert side navigation -->

          <ul class="nav nav-tabs  nav-tabs-dropdown left-bar-tab" role="tablist" *ngIf="expert_loggedin_flag && show_fs_logged_expert">
            <!-- <li [routerLink]="['/dashboard']" routerLinkActive="active" role="presentation" ><a > <img src="./assets/images/ic6.jpg" alt="dashboard ic"> Dashboard</a></li>
            <li [routerLink]="['/mybookings']"  routerLinkActive="active" role="presentation"><a ><img src="./assets/images/ic7.jpg" alt="dashboard ic"> My Bookings</a></li> -->
            <li [routerLink]="['/exp/articles/',expert_id]" routerLinkActive="active"  role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                Articles
              </a>
            </li>
            <li (click)="navigateto_expert_description()" role="presentation">
              <a aria-controls="profile" role="tab" data-toggle="tab">
                <img src="./assets/images/ic9.jpg" alt="dashboard ic">
                About
              </a>
            </li>
            <!-- <li *ngIf="!user_id" (click)="navigatepuclicarticles()"  routerLinkActive="active"  role="presentation">
            <a aria-controls="profile" role="tab" data-toggle="tab">
            <img src="./assets/images/ic9.jpg" alt="dashboard ic">
            Articles
          </a>
        </li> -->
      </ul>



    </div>
  </div>
</div>
</div>
</div>




<!-- end of yellow panel -->
<!--
<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg modal-login" role="document">
<div class="modal-content">
<div class="modal-header" style="background:black">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">Modal Header</h4>

</div>
<div class="modal-body">
<p-growl [(value)]="msg"></p-growl>
<div class="row">
<div class="col-sm-12">


<div class="main-div">
<form [formGroup] = "cpForm"  novalidate (ngSubmit)="changepassword()">
<div class="form-group">
<input type="email" class="form-control" formControlName="oldpassword" placeholder="Email Address">
<div class="alert alert-danger"  *ngIf="cpForm.get('oldpassword').touched && cpForm.get('oldpassword').invalid">
<div *ngIf="cpForm.get('oldpassword').hasError('required')">Error: Field Required</div>
</div>
</div>
<div class="form-group">
<input type="password" class="form-control" formControlName="newpassword" placeholder="Password ******">
<div class="alert alert-danger" *ngIf="cpForm.get('newpassword').touched && cpForm.get('newpassword').invalid">
<div *ngIf="cpForm.get('newpassword').hasError('required')">Error: Field Required</div>
<div *ngIf="cpForm.get('password').hasError('minlength')">Error: Length should be greated than 7</div>
</div>
</div>
<div class="forgot">
<a href="reset.html">Forgot password?</a>
</div>
<button type="submit" class="btn btn-primary"  [disabled]="cpForm.invalid">Login</button>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
-->




<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-login changepassword" role="document">
    <p-growl [(value)]="msg"></p-growl>
    <div class="popup ">
      <a class="close" id="close_changepassword" style="cursor:pointer" data-dismiss="modal" >&times;</a>
      <h1>Change Password</h1>
      <div class="main-div">
        <form [formGroup] = "changePasswordForm"  novalidate (ngSubmit)="changePassword()">
            <!-- <div class="form-group">
                <input type="text" class="form-control" (blur)="checkemailpresence()" formControlName="email" placeholder="Your Email">
                <div class="text-danger" *ngIf="changePasswordForm.get('email').touched && changePasswordForm.get('email').invalid">
                  <div *ngIf="changePasswordForm.get('email').hasError('required')">Error: Field Required</div>
                  <div *ngIf="changePasswordForm.get('email').hasError('email')">Erorr: Invalid Email</div>
                </div>
              </div> -->
        
          <div class="form-group">
              <input type="password" class="form-control" formControlName="oldpassword" placeholder="**********">
              <div class="text-danger" *ngIf="changePasswordForm.get('oldpassword').touched && changePasswordForm.get('oldpassword').invalid">
                <div *ngIf="changePasswordForm.get('oldpassword').hasError('required')">Error: Field Required</div>
                <div *ngIf="changePasswordForm.get('oldpassword').hasError('minlength')">Error: Length should be greated than 7</div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label>Password</label> -->
              <input type="password" class="form-control" formControlName="newpassword" placeholder="**********">
              <div class="text-danger" *ngIf="changePasswordForm.get('newpassword').touched && changePasswordForm.get('newpassword').invalid">
                <div *ngIf="changePasswordForm.get('newpassword').hasError('required')">Error: Field Required</div>
                <div *ngIf="changePasswordForm.get('newpassword').hasError('minlength')">Error: Length should be greated than 7</div>
              </div>
            </div>
            <div class="form-group">
              <!-- <label>Password</label> -->
              <input type="password" class="form-control" formControlName="confirmnewpassword" placeholder="**********">
              <div class="text-danger" *ngIf="changePasswordForm.get('confirmnewpassword').touched && changePasswordForm.get('confirmnewpassword').invalid">
                <div *ngIf="changePasswordForm.get('confirmnewpassword').hasError('required')">Error: Field Required</div>
                <div *ngIf="changePasswordForm.get('confirmnewpassword').hasError('minlength')">Error: Length should be greated than 7</div>
              </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" id ="change" type="submit">Update </button>
              </div>
          <!-- <div class="forgot">
          <a href="reset.html">Forgot password?</a>
        </div> -->
        <!-- <button type="submit" class="btn btn-primary" id="change" [disabled]="changePasswordForm.invalid">Update</button> -->
      </form>
    </div>
  </div>
</div>
</div>




<!-- <li role="presentation"><a href="#message" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic10.jpg" alt="dashboard ic"> Message <span class="badge-red">1</span></a></li>
<li role="presentation"><a href="#forum" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic11.jpg" alt="dashboard ic"> Forum</a></li>
<li role="presentation"><a href="#healthprofile" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic12.jpg" alt="dashboard ic"> Health Profile</a></li>
<li role="presentation"><a href="#interest" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic13.jpg" alt="dashboard ic"> My Interests</a></li>
<li role="presentation"><a href="#followers" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic14.jpg" alt="dashboard ic"> FOllowers</a></li>
<li role="presentation"><a href="#following" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic15.jpg" alt="dashboard ic"> Followings</a></li>
<li role="presentation"><a href="#order" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic16.jpg" alt="dashboard ic"> My Orders</a></li>
<li role="presentation"><a href="#account" aria-controls="profile" role="tab" data-toggle="tab"><img src="./assets/images/ic17.jpg" alt="dashboard ic"> Account Settings</a></li> -->
