.btn{
    color: #000000 !important;
    font-weight: 600;
}
.nested{
    display:inline-block;
}
.btn{
    background-color: #f8cf23;
    outline:none;
    border:none;
}

header{
    padding: 0 0 15px 0 !important;
   background-color:#000000;
   margin: 0 !important;
}

.menu-col{
    float:right !important;
    width:80% !important;
    margin-top: 35px !important;
}
.navbar-brand{
    width: 15%;
   display: inline-block;
   vertical-align: middle;
   margin-right: 30px;
   max-width: 200px;
   padding: 20px 0 0 0;
}

.point a {
  cursor:pointer;
}
.list-inline li a{
    display: block;
    color: #FFFFFF;
    text-align: left;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-family: "Montserrat", sans-serif !important;
    font-weight: 700;
    letter-spacing: 2px;
    margin-left: 32px;
}
.dropdown-menu{
    position:absolute;
/*    left:23% !important;*/
    background: #f9d121;
}
.adding-articles{
    font-family:'Gotham';
}
.adding-articles select{
    border-radius:5px;
}
.dropdown-menu li a{
    text-decoration:none;
    COLOR: #000000;
    cursor: pointer;
}
@media (max-width: 767px){
.navbar-brand {
   width: 130px;
   margin: 0 auto;
   float: none;
   position:absolute;
   top:2%;
   left:28%;
}
}
.box {
  width: 40%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

/*
.button {
  font-size: 1em;
  padding: 10px;
  color: #262626;
  border: 2px solid #262626;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
   transition: all 0.3s ease-out;
}
*/


.overlay {
  position: fixed;
    overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .97);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    font-family:Lato;
    position: relative;
    margin: 70px auto;
  
    background: #fff;
    text-align: center;
    border-radius: 4px;
    width: 700px;
    height:550px;
    background-image: url(../../.././assets/images/n1.png);
    background-position: 20px 100%;
    background-size: auto 165px;
    background-repeat: no-repeat;
    padding: 50px !important;
    box-sizing: border-box !important;
}
header{
  background-color: #000000;
  margin: 0 0 50px 0;
}
.popup::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #c1c1c1;
}

.popup::-webkit-scrollbar
{
	width: 12px;
	background-color: #c1c1c1;
}
.popup::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
.popup_login {
    position: relative;
  margin: 70px auto;

  background: #f3f3f3;
    text-align: center;
  border-radius: 4px;
  width: 900px;
    height:550px;
  background-image: url(../../../assets/images/n1.png);
    background-position: 20px 100%;
    background-size: auto 165px;
    background-repeat: no-repeat;
    padding: 50px !important;
/*    margin: 5px;*/
    box-sizing: border-box !important;
/*    display: flex;*/
/*  transition: all 5s ease-in-out;*/
}
.popup_login h1{
     font: 26px/36px "Montserrat", sans-serif;
    width: 100%;
    letter-spacing: 1;
    max-width:600px !important;
  margin-top: 40px;
     text-align: center;
    margin-left:auto !important;
    margin-right:auto !important;
    margin-bottom: 30px;
    font-weight:500;
/*    font-size: 32px;*/
  color: #333;
text-transform: uppercase;
}
.popup h1{
    font: 26px/36px "Montserrat", sans-serif;
    width: 100%;
    letter-spacing: 1;
    max-width:600px !important;
  margin-top: 0;
     text-align: center;
    margin-left:auto !important;
    margin-right:auto !important;
    margin-bottom: 30px;
    font-weight:500;
/*    font-size: 32px;*/
  color: #333;
text-transform: uppercase;

    transform: translateY(-2px);
}
        .subtitle{
            display:block;
            max-width:360px;
            font-weight: 400;
            font-size: 16px;
             margin-left:auto !important;
    margin-right:auto !important;
             margin-bottom: 25px;
        }
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .fields {
    max-width: 300px;
    margin-left:auto;
    margin-right:auto;
}
        .social-buttons{
            margin-bottom: 20px;
        }
        .button-large{
            width: 100%;
            height: 37px;
            line-height: 37px;
            padding: 0px 18px;
            font-size: 17px;
            border-radius: 4px;
            text-align: left;
            background-color: #fff;
            outline: none;
            border: none;
            cursor: pointer;
        }
       .button-large span.icon{
            top: -1px;
            position: relative;
            padding-right: 12px;
            vertical-align: middle;
            height: 28px;
           line-height: 25px;
            display: inline-block;
            text-align: left;
        }
        .fa-google{
            color:#dd4b39;
        }
        .fa-facebook{
            color: #3b5999;
        }
        .fa-twitter{
            color: #55acee;
        }
form-group input{
     font: 15px/24px "PT Serif", sans-serif !important;
}
        span.content{
            line-height: 37px;
            margin-left: 10px;
            cursor: pointer;
            font: 15px/24px "PT Serif", sans-serif !important;
            letter-spacing: 1;
        }
        .footer-content{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            max-width: 400px;
             margin-left:auto;
    margin-right:auto;
            margin-top: 20px;
            margin-bottom: 25px;
            font-family: "PT Serif", sans-serif ;
        }
 .footer-content p{
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            max-width: 400px;
             margin-left:auto;
    margin-right:auto;
            margin-top: 20px;
            margin-bottom: 25px;
            font-family: "PT Serif", sans-serif ;
        }

        .footer .ui-body{
            color: #262626;
          text-align: center;
            font-family: "PT Serif", sans-serif ;
        }
.footer a{
    text-decoration:none;
    color: #262626 !important;
    font-weight: bold;
    font-family: "PT Serif", sans-serif ;
    padding-right: 0 !important;
}
        @media screen and (max-width: 320px){
            .popup{
              height: auto;
            }
        }


        @media screen and (max-width: 768px){
            .popup{



                width: 100%;
                height:100%;
                margin: 0;
                background-image: none;
            }
        }
